[2018-02-20 19:20] maxkfranz commented on #93
Please see the NRNB instructions on how to write and submit a proposal: http://nrnb.org/gsoc.html

[2018-02-20 20:41] sanket0211 commented on #118
@jvwong Sir,
Is Something similar to Graphspace expected?

[2018-02-20 20:44] sanket0211 commented on #92
@maxkfranz Sir,
Is there any template which we should follow while creating the project plan? Can you please help us know important aspects that we should keep in mind while creating the project proposal?
Thank you

[2018-02-21 02:36] Tivcrmn commented on #93
@maxkfranz , Thank you so much!!! I will try to do some demos and make a proposal. Hope that I can join the project.

[2018-02-21 10:51] jahandaniyal commented on #112
Hi Mentors @tmmurali @adbharadwaj ,
I have gone through the instructions for Potential GSOC Students and I have been working on few issues currently. I wish to pursue this project for GOSC '18, to this end I would like the forward my Resume.
Please let me know if it is the right time to forward my resume.

Thanks.

[2018-02-21 14:44] cannin commented on #109
This is a new project, so there is not a current repository to contribute to. As far as how to proceed, the goal remains to build the ihop interface using the app-ui code given the Dropbox data stored in a RethinkDB database.

[2018-02-21 17:53] CharukaK commented on #120
Hi,
I'm a Computer Science undergraduate currently studying in my 3rd year, and I'm interested in working on this project what work should I do first to get an understanding of this project?

[2018-02-21 20:16] draeger commented on #120
Hi @CharukaK, great to see you're interested in this!

This work focusses on spatial modeling approaches, e.g., simulations of molecular movements in a three-dimensional cellular environment. This can be more precise and take additional features of biological systems into account compared to models based on ordinary differential equations (which implicitly assume cells to be homogeniously structur

[2018-02-22 04:40] CharukaK commented on #120
Hi @draeger, Thanks for the quick reply, I will refer to the documentation you provided and will contact the mentors via email.

[2018-02-22 17:32] flaredragon commented on #109
Thank you so much!
I'll start working on the proposal and get back to you for some feedback soon.

[2018-02-22 17:40] ms10398 commented on #94
I am working on it and will give my feedback about it soon.

Thanks! @jajodiaraghav

[2018-02-22 18:58] tmmurali commented on #112
Sure. Please send us your resume.

[2018-02-23 13:53] haleyyew commented on #121
I want to work on this project. I worked with NRNB last summer, the project was [SBML to SBGN interconversion](https://github.com/nrnb/GoogleSummerOfCode/issues/67), and my mentors were Nicolas Rodriguez and Sarah Keating. My project repository can be found [here](https://github.com/NRNB-GSoC2017-SBML2SBGNML-Converters/SBML2SBGNML)

The first 2 goals of this project seems easy, because I already h

[2018-02-24 16:50] ozgunbabur commented on #121
Hi Haoran, your past experience seems well suited for this or a related
project, however, GSoC requires students to be full time. Please see

https://developers.google.com/open-source/gsoc/faq#how_much_time_does_gsoc_participation_take

Let us know if your commitments change.

Best,
Ozgun

On Feb 23, 2018 5:53 AM, "Haoran Yu" <notifications@github.com> wrote:

[2018-02-25 04:48] joe83830 commented on #116
Hi @bdemchak ,

My name is Joe Liao, I'm interested in exploring possibilities on this particular project.
I have experience building Java JAX-RS (w/ Jersey) servers, and have experience using python (Flask server, data science, elementary unit testing). I also have experience using tools like Git, AWS, GCP, and CircleCI. Is there a chance that you could point me to the source code of Cytoscape an

[2018-02-25 04:58] joe83830 commented on #116
Hi, @bdemchak,

My bad, I just saw the github repo, and the wonderfully documented "Cytoscape Automation FAQ". Could you perhaps point me to an example of a possible area of improvement, and briefly talk about your expectations for the project?

Thanks!

[2018-02-26 00:13] souravsingh commented on #122
Hello, I am interested in the project.

I am currently a final year undergraduate student and a certified software carpentry instructor and I am interested in the field of Phylogenetics, Proteomics, High-Throughput sequencing and Machine Learning. I have a working knowledge of Django and Javascript.

About some of the ideas for the project, the uploading part can be done simply by adding a ``FileF

[2018-02-26 23:01] bdemchak commented on #116
Hi, Joe --

Glad to meet you.

An example of app-needing-automation would be Merge (http://apps.cytoscape.org/apps/networkmerge). Its code is here: https://github.com/cytoscape/network-merge

Most apps are created by community members and contributed to the app store. The apps we're concerned with are created by the Cytoscape core developers and are in the Cytoscape github repository. Merge is an

[2018-02-27 00:23] AlexanderPico commented on #122
I'm getting some great questions and suggestions for this project! (thanks @souravsingh and Maria) I'll try to answer them here and share updates with all potential applicants.

1. `django-reviews` package for adding review support. Can you describe how user identification is handled by this package? For example, we would like to support anonymous reviews, rating and issue report, but at the same

[2018-02-27 07:22] SamuelSauce commented on #72
Hello! I am posting this comment in regards to my interest in the project. I'm actually a student here at the University of Utah and have been in touch with Chris Myers, as my good friend worked on a GSoC project for him last summer. I have managed to get a hold of, Engineering Genetic Circuits, by Chris Myers, which should give me the necessary knowledge of molecular biology. Additionally I would

[2018-02-27 09:47] chofski commented on #117
@Dyex719 Google summer of code is now live and NRNB has been accepted as an organisation. Please feel free to submit a proposal for this project. James and myself are happy to provide some further information, although it sounds like you have already been playing with the approach.

[2018-02-27 13:28] souravsingh commented on #122
'django-reviews' handles user identification through their account info. In case, the user is anonymous, there is a setting called `REVIEWS_IS_NAME_REQUIRED` and `REVIEWS_IS_EMAIL_REQUIRED` for storing their names and e-mail for future contact.

As for `FileField`, I propose displaying the scripts as a Notebook(if they are Python scripts) or as color-highlighted code once the upload is done.

[2018-02-27 16:05] Dyex719 commented on #117
Thanks for the update! I've been looking into some resources. I hope to ask further questions upon investigating more.

[2018-02-27 16:06] Dyex719 commented on #117
Thanks for the update! I've been looking into some resources. I hope to ask further questions upon investigating more!

[2018-02-27 22:08] hsiaoyi0504 commented on #118
Hi @jvwong and everyone,

I would like to explore the possibility to work on this one.

My name is Yi Hsiao, and I have experience mostly on Python and Javascript (JQuery, React.js).
I have a similar project for visualizing network before based on cytoscape.js, but not in quite modern javascript way. https://github.com/hsiaoyi0504/network_visualization_cases

But I think I can do this since I have

[2018-02-28 14:52] ChavaVennela commented on #120
Hi,
I'm a sophomore pursuing Computer Science in Amrita School of Engineering, India. I'm interested in working on this project. I contacted the mentor through mail, they redirected me here. It would be a great start for me if you suggest me with a good first bugs I can work on.
Thanks!!

[2018-02-28 16:27] joe83830 commented on #116
Understood.

I will dig deeper into the links above and the repo in general, thanks!

[2018-02-28 17:55] cannin commented on #110
# Swagger Tutorial
* https://sookocheff.com/post/api/swagger/

## Example generated web interface
* http://petstore.swagger.io/#/pet/updatePet

## More complex Swagger example on a database similar to Pathway Commons (i.e. WikiPathways)
* https://webservice.wikipathways.org/index.php?swagger

# Swagger Codegen to Provide R Interface
* https://github.com/swagger-api/swagger-codegen

[2018-02-28 19:15] SamuelSauce commented on #99
Hello! I am making a comment on this post in regards to my interest in the project for GSoC. I am wanting to make sure that this is one of the projects included in which I may submit my proposal for. If this is the case, I would like to ask what relevant information should I be studying to better write my proposal? I do have Engineering Genetic Circuits by Chris Myers which I have been reading thr

[2018-02-28 23:32] eoberortner commented on #99
Hi Samuel! Thanks for your interest!
The two tools (SBOLDesigner and BOOST) will communicate SBOL with each other (http://sbolstandard.org/).
I'd recommend having a look into the SBOL 2.2.0 specification (http://sbolstandard.org/data-model-specification/) and the SBOL software libraries (http://sbolstandard.org/libsbol/).
Please let me know if you have any further questions!

[2018-03-01 00:28] odmoreno commented on #118
Hello @jvwong ,
I would like to work on this, I find it very interesting.
My name is Oscar Moreno, I have experience in javascript (React, React native, Redux, Vuejs), also experience in web development projects on the client and server side.
Could you tell me how to start in this project?

[2018-03-01 10:01] kvnamipara commented on #117
@chofski @Dyex719
Greetings!!
I would like to contribute and apply to this project for GSoC. I already started to go through the above-mentioned resources. Let me know if you have any further resources and information.

[2018-03-01 12:09] chofski commented on #117
Great! I think the best resources are those we outlined and for the proposal we would be happy to see your own ideas on how best to combine these various standards in a useful way. Some sort of prototype could also be a nice demonstration of your idea in the proposal to clearly show how you will tackle the problems. Best of luck.

[2018-03-01 14:08] sanket0211 commented on #114
@adbharadwaj Sir and prof. @tmmurali,
I am in the process of writing Gsoc'18 Proposal for this project.
Is there anything I need to keep in mind while creating the proposal?
Are there any key points with respect to this project which I need to keep in mind?
Are there any guidelines Gsoc aspirants are supposed to follow while writing the proposal?
Thank you.

[2018-03-01 18:55] SamuelSauce commented on #98
Hello! I have been in touch with Andreas Dräger in regards to browsing around for a project that I would like to submit a proposal for in regards to GSoC. After looking around I have decided that this project has peaked my interest, along with having a great fit for my skillset of already being experienced with Java/C++. Besides already being familiar with Java, C++, XML, GUI programming and  nume

[2018-03-02 09:15] matthiaskoenig commented on #114
Here some thoughts/points I find important:

Basically what you have to do is write a full serialization of the VisualMapping, i.e., how VisualAttributes Map on Node/Edge Attributes. I would have a look at the Cytoscape Visual Mapper and the VisualMappings/VisualStyle which are possible to get a feeling for what must be included. This works very well and is already thought out.

Until now I only s

[2018-03-02 15:38] niko-rodrigue commented on #120
Hi @ChavaVennela, before starting fixing bugs, you should start to get more familiar with JSBML, SBML and in particular, with the spatial package. In the JSBML github wiki, you have as well a page describing how the validation process work.

[2018-03-02 19:33] AdamStuart commented on #114
Matthias,

FYI, I am working on an app called legend-creator, that seems to overlap this project.   https://github.com/cytoscape/legend-creator <https://github.com/cytoscape/legend-creator>

My approach was to put the legend onto the canvas as group annotations, but this didn’t work out because the system to select, move, edit annotations is currently too cumbersome.  Revising that system is on th

[2018-03-04 08:37] draeger commented on #98
Dear @SamuelSauce, thanks for reaching out to us! It is probably best if you take the proposal template at https://tinyurl.com/nrnb-gsoc-application-template and prepare a Google document that you share with all potential mentors, @funasoul, @kaitoii11, and myself. We will be happy to provide you with detailed comments and suggestions.

[2018-03-04 08:49] draeger commented on #120
Here you can find the proposal template that NRNB recommends to all students: https://tinyurl.com/nrnb-gsoc-application-template. It is also a good idea to draft a proposal early on and to share it with all potential mentors who will give you more detailed feedback if you can ask specific questions.

[2018-03-05 14:39] ChavaVennela commented on #120
Hi @niko-rodrigue, Thank you for providing a suggestion to start with, I will refer to the documentations on  topics related to JSBML, SBML, spatial packages and concept of validation.

[2018-03-06 19:06] chofski commented on #117
@Dyex719 @kvnamipara Details of how to apply and a template for the application can be found at the following link: http://nrnb.org/gsoc.html#apply-tab

[2018-03-06 19:08] chofski commented on #74
Applications should be made at: http://nrnb.org/gsoc.html#apply-tab

[2018-03-07 00:37] Dyex719 commented on #117
I plan to submit a draft proposal on March 15th. Is that early enough?

[2018-03-07 08:36] chofski commented on #117
Details of the timeline should be on the GSoC website: https://summerofcode.withgoogle.com

[2018-03-07 09:57] jajodiaraghav commented on #94
Useful link for students: http://nrnb.org/gsoc.html#apply-tab
The list also contains a proposal template which you be helpful for applicants.

[2018-03-07 16:33] Sylfrena commented on #120
Hi!
I am a Computer Science undergraduate currently studying in my sophomore year. I would love to work on this project. It would be of great help if you could provide me with a few suggestions to start out with in order to contribute to this project.
Regards,
Sumera.

[2018-03-09 09:51] superdyzio commented on #110
Hello! I've been working with REST APIs for a long time, I am able to navigate Java code (I have purely academic experience) and I've been helping with swagger-codegen in one of non-commercial projects in my current company. I don't know much about R, but I've done some course on code school and I'm willing to learn more about it. What can I do to increase my chances to be assigned to this gsoc pr

[2018-03-09 09:55] superdyzio commented on #94
Hello guys! @ms10398 are you working on it? You've already started few weeks ago so I wouldn't like to get you in the way with my proposal.

[2018-03-09 11:16] ms10398 commented on #94
Yes I have already implemented all three modules and will be submitting proposal as soon as the applications are open

[2018-03-09 18:00] cannin commented on #110
@superdyzio the end goal of this project is to produce a functional R package from the constructed Swagger API. A good project proposal will take this into account and address the necessary steps and identify what is needed components that an auto-generated Swagger API will be missing. To give a related use-case example for a project, called CBioPortal (that our group additionally works on):

Here

[2018-03-09 18:32] tmmurali commented on #114
@matthiaskoenig Thank you for the valuable ideas. I am sorry for the delayed reply. We are already using Cytoscape.js XML formats for the styles of graphs in GraphSpace. We will look in detail at the links you have provided, although I am not sure to what extent the XML format supported by Cytoscape.js matches exactly with the format supported by Cytoscape.

When a GraphSpace user creates a graph

[2018-03-09 18:34] tmmurali commented on #114
@AdamStuart Thank you for the pointer to your Cytoscape app. This particular project is related to GraphSpace. I think there may be sufficient difference between the two projects for us to continue development separately while continuing to consult with and learn from each other. We can discuss further depending on whether this GSoC project is selected.

[2018-03-10 10:38] kvnamipara commented on #117
@chofski
I would like to discuss about different approaches for the project. What will be the suitable mode of communication? Do organization has gitter/slack channel? Or should i post here?

[2018-03-10 10:39] chofski commented on #117
@kvnamipara posting here is the best way, also happy to discuss things over Skype.

[2018-03-10 14:52] Dyex719 commented on #117
@chofski Sorry, I missed your comment.
I actually wanted to submit a draft of the proposal to you first, so that you can review it. Is that okay?

[2018-03-11 12:31] chofski commented on #117
Yes, I'd be happy to look it over and provide some advice.

[2018-03-11 14:10] Dyex719 commented on #117
@chofski
This is my basic idea:
If we view the parametric SVG image as a film of images strung together, we essentially want a snapshot of one instance of the image with user defined parameters.
Here is a small javascript program that parameterizes a circle by taking inputs from the user:
https://jsfiddle.net/dyex719/skb38n5n/2/

I tried to do this with a more complicated SVG image, but I am facin

[2018-03-11 21:12] chofski commented on #117
This is a great start. The specific elements that need parameterising should be agreed with the SBOLv community, but for now just playing with a couple is fine. For Python, we would like to ultimately render these using matplotlib, so some sort of limited parser would be a good bet. It doesn't need to be fully SVG compliant, but does need to support a subset needed to render all the glyphs in SBOL

[2018-03-12 05:46] ugurdogrusoz opened #123 "Integrating PathwayMapper into cBioPortal"
### Background
While the network visualization module in cBioPortal is a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA) . With the motivation of creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data ‘decorati

[2018-03-12 10:50] Xinghom commented on #49
Hi @bdemchak,

Here is a candidate!
I am Xinghom, a master student, having a good graph algorithms' understanding. Also, I am familiar with Python, Java and C++. Recently, I'm learning parallel processing. I will send my details to you. Hoping I can do my contributions to this!

[2018-03-12 15:31] tmmurali commented on #114
@matthiaskoenig Thanks for the follow up questions. Since you have raised
many points and GitHub does not support inline responses, I have
highlighted your statements in blue.

   - GraphSpace and cytoscape.js support a JSON style format (probably the
   same format)

Yes, GraphSpace relies entirely on Cytoscape.js for graph layout and
specifying styles.

   - This JSON style format translates to

[2018-03-12 15:56] tmmurali commented on #114
Well... "blue" text does not appear in blue. Sorry about that.

[2018-03-12 16:52] maxkfranz commented on #94
Anyone who is interested in the project should submit a proposal.  It doesn't matter if someone has decided to go ahead and write code or not: GSOC hasn't started, and no student is selected yet.  All proposals will be considered separately, and the person who plans out the project the best and writes the best document will be accepted.  Planning is more important than code.

The mentors are here

[2018-03-13 21:49] nguyenquannnn commented on #97
Hi @draeger
I'm a second year student at Dawson College in Montreal, Canada. I am really interested in working on this project. I have been familiarizing myself with the JavaCC parser. For the project,  I am wondering if there are any external libraries or frameworks would be useful to complete this object. and if there are, can you recommend them to me?
Thanks,
Quan

[2018-03-13 21:59] draeger commented on #97
@nguyenquannnn, thanks for your interest. JSBML has already one JavaCC parser for reading C-like formula `String`s (see [JSBML's formula parser package](https://github.com/sbmlteam/jsbml/tree/master/core/src/org/sbml/jsbml/text/parser), which has been maintained by @niko-rodrigue). Antimony itself has an implementation in C by @luciansmith (see [libAntimony](http://antimony.sourceforge.net)). If y

[2018-03-13 22:06] luciansmith commented on #97
The core of the Antimony parser itself is written in C++ for 'bison':

https://sourceforge.net/p/antimony/code/HEAD/tree/antimony/src/antimony.ypp

You don't need to be super familiar with bison itself to get the basic idea, I think--the format of these types of files tends to be pretty similar from one to the other.

If you have any questions, feel free to ask!

[2018-03-13 22:33] Prem0707 commented on #99
@eoberortner I am Prem from India and currently, i am a 3rd-year undergraduate student pursuing Bachelor of Pharmacy from BITS PILANI. I have a sound knowledge of Molecular Biology, and I have also done some project Based on Java and JSON ( I'm an Android Developer). It looks an interesting project to me and I want to work on this during GSoC period. It would be great if someone can help me in wri

[2018-03-13 23:55] hsauro commented on #97
There must be a Bison equivalent for Java.

Herbert

On Tue, Mar 13, 2018 at 3:06 PM, Lucian Smith <notifications@github.com>
wrote:

[2018-03-14 01:36] cjmyers commented on #97
Yes, Antlr or JavaCC

[2018-03-14 01:43] eoberortner commented on #99
Dear Prem! Thanks a lot for your interest in this project! It seems that you would be a good fit based on your background. Please, can you formulate a first draft of the proposal (do you have access to the template?) and then we can help out more.  Also, please familiarize yourself with SBOL, especially the SBOL 2.2.0 specification (http://sbolstandard.org/data-model-specification/) and the SBOL s

[2018-03-14 02:58] hsauro commented on #97
Antlr looks similar to Bison/Yacc

Herbert

On Tue, Mar 13, 2018 at 6:36 PM, cjmyers <notifications@github.com> wrote:

[2018-03-14 09:29] Prem0707 commented on #99
@eoberortner Thanks a lot for such a quick response. Before moving forward, I want to clarify some of my doubts and it will help me in writing my proposal too. Can i ask it here, or should i mail you? Thanks

[2018-03-14 12:13] cjmyers commented on #99
Best to ask it hear as it will reach all the potential mentors.

[2018-03-14 14:21] Prem0707 commented on #99
@cjmyers Thanks for the response. I have a lot of queries, I will put these into different bullet points:
1. First of all, why are we using Java for this project how it will provide an advantage over other languages (especially python)?
2. The goal of this project is to integrate both tools, SBOLDesigner and BOOST for a common synthetic biology design-build workflow. I am going to explain what I h

[2018-03-14 15:24] cjmyers commented on #99
Both SBOLDesigner and BOOST are implemented in Java, so since this will likely involve coding within those codebases, then it makes the most sense to use Java.

I think Ernst can comment more, but this is basically correct I think.  Namely, the SBOLDesigner tool will query BOOST via its RESTful API to obtain sequence optimization results.

I’ll let Ernst handle this one.

[2018-03-14 18:14] Dyex719 commented on #117
To implement the python parser as described in Step 2, we can import the xml.dom package. The following code snippet shows how this can be used.

from xml.dom import minidom

doc = minidom.parse("ERS.svg")  # parseString also exists
path_strings = [path.getAttribute('d') for path in doc.getElementsByTagName('path')]
print(path_strings)
doc.unlink()

Here ERS.svg is the file that contains the Engin

[2018-03-14 18:45] eoberortner commented on #99
@Prem0707 here are some additional comments:

 Since SBOL designer is an open source project we can use it to make our project successful and for that, we have to draw the UI like "Prepare for Synthesis" on the existing BOOST Designer interface and on clicking on "Prepare for Synthesis" we can call APIs (RESTful APIs) to perform our task (depends upon the APIs we called) and after doing such opera

[2018-03-14 19:03] Prem0707 commented on #99
@eoberortner @cjmyers Thanks for your responses.
Yes, your responses helped me a lot to understand the project.
Currently, I am familiarising with SBOLDesignser and sooner I will work with BOOST too.
Sure, I will try to come with my design too.
Thanks

[2018-03-14 22:28] Xinghom commented on #100
Hi @funasoul @mythosil,

I am considering to do a c++ project for a while. Fortunately,  I find this project! I‘d like to join this issue and contribute to it. My motivation is to practice, learn and have fun with c++ and math.
My background：
A master student of computer engineering, having C++ coding skill and solid mathematical knowledge, pretty enjoying OOP development manner.
Also, since I hav

[2018-03-14 23:36] chofski commented on #117
This is great. Yes, being able to easily parse and ultimately render in matplotlib will be much easier using this sort of approach. Many of the standard SBOLv symbols (not just the trace renderer ones) should be able to be customised. For example, the colour, text and other features of a coding region (CDS) should all be editable. If you look at the python code for many of the standard elements in

[2018-03-15 14:20] shraddhapai commented on #103
Hi,
I've received questions about what we expect in the GSoC proposal for the year.
If you haven't already done so, please read my comments above in this thread.

We already have an implementation of Mashup in Julia (GSoC 2017). We also already have a branch of the netDx R code that uses this algorithm for feature selection. The goals for this summer will be to get this new implementation to the p

[2018-03-15 14:33] bhaveshsunny commented on #103
@shraddhapai  Thanks for the detailed response.

[2018-03-15 19:29] floraliu1011 commented on #14
Hi mentors,

I'm a second year computer science student at university of Toronto and I'm really interested in this project. I have prior experience in Java, Python and R. Could you kindly refer me to some resources that can help me get started?

thanks,
Flora

[2018-03-15 21:06] maxkfranz commented on #14
@AlexanderPico Would you please re-assign this to @chrtannus or @mikekucera.  I think Christian and I wrote up this project on my machine using my account, but this isn't something I would be able to contribute to as effectively as Christian or Mike.

[2018-03-15 21:25] AlexanderPico commented on #14
Sure. Will assign to @chrtannus... once he accepts invitation this NRNB team list. If he's not available, then we'll close the issue for this summer.

[2018-03-17 11:38] funasoul commented on #100
Hi @Xinghom,

Thank you for your interest in our project.
Please look into the specification of SBML, and SBML test suite (http://sbml.org/Software/SBML_Test_Suite).
It will be great if you could start writing your proposal with the following template
https://tinyurl.com/nrnb-gsoc-application-template
and share it with me and @mythosil.

[2018-03-17 20:55] Prem0707 commented on #99
Hi all
I have explored SBOLDesigner and BOOST and it helped me a lot to understand the project. Thanks a lot for your suggestion. Now, I am moving ahead to write a proposal but before that, I want to clarify some of my doubts.
1. After the design is finished, the synthetic biologist can (optionally) click "Prepare for Synthesis" in
   SBOLDesigner and selects among various options, such as target

[2018-03-17 22:36] eoberortner commented on #99
@Prem0707 great to hear that you explored SBOLDesigner and BOOST! Here are some comments regarding your questions:

With target host, we mean the organism into that your designed sequence construct will be transformed, such as E.coli or S.cerevisiae.

With the "log of performed actions," we mean the changes that BOOST performed to the input sequence. For example, BOOST has to replace certain codon

[2018-03-18 05:59] indrapatel247 commented on #120
Hi @draeger I am an Engineering student of BioTechnology studying in my sophomore year and i want to work on this project , i have decent command in Java 8 and of biology also. I am highly interested in this project but i am bit confused to how to contact the mentors of the project, so can you please assist me how to contact them

Regards
Indra

[2018-03-18 07:03] Dyex719 commented on #117
@chofski
I sent you a mail linking my draft proposal.
I would be grateful if you would review it.
Thanks!

[2018-03-18 08:05] draeger commented on #120
@indrapatel247 thanks for your interest in this topic! Most tips for a successful application you can already find in this threat above (just look through some older posts and you will find the link to the application template and other resources). As you can also see, this topic received already quite some interest. It is, therefore, recommendable to look through the [list of available issues](ht

[2018-03-18 09:04] Prem0707 commented on #99
@eoberortner Yes, your information helped me a lot. Thanks
1. As said by you, With target host, we mean the organism into that your designed sequence construct
  will be transformed, such as E.coli or S.cerevisiae.
   Does BOOST make any changes to the sequence constructs depending on the host we mention? As
   much I have explored, I haven't found anything like that.
2. For the login part, I am t

[2018-03-18 10:43] kvnamipara commented on #117
@chofski
greeting!
I was busy with my university exams, I have implemented parametric SVG in cds-specification SBOLv.
I will draft proposal as soon as possible. I have made a sample demo of modification of features using parametric SVG [here](https://parametric-sbol.herokuapp.com/). Thanks.

[2018-03-18 17:02] chofski commented on #117
@Dyex719 I'll provide you with some feedback soon.
@kvnamipara Great that you've made a start, be sure to use the template detailed above and include examples (images and URLs) to what you have managed to do so far and explain how you'll take this forward.

[2018-03-19 11:58] ms10398 commented on #94
@jajodiaraghav @maxkfranz

Here's my draft please suggest any changes if required.

https://docs.google.com/document/d/1-k2GNEeV_8z4xRAAkllYBjqOGoKug3F6Qf0rGf-Qn88/

[2018-03-19 12:59] niko-rodrigue commented on #120
For those feeling like tackling a JSBML issue, you can have a go at https://www.pivotaltracker.com/story/show/73384934. It should be fairly easy to implement, you need to clone the jsbml repo and submit a pull request with your solution.

[2018-03-19 16:31] maxkfranz commented on #94
All proposals should be sent through [the GSOC panel](https://summerofcode.withgoogle.com/), as per Google's instructions.

[2018-03-19 20:02] Prem0707 commented on #99
Hi all
I have written a draft proposal for this project. Please review it. Thanks
https://drive.google.com/open?id=1tGDNZaCr6SK7Wms6FAke1NGLO7XHk9zL2Vu9g-V97AI

[2018-03-19 22:09] Xinghom commented on #100
Hi @funasoul,

I have done a draft proposal. Should I share it with you firstly by GSoC or your Email?

[2018-03-20 16:01] sakshamkukreja commented on #104
Hi guys,

I'm Saksham Kukreja, a freshman at the Indian Institute of Technology Roorkee. I am highly interested in contributing to this project. As mentioned in my email correspondences, I have reason to believe that I'll be very well suited to effectively contribute towards the development of this unique idea. This project particularly piqued my interest as it closely aligns with my research that

[2018-03-20 16:03] sakshamkukreja commented on #104
@marcoxa I'd be grateful if you could help me in the aforementioned regard.

[2018-03-20 16:09] eoberortner commented on #99
@Prem0707 Thanks for sharing your draft proposal! It looks very good for an initial draft! I'm a little busy this week and will respond with more detail during the weekend or early next week!
Maybe @cjmyers has some comments in the meanwhile?
Please keep up the great work! Thanks!

[2018-03-20 22:42] funasoul commented on #100
Great. Please share it with me and @mythosil.

[2018-03-21 17:52] cjmyers commented on #99
Draft looks good. On vacation so will look closer next week when I return.

As to question about avoiding data loss, we plan to use provO to record the way the data is processed.

Chris

Sent from my iPhone

[2018-03-21 20:45] Prem0707 commented on #99
@eoberortner @cjmyers Thanks for your responses. I will not disturb you further until this week, you guys really helped me a lot by clarifying my doubts.
Since upcoming Tuesday (27 March) is the last date to submit the final proposal, it will need your feedback on this till Monday (26 March) so that I would be able to modify it as per project requirement.
Thanks a lot for your guidance and support

[2018-03-22 03:53] soccerdroid commented on #122
Hello again!
I'm Maria. I have a couple of questions in order to make my proposal. I am planning to implement the first, second and sixth features listed in the project idea. In your repo I saw the App model, which has attributes like tags. Are the tags the ones you use to generate the icons? What can a tag tell me about an app? How do you categorize the apps? When you mention to extract structure

[2018-03-22 09:36] narendrameena commented on #103
@shraddhapai thanks for the detailed info that clarifies a lot.

[2018-03-22 12:03] cjmyers commented on #99
I took another quick look.  I think it is mostly ok.  Please double check for typos.  I saw Parameters misspelled in one of your mockups for example.

@michael13162 could you have a look and give your feedback?

[2018-03-22 14:15] Prem0707 commented on #99
@cjmyers Thanks a lot for your valuable suggestions. I will definitely look and fix typos.

[2018-03-22 18:30] michael13162 commented on #99
Just read through the proposal.  Other than the typos that Chris mentioned, I think the content is very good.  The flow diagram, JWT token process, and UI mocks ups all seem well thought out.  The timeline looks pretty reasonable too.

As Ernst said, keep up the good work :)

[2018-03-22 19:00] Prem0707 commented on #99
@michael13162 Thank a lot for the feedback:)

[2018-03-23 01:30] AlexanderPico commented on #122
Hi @soccerdroid (Maria),

In the App model, tags correspond to the categories that app authors can manually assign (or "tag") their apps with. These categories are listed on the left side of the main page for the app store and as "Categories:" on each app page. The icons are currently associated with specific model attributes for each case, such as competition_winner_dec_2012, which leads to the t

[2018-03-23 03:16] soccerdroid commented on #122
Oh ok. I checked about what automation means for cytoscape apps, could you consider an app as automated if it submits an api? I say this because here https://docs.google.com/document/d/1QTrT-9ylhI4OX5DkauMo2ujLIqeg3WDUDwl77KLtfVY/edit it says that automation functionalities are built with CyREST. I think a tag of automation or CyREST use in the pom.xml file could be used to detect automated apps.

[2018-03-24 11:40] kvnamipara commented on #117
@chofski
I have a doubt in implementing the 3rd task of project i.e., rendering it using matplotlib. Please correct me if I am wrong.

Let's say, we have a parser which generate SVG from parametric-svg and parameters value as desired by user. Now one figure is containing multiple SBOLv, so we have multiple SVG codes of this SBOLv taken from parser, So now we will render this SVG sequencially on pl

[2018-03-24 11:44] chofski commented on #117
@kvnamipara you are correct, the multiple SVG (or parametric SVG directly) will be parsed, and DNAplotlib will be able to draw that glyph is the correct location for the design. All drawing needs to be done on an axis to allow for it to potentially be integrated into other forms of plots. The renderer in matplotlib will likely need to support a subset of SVG and convert this into drawing commands

[2018-03-24 12:07] kvnamipara commented on #117
![screen shot 2018-03-24 at 5 33 08 pm](https://user-images.githubusercontent.com/18012563/37863744-73e457bc-2f89-11e8-8fab-f2d1aea7b91f.png)

@chofski thanks for quick reply!
As SVG is a vectorial format while matplotlib only supports pixel graphics. as mentioned, we need to convert the svg to matplotlib by commands that are available in matplotlib. So I want to get more idea about it, can you de

[2018-03-24 12:09] chofski commented on #117
@kvnamipara matplotlib does not only support pixel graphics. Look at the existing DNAplotlib code and you will see that it has a comprehensive set of drawing commands (e.g. for lines, polygons, curves, etc.) The SVG would need to be converted into these sorts of commands.

[2018-03-24 12:12] Dyex719 commented on #117
@kvnamipara
Try checking out the supplementary material available at http://pubs.acs.org/doi/abs/10.1021/acssynbio.6b00252, it helped me understand how matplotlib was used in DNAplotlib.

[2018-03-24 19:09] AlexanderPico commented on #122
@soccerdroid Yes, precisely.

[2018-03-25 04:37] eoberortner commented on #99
@Prem0707 sorry for the late response on your following questions:

we can invoke login API which results in status and boost-jwt so there will be no need to move
on BOOST Login Page but for signup option we can redirect the user to the BOOST web page.
Please provide your views at it

that sounds like a nice idea! please let me double-check though, since BOOST uses a single sign-on system (develop

[2018-03-25 16:13] Prem0707 commented on #99
@eoberortner Thanks a lot for your valuable suggestion.

Yes, I have got a clear idea about API call. So, I think there is no need to integrate Workflow manager.
I am thinking that I will add radio button for each task and user can select each of the tasks depending on what he/she want to perform with the design.
There are sperate API available for each of the task like Reverse-Translation of prot

[2018-03-25 19:40] eoberortner commented on #99
@Prem0707 I have two comments how to tune your proposal:
1) Integrate a design (e.g., a design of your lab) that guides the project
2) Add screenshots of (i) SBOLDesigner illustrating your design and (ii) BOOST showing the input and output sequences of your design

I will go over your proposal and try to tune the wordings.
Thanks for all your hard work!

[2018-03-25 20:01] swkang73 commented on #74
Hi my name is Sunwoo Kang, and I'm studying biomedical computation at Stanford University. Is the team still available to join for GSoC this year? I'm proficient in python, java, c++, and c to the level of writing complex programs, and would love to learn SBOL.

[2018-03-25 20:03] swkang73 commented on #106
Hi my name is Sunwoo Kang, and I'm studying biomedical computation at Stanford University. Is the team still available to join for GSoC this year? I'm proficient in python, java, c++, and c to the level of writing complex programs, and would love to get more experience in simulation.

[2018-03-25 20:06] chofski commented on #74
@swkang73 Hi! Yes, this project actually does not yet have any applications and it would be great to incorporate closer SBOL2 links. The deadline for applications is looming, so you'll need to be quick. Feel free to e-mail myself and Bryan Bartley (details in proposal) if you need any advice.

[2018-03-25 20:20] vvk2017 commented on #74
Dear Sunwoo,

I would be happy to work with you.  Thanks,

Vishwesh

From: Sunwoo Kang <notifications@github.com>
Reply-To: nrnb/GoogleSummerOfCode <reply@reply.github.com>
Date: Sunday, 25 March 2018 at 21:01
To: nrnb/GoogleSummerOfCode <GoogleSummerOfCode@noreply.github.com>
Cc: "Kulkarni, Vishwesh" <V.Kulkarni@warwick.ac.uk>, Assign <assign@noreply.github.com>
Subject: Re: [nrnb/GoogleSummerOfC

[2018-03-25 20:29] swkang73 commented on #74
Thank you @chofski @vvk2017 for such a prompt reply. I’ll start working on the application rightaway!

[2018-03-25 21:58] soccerdroid commented on #122
Hello, I have somo troubles with the dependencies installation for running the repo in my computer. I cannot install PIL, because it is now donwloaded its fork Pillow. I also have troubles with xaniap installation and the libpng library. I want to see the templates after someone submits an app, this is, to see the form where you edit the app and add a description, tags, etc. I have already made a

[2018-03-25 21:58] soccerdroid commented on #122
I have Ubuntu 16.04

[2018-03-25 23:08] hsauro commented on #106
Yes but you've only got two days to submit a proposal.

Herbert Sauro

On Sun, Mar 25, 2018 at 1:03 PM, Sunwoo Kang <notifications@github.com>
wrote:

[2018-03-26 01:03] Prem0707 commented on #99
@eoberortner Thanks a lot for reviewing my proposal and for providing a detailed review on it.
I have still some queries regarding your the project design.
As suggested by you, I should add a design fir the project but I am unclear about this like what should it includes ? what is it exactly? If possible, please elaborate it. Thanks

[2018-03-26 10:05] matthiaskoenig commented on #122
Hi @soccerdroid,

I got this project working in a local virtualenv.
See the changes in the following pull request.
https://github.com/cytoscape/appstore/pull/32

I documented the requirements in `requirements.txt` and the necessary installation instructions to run this locally in `INSTALL.md`

https://github.com/cytoscape/appstore/pull/32/commits/065f130a2daad11d53738b7776d857575a299fca

Main issu

[2018-03-26 22:45] eoberortner commented on #99
@Prem0707

it would be nice to use a design that is either published (e.g., any circuit or gene cluster refactoring) or comes out of your lab.

Yes, correct.

sorry, I don't understand what you mean with these questions.
please, can you rephrase of clarify what you mean?

Well, we will have to implement some form of BOOST UI in SBOLDesigner. The user will have to enter some data (e.g., the codon u

[2018-03-26 23:06] dSanchezDios commented on #57
It would be amazing to join to this project... I know it's quite late to apply but could I do it?

[2018-03-27 08:15] Prem0707 commented on #99
@eoberortner Thank you for the response.
In my 3rd query, I want to clarify this point BOOST showing the input and output sequences of your design

Do I have to show input data that a user has to enter that's are associated with the specific task? Is it this way?

[2018-03-27 16:45] eoberortner commented on #99
thanks for clarification @Prem0707! It'd be nice to show some screenshots of the BOOST web UI, demonstrating the inputs and outputs. Maybe you can explain how you are planning to reproduce the BOOST web UI in SBOLDesigner?!

So to understand you correctly, you are trying to load a design (which is located in SynBioHub) into SBOLDesigner. What exactly is not working? @cjmyers and @michael13162 can

[2018-03-27 18:28] cjmyers commented on #99
You should not include “:9090”.  Also the latest release of SBOLDesigner should be including these for you automatically.

[2018-03-27 19:08] Prem0707 commented on #99
@eoberortner @michael13162 @cjmyers Thanks a lot for your guidance and suggestions. You guys really help me a lot in writing the proposal. Thank you for being patience (even though I have asked a lot of queries). I really enjoyed this period and It would be fortunate for me to work with you guys.

Since the 27th march (09:30 PM, IST) was the official deadline to submit the proposal on GSoC website

[2018-03-27 21:56] cjmyers commented on #99
You can certainly keep working on things, but your proposal will be the main thing used by the evaluation committee.

I don’t think we have much in the way of documentation unfortunately.  @michael13162 anything to point him to?

[2018-03-28 15:42] michael13162 commented on #99
Yup, you should be using the 3.0 beta release that's linked here: https://github.com/SynBioDex/SBOLDesigner/releases

I also just added a link to a paper we published about SBOLDesigner's backend (it's under other useful information): http://www.async.ece.utah.edu/SBOLDesigner

That paper is going to be a really good resource since it goes over a lot of internals.  There is also a genetic circuit

[2018-03-28 18:28] Prem0707 commented on #99
First of all, Thank you, mentors, for helping me out in writing the proposal. Working on the project has been an amazing experience so far.

 @eoberortner   Yes, it would be a real pleasure to join the team in Bay Area for 1-2 weeks. It will help me understand the project better and contribute more.

@michael13162 Thanks a lot. I would definitely read and try to understand the resources provided b

[2018-04-01 16:08] Prem0707 commented on #99
I have gone through [SBOL website](https://www.youtube.com/watch?v=elU5YEuIpwE) and a great [talk](https://www.youtube.com/watch?v=elU5YEuIpwE) by @michael13162 , It is really helpful for me to understand the Data Model of SBOLDesigner.

@michael13162 I am not able to access [this](https://pubs.acs.org/doi/abs/10.1021/acssynbio.6b00275) paper. Please help me with this. Thanks

[2018-04-01 20:53] michael13162 commented on #99
That reminds me, Ernst had a great talk about BOOST at that same conference: https://www.youtube.com/watch?v=MNvTyqd5dxc

I've also sent you an email.

[2018-04-03 09:56] kvnamipara commented on #117
@chofski @Dyex719
Will it be better if I open an issue on their github repo regarding making SBOLv parameterised and discussing it with the developer community of the SBOL.

[2018-04-03 22:06] Prem0707 commented on #99
It is indeed a great video resource for BOOST.

@michael13162 I have read the paper. It is really a great resource for understanding the underlying working. Till now, I have read the paper once and I have a rough idea of the backend of SBOLDesigner. I am planning to read it once more. Meanwhile, Please provide me other resources related to the project (SBOLDesigner or BOOST).

I really appreciate

[2018-04-03 22:12] eoberortner commented on #99
The BOOST paper should be in your mailbox by now. Please let me know if you did not receive my e-mail. Thanks!

[2018-04-04 23:39] Dyex719 commented on #117
@kvnamipara
I don't really see the need because we will be discussing with the SBOL developers anyway, but I may be wrong.

[2018-04-05 08:07] bhaveshsunny commented on #103
@shraddhapai  Could you  add the dataset here? That would help us a lot! thanks again.

[2018-04-05 08:57] chofski commented on #117
I would hold off for the time being. This can be sorted out once the GSoC results are in.

[2018-04-05 13:29] shraddhapai commented on #103
Hello GSoC applicants,
Here is a dataset you may want to try to use modMashup with for classification.
The task is binary classification of a breast tumour as resulting in good or poor survival. The data provided includes gene expression and a few clinical parameters. netDx groups genes by their pathways.

This Rdata contains all the information you need:
https://drive.google.com/open?id=19c3VDKH1

[2018-04-08 10:15] Prem0707 commented on #99
I have some doubts regarding SBOL 2.0 data model. Please clarify.

     relative ordering only matters when there are multiple parts. However, each Component always has a
    sequence annotation that refers to it. Also, it is important to note that Sequence- Annotations and
    SequenceConstraints are annotations and constraints on Components, not Sequences.

   not Sequences.

I have quoted the a

[2018-04-08 19:08] michael13162 commented on #99
Sequence constraints define an ordering between two components.  Sequence annotations define a range of the sequence that the component belongs on.  Think of a component as an instantiation of a Component Definition, and Sequence annotations as the glue that holds together the component and the sequence.

Don't worry if you don't understand some of the details.  It'll help once you get started mor

[2018-04-09 20:26] Prem0707 commented on #99
@eoberortner I just finished with the paper provided by you. It is really great resource to understand the internal working BOOST and the algorithms which have been implemented. I have still few doubts regarding BOOST working, which I want to clarify.

Is it possible that  BOOST ended up with the maximum iteration to resolve the violation but it might not able to fully resolve the violation? If ye

[2018-04-09 20:46] cjmyers commented on #99
If you have some free time, it would be great if you could setup your development environment using Eclipse and clone the SBOLDesigner repo, if you have not already done this.  If you need help, please contact @michael13162.  Once you have that done, you could take a look at our issue tracker and see if there is any issue that you could try to resolve.  Although not related to BOOST, this would gi

[2018-04-10 13:53] eoberortner commented on #99
@Prem0707

Yes, it is possible that BOOST cannot resolve all violations. There are different alternatives in such a case, which are the user's responsibility what to do. For example,
- the user "accepts" that BOOST cannot solve all violations
- the user "retries" BOOST to solve violations (e.g., using a different codon-replacement/modification strategy)

BOOST will return modified sequences to the

[2018-04-10 19:34] Prem0707 commented on #99
@cjmyers @eoberortner Thanks for your suggestion and responses.

@michael13162 I am facing an issue with cloning the GitHub [repo](https://github.com/Prem0707/SBOLDesigner) of the project to my local machine. I have tried to solve the issue with the solution provided on StackOverflow.com but unfortunately, nothing worked for me.

These are the steps I have followed in order to clone it on my local

[2018-04-10 23:40] cjmyers commented on #99
Strange.  I was able to clone from your repo.  Did you look at this post:

https://stackoverflow.com/questions/20491027/unknown-ssl-protocol-error-in-connection <https://stackoverflow.com/questions/20491027/unknown-ssl-protocol-error-in-connection>

[2018-04-11 06:53] Prem0707 commented on #99
@cjmyers Thanks for your help.
 I tried all steps described in the above post but nothing worked. After some time I tried with normal git clone command and it worked as expected. I don't know what was wrong with it earlier.

[2018-04-12 20:49] Prem0707 commented on #99
Hi All,
I went through all of the issues of the project but can't able to choose any issue on which I can start working. It will also help me to get familiar with the codebase.

If possible, please suggest me to get started (suggest any issue to work). Thank you.

[2018-04-12 20:53] eoberortner commented on #99
@Prem0707 thanks for all your efforts so far!
please, can you try to implement some Java code that invokes the BOOST API?
one popular frameworks for this is Jersey (https://jersey.github.io/)

[2018-04-12 20:55] eoberortner commented on #99
on a different note, we are trying as good as possible to get this project funded! and we are confident to get it accepted, since this project covers a very important bottleneck at the moment!

[2018-04-12 21:06] AlexanderPico commented on #99
And with respect to GSoC, that statement comes with the caveat that we do not know which projects will be accepted and can not make any guarantees nor share decisions prior to the official announcement by Google.

[2018-04-12 21:29] Prem0707 commented on #99
@eoberortner Sure, I will definitely try to invoke BOOST APIs.
@AlexanderPico Thank you for reply

[2018-04-15 20:52] Prem0707 commented on #99
@eoberortner I went through documentation of Jersey and planning to invoke BOOST APIs in the following manner (for now):
I will implement the BOOST APIs in a new project (not in the original SBOLDesigner project) and will try to pass all the parameter by hardcoding rather than creating GUIs. These are the temporary plan, once I will have a clear understanding then it would be easy for me to implem

[2018-04-15 21:25] eoberortner commented on #99
@Prem0707 please have a look at the code in https://github.com/eoberortner/BOOST-REST-Client
It'd be great if you could re-use and extend the code as well as integrate it into SBOLDesigner.

Specifically have a look into the DemoClient https://github.com/eoberortner/BOOST-REST-Client/blob/master/src/test/java/gov/doe/jgi/boost/client/DemoClient.java.
Please provide your own BOOST JWT for instantia

[2018-04-16 04:32] Prem0707 commented on #99
@eoberortner Thanks for the resources. I will inform you if I will face any issue.

[2018-04-18 17:07] Prem0707 commented on #99
@eoberortner Is it possible ? Please verify this. Thanks
 For the login part, I am thinking that we can create a simple login UI in SBOLDesigner and from that
 we can invoke login API which results in status and boost-jwt so there will be no need to move
on BOOST Login Page but for signup option we can redirect the user to the BOOST web page.
Please provide your views at it

[2018-04-18 17:34] eoberortner commented on #99
Hi @Prem0707
We definitely need a BOOST authentication UI in SBOLDesigner. Everything that was said earlier is still true. It would be great, though, if the user can either authenticate by entering username/password or by entering the user's BOOST JWT.

Since @cjmyers and @michael13162 are the main developers and owners of SBOLDesigner, it would be great to hear their opinion about
(i) the alterna

[2018-04-18 17:39] cjmyers commented on #99
I suggest we borrow from the code @michael13162 already wrote for SynBioHub login and try to use some of the same ideas.

The way it works with SynBioHub is that after login information is sent, the server sends back a key.  This key is then stored locally in SBOLDesigner for subsequent queries to SynBioHub.  On the server side, SynBioHub accepts this key as authentication.  Currently, this key is

[2018-04-18 17:45] eoberortner commented on #99
Code reuse is highly recommended! Please, could you provide @Prem0707 pointers to the code?

@cjmyers BOOST uses JSON Web-Token (JWT) as authentication mechanism. Sending a "login" request to BOOST (i.e., a request that contains username and password) returns the user's JWT. In addition, a registered BOOST user can see her/his JWT on the BOOST Web UI (after login at https://boost.jgi.doe.gov under

[2018-04-19 18:30] michael13162 commented on #99
Looks good to me!

Here is the UI code for the SynBioHub login dialog: https://github.com/SynBioDex/SBOLDesigner/blob/master/src/main/java/edu/utah/ece/async/sboldesigner/sbol/editor/dialog/RegistryLoginDialog.java

frontend.login(username.getText(), new String(password.getPassword())) is what does the actual logging in.  You can looking inside the SynBioHubFrontend class to see the details of the

[2018-04-20 09:27] Prem0707 commented on #99
@cjmyers @michael13162 Please provide your opinions on following points (suggested by @eoberortner ):

(ii) how the UI should look like (I'd recommend keeping consistency w/ the SBOLDesigner UI),
(iii) where the "Button" that opens the BOOST Authentication UI should be placed, and
(iv) how the entered information (username/password or BOOST-JWT) should be stored in SBOLDesigner.
and (iv) I'd recom

[2018-04-20 19:53] michael13162 commented on #99
You can run the login dialog code in SBOLDesigner to get a feel for what it looks like.  For now, it's fine to just get functionality with the least amount of changes/UI effort.

The button can be placed to the right of the upload to SynBioHub button.  We can change this in the future if needed.

The entered information could be stored in a PreferencesNode.  You can look at this for inspiration: h

[2018-04-20 19:57] cjmyers commented on #99
Also, please do not save the username/password but only the token that BOOST returns.  This is all you need for future communications with BOOST.

[2018-04-20 22:47] Prem0707 commented on #99
@michael13162 I am not able to run the project due to BUILD FAILURE. The error message can be seen [here](https://gist.github.com/Prem0707/ff889167b5e69a0e17a2cd8401bd9b22). If you have any clue, It would really help me. Thanks

[2018-04-21 15:25] cjmyers commented on #99
Build is working for me.  Are you running from command line or in eclipse?  If from eclipse, see:

https://stackoverflow.com/questions/38930469/unknown-lifecycle-phase-mvn-you-must-specify-a-valid-lifecycle-phase-or-a-goa

This seems to indicate that you should drop the "mvn" from "mvn clean install" command when run from inside eclipse.

[2018-04-21 16:25] cjmyers commented on #99
I think mvn is implied when run from eclipse

Chris

Sent from my iPhone

[2018-04-22 18:15] cjmyers commented on #99
There should be no problem with Java 8.  Which OS are you using?  Have you tried building using command line mvn commands?

[2018-04-22 20:27] Prem0707 commented on #99
I am using windows (8.1) OS. I tried with the terminal within the eclipse. Thanks

[2018-04-23 14:45] cjmyers commented on #99
Have you tried creating a run configuration with Main class:

edu.utah.ece.async.sboldesigner.sbol.editor.SBOLDesignerStandalone

and simply running in eclipse?

BTW: I just confirmed I get the same error doing “Run As -> Maven Build” in eclipse.  I don’t think our pom file is setup for this.  You either need to do the maven commands in a terminal outside eclipse OR create a run configuration with

[2018-04-23 20:32] khanspers commented on #122
GSoC 2018

[2018-04-23 20:33] khanspers commented on #104
GSoC 2018

[2018-04-23 20:33] #104 closed

[2018-04-23 20:34] khanspers commented on #112
GSoC 2018

[2018-04-23 20:34] #112 closed

[2018-04-23 20:34] khanspers commented on #107
GSoC 2018

[2018-04-23 20:34] #107 closed

[2018-04-23 20:35] khanspers commented on #102
GSoC 2018

[2018-04-23 20:35] #102 closed

[2018-04-23 20:35] khanspers commented on #99
GSoC 2018

[2018-04-23 20:35] #99 closed

[2018-04-23 20:37] khanspers commented on #123
GSoC 2018

[2018-04-23 20:37] #123 closed

[2018-04-23 20:39] khanspers commented on #74
GSoC 2018

[2018-04-23 20:39] #74 closed

[2018-04-23 20:40] khanspers commented on #96
GSoC 2018

[2018-04-23 20:40] #96 closed

[2018-04-23 20:41] khanspers commented on #1
GSoC 2018

[2018-04-23 20:41] #1 closed

[2018-04-23 21:10] Prem0707 commented on #99
Hi All
Congratulations on getting selected as a part of Google Summer of Code' 18.
It wasn't possible for me to make this possible without your support and guidance. Thank you all for your patience and cooperation.

edu.utah.ece.async.sboldesigner.sbol.editor.SBOLDesignerStandalone
and simply running in eclipse?

I haven't tried to run by setting with main class in eclipse (will try and notify you

[2018-04-23 21:13] cjmyers commented on #99
Yes, let’s handle this in the first meeting.

[2018-09-12 17:55] khanspers commented on #41
Done

[2018-09-12 17:55] #41 closed

[2018-12-03 06:44] himanshuc3 commented on #3
I want to propose for this project for GSOC 2019. Is this available ?

[2018-12-03 06:45] himanshuc3 commented on #94
I would like to propose for this project too as it seems interesting and apt to myself.

[2018-12-19 06:40] ugurdogrusoz opened #124 "Fast layout algorithm with compound support"
### Background
Both [desktop](https://cytoscape.org/) and [web](http://js.cytoscape.org/) versions of Cytoscape are highly popular and widely used graph libraries / tools for visualizing relational data in various domains including biology. Drawing of nested / compound structures is crucial in representing grouping or clustering structures inherent in an application for enabling more effective ana

[2019-01-04 20:07] cjmyers opened #125 "Improved rendering of genetic designs using VisBOL"
### Background
VisBOL is a genetic design visualization tool written in Javascript that runs in the browser.  VisBOL can create this visualization by reading genetic design information encoding using the [Synthetic Biology Open Language (SBOL) data standard.](http://sbolstandard.org/data)  The rendering created utilizes glyphs and visualization conventions that are described in the [SBOL Visual st

[2019-01-06 19:53] draeger opened #126 "Extending ModelPolisher to a universal model annotation tool"
### Background
The process of building models of biological systems continues to be a demanding effort. According to [Thiele and Palsson (2010)](https://dx.doi.org/10.1038/nprot.2009.203) the workflow leading to a functional model comprises almost 100 steps, many of which need to be manually executed and that are often highly error-prone. Any software that automates parts of this workflow therefor

[2019-01-07 08:30] adbharadwaj commented on #113
This project is open for GSoC 2019.

Please refer to [instructions for potential GSoC students](https://github.com/Murali-group/GraphSpace/wiki/Instructions-for-Potential-GSoC-Students) to get started.

[2019-01-07 08:30] adbharadwaj commented on #111
This project is open for GSoC 2019.

Please refer to [instructions for potential GSoC students](https://github.com/Murali-group/GraphSpace/wiki/Instructions-for-Potential-GSoC-Students) to get started.

[2019-01-07 08:31] adbharadwaj commented on #114
This project is open for GSoC 2019.

Please refer to [instructions for potential GSoC students](https://github.com/Murali-group/GraphSpace/wiki/Instructions-for-Potential-GSoC-Students) to get started.

[2019-01-07 10:28] ugurdogrusoz opened #127 "Circular layout in Cytoscape.js"
### Background
[Cytoscape.js](http://js.cytoscape.org/) is a highly popular and widely used graph library for visualizing relational data in various domains including biology. Drawing of clustering structures is crucial in representing grouping structures inherent in an application (e.g. a biological network clustered using functionality or a social network grouped by geographical location) for en

[2019-01-07 13:12] jahandaniyal commented on #113
I wanted to suggest few things which might be very helpful for GSoC 2019 projects -
1. It would be nice to have Unittests/Integrations tests (perhaps use - [pytest](https://docs.pytest.org/en/latest/)) with every patch that any student submits. It's considered a good coding practice and also allows tracking of any student's progress. Also, I believe it does not affect the workload considerably, gi

[2019-01-07 13:44] draeger opened #128 "State of the Art Build System for the Plugin Framework "InSilico""
### Background
InSilico is an extensible editor that provide different tools to manipulate and analyze SBML files. Currently, the editor is in an early alpha stage and needs a new build system to increase the reliability and maintainability of the project.

### Goal
The build system should support an organized project structure and should be easy to import into any popular Java IDE (Eclipse, Intel

[2019-01-10 13:45] udp opened #129 "Native Python support for the Synthetic Biology Open Language (SBOL)"
### Background
The [Synthetic Biology Open Language (SBOL)](http://sbolstandard.org/) is a data exchange representation for synthetic biology designs. Its goal is to improve the efficiency of data exchange and reproducibility of synthetic biology research. To achieve this goal, it is necessary for existing and new software to support SBOL as a data format, which is accomplished using programmatic

[2019-01-10 13:56] ikuperst opened #130 "Integration of hierarchical molecular networks into the NDEx platform"
### Background
Pathways resources often contain comprehensive large-scale molecular networks with predefined layout and hierarchical structure, as in the case of the Atlas of Cancer Signalling Network, ACSN (https://acsn.curie.fr) a web-based resource of multi-scale biological maps depicting molecular processes in cancer cell and tumor microenvironment. The core of the Atlas is a set of interconne

[2019-01-10 21:34] khanspers commented on #116
Completed.

[2019-01-10 21:34] #116 closed

[2019-01-10 21:37] khanspers commented on #115
Still viable, but mentor not available for GSoC 2019. May complete this outside GSoC. Closing for now.

[2019-01-11 11:32] sanket0211 commented on #114
Hi Aditya,

I am interested in working on this project for GSoC 2019. How should
I proceed? I have Graphspace installed on my PC. I have also made myself
well versed with the code.

-Sanket

On Mon, 7 Jan 2019 at 14:01, Aditya Bharadwaj <notifications@github.com>
wrote:

[2019-01-11 21:49] marcoxa opened #131 "Develop MAREA/JS: a cytoscape.js visualizer for Metabolic Rewiring analysis"
### Background

The BIMIB and the SYSBIO groups at the Universita` degli Studi di Milano-Bicocca have constructed a series of algorithms and tools to study the Metabolic Rewiring of Cancer cells.  The main tool embodying such studies leverages the Matlab COBRA Toolbox to perform a Flux Balance analysis coupled with Linear Programming optimizations to highlight the different behaviors of Cancer cel

[2019-01-13 18:37] dexterpratt commented on #131
We would love to have NDEx (www.ndexbio.org) provide the data store for the application. NDEx is already tightly integrated with Cytoscape desktop and is a core technology of the emerging Cytoscape Web. REST transactions can be performed via CyREST or from a web application. There is an existing javascript library for translation of Cytoscape desktop graphic styles to cytoscape.js styles. I expect

[2019-01-14 17:32] VIGS25 commented on #129
@udp:  I would be interested in working on this project. I'll have a look at the resources mentioned, and get back to you with further queries. My background is in Computational Biology, using Python as my primary programming language.

[2019-01-14 20:14] #20 closed

[2019-01-15 16:02] vaniisgh commented on #130
Hi!
I'm Vani  an Information Technology and Math major with a minor in Biology . I read though this issue as well as looked though the documentation for NDEx client , NiceCX as well as saw a few ACSN maps , I would love to work on this issue . How can I streamline my efforts for the same ?

Regards ,
Vani

I am comfortable using python and have a basic understanding of the JSON data format .
I am

[2019-01-15 16:23] khanspers commented on #49
Closing for GSoC 2019

[2019-01-15 16:23] #49 closed

[2019-01-15 16:30] khanspers commented on #23
Closing for GSoC 2019

[2019-01-15 16:31] khanspers commented on #118
Closing for GSoC 2019

[2019-01-15 16:31] #118 closed

[2019-01-15 16:31] khanspers commented on #16
Closing for GSoC 2019

[2019-01-15 16:37] khanspers commented on #14
Closing for GSoC 2019

[2019-01-15 16:37] #14 closed

[2019-01-15 20:06] draeger commented on #23
@khanspers I am confused why this is being closed because this project has not (really) been tackled. We tried to work on this, but the student was not successful and we had to stop early on.

[2019-01-16 14:37] ozgunbabur commented on #121
This project is still current. Reopening.

[2019-01-16 15:50] khanspers commented on #10
mostly done, closing

[2019-01-16 15:50] #10 closed

[2019-01-18 09:35] lohani2280 commented on #130
Hello Mentors,
I am Ayush Ranjan Lohani, from India, currently pursuing my Bachelors in the Department of Information Technology. I would like to work on this project as a part of GSoC'19. I have considerable experience on working with web development technologies. I have also contributed to several open source projects based on Python. Can you please guide me how to proceed with this project?

[2019-01-18 09:40] ikuperst commented on #130
Hi Ayush, Thanks for your interest.
Please send your CV to the project contact persons:
Inna Kuperstein inna.kuperstein@curie.fr
Dexter Pratt depratt@ucsd.edu
Regards, Inna.

[2019-01-19 18:37] egonw opened #132 "A new BridgeDb major release"
### Background
[BridgeDb](https://www.bridgedb.org/) is a platform used for identifier mapping in both WikiPathways as well as PathVisio (see also #27), and there is also a Cytoscape plugin, R package, etc. It provides the platform to link out to other databases, such as Ensembl, NCBI Gene, ChEBI, PubChem, ChemSpider, Uniprot, and Rhea. Because of its importance, it has been earmarked as [ELIXIR R

[2019-01-20 05:16] somesh1234567 commented on #122
hi,I am interested in this project.

[2019-01-20 17:34] bhaveshsunny commented on #124
@ugurdogrusoz Hi, I am Bhavesh a 4th-year student and GSoC 17 student. I am really excited to work on this project. Could you please list a couple of tasks for any of us prospective participants to work on? Thanks!

[2019-01-21 16:23] ugurdogrusoz opened #133 "Web service for various layout algorithms"
### Background
A crucial operation for effective visualization of networks such as biological maps is automatic layout.

### Goal
The main aim of this project is to create a web service for automated layout of networks including one for biological networks expressed in the standard notation [SBGN](http://sbgn.org). The target layout styles for this project include Compound Spring Embedder [1], AVS

[2019-01-22 15:11] udp commented on #129
@VIGS25  Sorry for the late reply - glad to hear you're interested in the project. I've had some interest from others via email too, so I'm going to open some issues on the repo later to give some indication as to what needs working on.  👍

[2019-01-22 17:48] khanspers commented on #28
Closing for GSoC 2019.

[2019-01-22 17:48] #28 closed

[2019-01-25 18:21] theweblover007 commented on #122
Hello, I'm Pradyumna from BITS Pilani. I would love to work on this project but I notice that some of the ideas mentioned in this post must have already implemented by Sarthak Shrivastava in last year's GSoC (As i could see in his proposal document).

The issues that i am talking about are :
1.Implement a web app for viewing the App Store from within CyBrowser. This could be an app manager
   repl

[2019-01-25 19:49] AlexanderPico commented on #122
These aims are still active. They are sort of a laundry list of possible features and we don't expect to complete them all in a summer.

The primary goal will be to streamline the deployment through to production.

[2019-01-30 06:57] The-Marvex commented on #132
@egonw I would like to work on this project. After going through the required resources, how should I proceed with the task?

[2019-01-30 07:40] egonw commented on #132
A lot of information is given on this page: https://nrnb.org/gsoc.html That would be a good start.

[2019-02-01 09:11] draeger commented on #120
@bhavyejain, to my knowledge: yes! @funasoul, could you please confirm?

[2019-02-02 10:53] funasoul commented on #120
yes!

[2019-02-07 02:42] adbharadwaj commented on #114
@sanket0211 Please refer to [instructions for potential GSoC students](https://github.com/Murali-group/GraphSpace/wiki/Instructions-for-Potential-GSoC-Students) to get started.

[2019-02-11 18:19] maxkfranz commented on #61
@ugurdogrusoz Should we consider this for GSOC 2019?  As far as I know, there is still no proper SVG export extension.

[2019-02-12 06:12] ugurdogrusoz commented on #61
@maxkfranz We are pretty happy with the implementation in Newt for this but if I recall correctly, you said our solution was more of a workaround. If you're willing to mentor it (since I am not technically suited to do it), I could try to recruit somebody from here.

[2019-02-12 17:28] The-Marvex commented on #132
@egonw
Hello Sir,
I did go through the required resources and the one you mentioned in the previous comment, how can I start contributing to the project and some good first issues' to start with.
Regards,
Manas

I am comfortable with Java and have an understanding of Git and Maven.

[2019-02-12 17:37] egonw commented on #132
Dear @The-Marvex, my suggestion would to start compiling the software with Maven with Java8 and run the test suite (JUnit). Once you have that set up, and confirm that no tests are failing on your machine, the next step would be to compile with Java9 and see if that shows up any compile problems, or test fails.

You can report all issues you encounter in the issue tracker here: https://github.com/

[2019-02-13 14:31] lohani2280 commented on #113
Hello mentors
I am interested to work on this project for GSoC 2019. I have a considerable experience on working with web development technologies. I have contributed to several open source projects(mostly python and JavaScript based) before and thus have exposure on working with large codebase. I have successfully installed GraphSpace on my PC. I have also solved a couple of issues on Graphspace.

[2019-02-23 07:58] The-Marvex commented on #132
Hello Sir, @egonw
I was able to successfully compile the software with Maven and Java8 and the test suite ran without any issue. Whereas the software did not compile with Java11 and failed at ‘BridgeDB Webserver Core’. Changing the POM.xml file by adding some dependencies fixed that compilation issue with Java11 and it succesfully compiled with it as well.

[2019-02-24 09:43] egonw commented on #132
Can you convert the changes you made into a clean pull request against the master branch, please?

[2019-02-24 11:31] niikhilghodke commented on #128
Hi @draeger @armish
My name is Nikhil Ghodke .I am a second year Student of Computer Engineering in Vishwakarma Institute of Technology.I am proficient in Java , PHP ,SQL,C and have faint idea of modularity in java using Jpms .I am really interested in working on this project for Gosc 2019 and had few Doubts

1)Other than Osgi ,what other skills or conceptual understanding, do you think a potentia

[2019-02-24 19:40] draeger commented on #128
Thanks, @niikhilghodke, for your interest in this topic! Let me answer your questions:
1) Knowing how the Gradle Plugin System works would be helpful (see [Gradle Plugin Development Guidelines](https://gradle.org/guides/?q=Plugin%20Development)). Furthermore, it is recommendable to inform yourself about [BND](https://bnd.bndtools.org/chapters/110-introduction.html).
2) In this project, SBML will b

[2019-02-24 19:56] Kera24 commented on #39
@AlexanderPico I would like to work on this project. After going through the initial requirement. How should I proceed?

[2019-02-25 10:37] The-Marvex commented on #132
@egonw I have created the pull request for the same.

[2019-02-25 13:29] The-Marvex commented on #132
@egonw Anything else I should work on in the meantime?

[2019-02-25 19:06] egonw commented on #132
@The-Marvex, I would suggest start writing a proposal of what you like to do (based on the above idea) in a GSoC so that we can discuss that. See https://google.github.io/gsocguides/student/ for that and more.

[2019-02-27 05:16] The-Marvex commented on #132
@egonw for communication, how should I contact you? By this forum, or your personal email? (I cannot find the email anywhere).

[2019-02-27 14:18] egonw commented on #132
The BridgeDb mailing list will be our main communication channel. Later, practical work will go via issues and pull requests, I reckon.

[2019-02-27 14:24] The-Marvex commented on #132
@egonw I having given my introduction in the BridgeDb Google Group (as given in the mailing list above) as you asked for and I have started working on the proposal as well.

[2019-02-27 14:38] egonw commented on #132
I'm travelling this week, and can reply next week. Please continue working on your proposal and don't forget to figure out which downstream projects are using BridgeDb and what their needs are (the community).

BTW, it was announced yesterday that NRNB was selected this year for GSoC again :)

[2019-02-27 14:40] The-Marvex commented on #132
@egonw Congratulations on getting selected again. I'll start working on that ASAP.

[2019-03-03 17:27] codekaust commented on #126
Hi @draeger
I find this issue interesting, is it open for GSOC 2019?
Thank you.

[2019-03-03 19:26] draeger commented on #126
Yes, it is. The best way of moving forward with your application would be to create a shared Google Document and to contact me via e-mail. I'll be happy to assist you in putting the proposal together.

[2019-03-04 12:41] JUDEX24 commented on #29
Good day,

I am a Computer science 3rd yr student with some background in Java, C++. I was just reading through this project and found it really interesting. I would like to part-take on working on this project however I am new to the GSoC environment. Therefore I would like some assistance to get started, and maybe requirements info as well as how to facilitate communication with mentors.

Thank

[2019-03-06 06:06] Fenil3510 commented on #126
Hello, @draeger I find this project interesting and aligned with my skill set. I have working knowledge of Object Oriented Programming in Java and I'm comfortable with SQL, XML. I can pick up docker, maven before/during the project. I kindly request you to please provide me with some additional material so that I can get started with the project.

[2019-03-06 07:31] draeger commented on #126
@Fenil3510: Absolutely, just contact me via e-mail (see my profile) and I'll be happy to share information material with you and to help you put a competitive proposal together.

[2019-03-06 07:31] FabricioLayedra commented on #129
@udp I am interested in working on this project. I worked on parsing FASTA data in a project for a hackathon before and I am proficient in Python for data Analytics.

My background is Computing Science with a minor in Big Data Analytics. I sent you an email.

[2019-03-06 07:41] draeger commented on #128
@niikhilghodke, the best way of moving forward would be reaching out to me via e-mail (see my profile). I'll be happy to send you further information and to put together a competitive proposal together with @anfark.

[2019-03-06 15:26] cjmyers commented on #129
@FabricioLayedra glad to hear of your interest.  Please use this tracker to communicate with James and I as you take a closer look.

[2019-03-08 11:02] NomadXD commented on #120
@draeger @niko-rodrigue @funasoul Hello I'm Lahiru and I'm a Computer Science Engineering undergraduate from University of Moratuwa, Sri Lanka. I went through docs of SBML,JSBML and also the jsbml-spatial package and have a fairly good understanding about them. And also I had a look at the validation and constraints info in the _JSBML Github wiki_ and it was really helpful. I cloned the repo and w

[2019-03-08 16:54] niko-rodrigue commented on #120
@NomadXD At the end of the SBML core specifications, you will find an appendix where all the validation rules (or constraint for JSBML) are described.
To know how the auto-generated rules would look like for spatial, you can have a look at the document for an other SBML package in development: https://drive.google.com/file/d/17RttI-dgfW8jGIVJigUCU7AamJ8Y9LCS/view?usp=sharing (Appendix A, page 33).

[2019-03-09 05:58] The-Marvex commented on #132
@egonw I had some doubts regarding the project I have posted in the Google Group.

[2019-03-09 11:59] NomadXD commented on #120
@niko-rodrigue _Thanks a lot for the info!_. And I went through the **SBML validation rules** and also had a look at **SBML Error codes** in (http://sbml.org/Facilities/Documentation/Error_Categories). So what I have to do in a high level is,

1. Select an unimplemented constraint from the the constraints list.
2. Add suitable and relavant SBML error codes for the selected constraint in the addErr

[2019-03-09 20:31] draeger commented on #120
@NomadXD, what you suggest sounds like a good plan. Strong proposals are written in a way that reviewers see that the student has a clear understanding of the project and what to do. By trying out how one example works, you can gain the experience needed to prepare your proposal.

It also makes sense to contact us (@niko-rodrigue, @funasoul, @luciansmith, and myself) via e-mail so that we can give

[2019-03-10 13:15] NomadXD commented on #120
@draeger Okay thanks a lot for the quick response.I will spend couple of days playing with the stuff and understanding things more deeply and then I'll start with the proposal.If I encounter any problems I'll send you an email.

[2019-03-14 15:31] NomadXD commented on #120
@draeger So I was going through the **SBML spatial docs (_version 1 release 0.90_ )** and had a look at the classes in the spatial package. For each of the classes there are some set of rules and constraints they have mentioned in the docs. And for most of them there were UML diagrams that describe the structure.**But in the validation part there were only 5 rules and the docs is not completed yet

[2019-03-14 15:50] draeger commented on #120
@NomadXD, in fact, @luciansmith is facing a submission deadline for a revised version of this specification that is even slightly before at the time when your proposal is also due. Therefore, you can expect more rules to be made explicit on time and don't have to worry about missing statements.

The best way of using the time would be to
1. Create a shared Google Document to which all mentors have

[2019-03-14 20:33] luciansmith commented on #120
I was confused by the statement that there were only five validation rules
in the spec: this turned out to be because the version of the spec listed
on the package page was version 0.90, and we're now up to 0.93.  I've
updated the link; the new version is at:

https://sourceforge.net/p/sbml/code/HEAD/tree/trunk/specifications/sbml-level-3/version-1/spatial/specification/spatial-v1-sbml-l3v1-rel0.9

[2019-03-15 15:48] ksvkabra commented on #122
Hello @AlexanderPico , I am Keshav Kabra from JECRC, Jaipur. I am interested in working on this project

[2019-03-15 18:26] AlexanderPico commented on #122
@ksvkabra Great. Explore the links provided in the project description, review the materials at https://nrnb.org/gsoc.html, then start a Google Doc with your proposal. Mentors will provide feedback on your proposal prior to the submission date if there is time.

[2019-03-16 02:44] 7vikpeculiar commented on #125
Hi
@cjmyers @zachzundel  @udp
I am interested in working on this project, I am a **computational biology** student at IIIT Hyderabad, with
good experience in building **JavaScript**-based browser applications

[2019-03-16 05:12] NomadXD commented on #120
@draeger So as you suggested I have created a gmail thread and have shared it with all the mentors.And also I have created a google doc to share my project ideas and that also I have shared with all the mentors.

@luciansmith Thanks for the quick response. I have already started to read the new docs.

[2019-03-16 21:37] cjmyers commented on #125
@7vikpeculiar that's great.  Please see if you clone the software and get it up and running.  Let us know if you have any questions.

[2019-03-18 11:23] hdsingh commented on #129
Hi, I am second year under-graduate pursuing Bachelor of Technology (Computer Science) in India.

I would love contributing to **Pysbolgraph** for GSOC.
I have looked at the resources mentioned above. This is is the task list I have prepared to get started:
- [ ] Understand [SBOL-data-model-2](http://sbolstandard.org/wp-content/uploads/2016/06/SBOL-data-model-2.2.1.pdf). `Started`
- [ ] Get overvi

[2019-03-18 15:27] cjmyers commented on #129
Sounds good.  Look forward to hearing your progress and any questions you might have.

[2019-03-18 18:11] 7vikpeculiar commented on #125
@cjmyers
I have been able to successfully setup the software and get it up

[2019-03-18 18:13] cjmyers commented on #125
Great.  Please let us know if you have any questions as you begin to explore the codebase.

[2019-03-20 00:57] scootermorris opened #134 "Development of a Cytoscape app for the IntAct database"
### Background
The IntAct database (www.ebi.ac.uk/intact) is a free and open access repository capturing fully detailed experimental evidence for Molecular interactions (MIs) from the scientific literature through manual curation. MIs are inter-molecular physical contacts that underlie most events in cellular biology. MIs can be analysed as relational graphs in the shape of networks, providing ins

[2019-03-20 01:01] scootermorris commented on #3
Absolutely!

[2019-03-20 01:10] scootermorris opened #135 "Implementation of web services versions of clusterMaker clustering algorithms"
### Background
clusterMaker2 is one of the most popular apps for Cytoscape.  It provides a large number of attribute and network clustering algorithms that may be visualized in Cytoscape, including hierarchical clustering, HOPACH, K-Means, K-Medoid, MCL, Affinity Propagation, TransCluster, etc.  It also provides various dimensionality reduction algorithms such as tSNE, PCA, etc.  All of these algo

[2019-03-20 17:23] debashish05 commented on #106
Hello. My name is Debashish Roy and I am studying Information Technology at Jabalpur Engineering College. Is the project is available for GSoC? I know I am late due to some unavoidable condition but I am ready to give my best. Also I tried to build libRoadRunner from the source http://libroadrunner.org/build-roarunner-from-source/linux-build-distribution/ . But it seems not working. Please guide m

[2019-03-20 17:32] hsauro commented on #106
What error messages are you getting when you try to build libroadrunner?

H

On Wed, Mar 20, 2019 at 10:29 AM Debashish Roy <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-03-20 17:44] debashish05 commented on #106
Sir, It is giving this error at the build state (ccmake ../roadrunner/third_party/).
 CMake Error: The source directory "/home/roadrunner/third_party" does not exist.
 Specify --help for usage, or press the help button on the CMake GUI.

[2019-03-20 17:47] hsauro commented on #106
Have you been following the build instructions exactly?

I am ccing this to Kyle who will tell you where the detailed instructions
are if you haven't found them.

Herbert Sauro

On Wed, Mar 20, 2019 at 10:44 AM Debashish Roy <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://boo

[2019-03-20 17:49] 0u812 commented on #106
The build instructions are here:
https://github.com/sys-bio/roadrunner/wiki/Building-from-Source

[2019-03-20 17:51] debashish05 commented on #106
Yes I am following the instructions exactly. Ok sir I willl try to find the instructions.

[2019-03-21 03:19] RohitChattopadhyay commented on #109
Is this still open for GSoC19?

[2019-03-21 15:33] debashish05 commented on #106
Sir, I tried to install libroadrunner from given source but at my system after 86% of the building of llvm it gives: fatal error : ld terminated with signal 9 [killed] compilation terminated. I tried to build llvm 8 as the available link works for windows. I tried the same building process two times and failed both the time. Also, it takes a lot of time around 4 hours just for llvm.
Then I came ou

[2019-03-21 15:37] 0u812 commented on #106
You need to build llvm 3.5.2 per the instructions above

[2019-03-21 15:48] hsauro commented on #106
As mentioned by Kyle, the build process is fragile and therefore you must
follow the instructions exactly as given, for example, it says:

"Right now, only an edited version of LLVM 3.5.2 is supported "

Hence you must use LLVM 3.5.2. We currently don't support LLVM 8. It also
gives the download link to the 3.5.2 we use.

Build instructions:

https://github.com/sys-bio/roadrunner/wiki/Building-fro

[2019-03-21 15:52] debashish05 commented on #106
Sir can you please tell me about this error under build road runner third party deps

Looking for BZ2_bzCompressInit in LIBBZ_LIBRARY-NOTFOUND
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
LIBBZ_LIBRARY
    linked by target "cmTC_2b64e" in directory /home/debashish/tmp/

[2019-03-21 16:05] hsauro commented on #106
I don't think there is a shortcut unless Kyle has other ideas. I would
start again and make sure you carry out each step exactly as described. If
you then come to a problem I would get back to us because that suggests the
instructions are incomplete.

Herbert Sauro

On Thu, Mar 21, 2019 at 8:53 AM Debashish Roy <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of

[2019-03-21 16:12] debashish05 commented on #106
Can I carry on my work with proposal later I will build it? Although I find this script very useful https://github.com/sys-bio/roadrunner/issues/334#issuecomment-223550814

[2019-03-21 16:13] 0u812 commented on #106
Debashish I think you’re getting the bzip2 error because you’re using Matthias’ build script instead of the instructions above.

[2019-03-21 16:17] hsauro commented on #106
We probably do need a script like the one you found, the entire process
would be less fragile. Maybe this is something that could be created as
part of the Google summer of code project?

Herbert Sauro

On Thu, Mar 21, 2019 at 9:13 AM Debashish Roy <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@

[2019-03-21 16:19] debashish05 commented on #106
I will again follow the same instruction one more time with the resources given by you and with llvn 3.5.2 not llvm 8. And get back to you.
Thank You.

[2019-03-21 16:24] hsauro commented on #106
ok good, we'll see how far you get. But long term a script would be very
useful to have.

Herbert Sauro

On Thu, Mar 21, 2019 at 9:19 AM Debashish Roy <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-03-21 16:42] cannin commented on #109
Yes, the project is still available this year.

[2019-03-21 20:35] matthiaskoenig commented on #106
Just to make some general comments about the implementation. Key for a fast implementation (almost for all algorithms) is a fast calculation of sensitivities.

You should have a look at the following
https://github.com/ICB-DCM/AMICI
which will provide you the the necessary access to sensitivities in the fastest and most robust way possible

Please have a look at
https://journals.plos.org/ploscompb

[2019-03-21 20:47] hsauro commented on #106
Matthias, note that the best optimization algorithms don't require
sensitivities, especially for large models. Eg most evolutionary don't. On
the other hand, I wasn't aware of this project. A recent project from Los
Alamos National Labs (not yet published but submitted)  saw major
improvements in compute time when using libroadrunner for parameter
optimization. I think they just coupled libroadrun

[2019-03-22 20:33] soccerdroid commented on #61
Hello, I am an undergraduate CS student from Ecuador. I am interested in this project. Where can I see/test the current implementation?

[2019-03-22 20:55] soccerdroid commented on #135
Hello, I am a CS undergraduate student from Ecuador. I am interested in the project. Where can I see the current implementation of Cytoscape communication with tasks from server-side? clusterMaker will communicate directly with the server or through Cytoscape?

[2019-03-25 13:02] maxkfranz commented on #61
I think Ugur is referring to a hack involving translating canvas function calls into svg.  That's very fragile, and it's not what we're looking for in this project.

This project would involve reading the style for each element and generating svg from that.

[2019-03-25 13:05] ugurdogrusoz commented on #61
Yes the implementation in Newt (https://github.com/iVis-at-Bilkent/newt) is not a long term solution I meant.

[2019-03-25 20:53] yashagarwal97 commented on #93
Hi Sir,
**My name is Yash Agarwal. I am keen to take up this project.**

**About Myself:**
My name is Yash Agarwal. I am currently pursuing Bachelor of Technology in Computer Science and MS by Research in Bioinformatics at International Institute of Information Technology, Hyderabad, India. I am currently in my 3rd year.

**Why I want to take up this project:**
Sir, I am pursuing research in the f

[2019-03-26 07:37] #29 closed

[2019-03-26 07:38] #27 closed

[2019-03-26 23:31] scootermorris commented on #135
Sorry to take so long to get back to you. The source code for clusterMaker2 is at https://github.com/RBVI/clusterMaker2.  The Jobs API information is at: http://code.cytoscape.org/jenkins/job/cytoscape-3-javadoc/ws/swing-app-api/target/site/apidocs/org/cytoscape/jobs/package-summary.html

-- scooter

[2019-03-26 23:33] scootermorris commented on #16
I believe boundaryLayout accomplishes this.

[2019-03-27 04:05] mahmodHammad commented on #109
what do you mean by Difficulty: 2 ?!

[2019-03-27 04:32] niikhilghodke commented on #109
I am not a mentor but difficulty level is just to give the participants an idea about the level of difficulty of the project .

[2019-04-01 07:27] VIGS25 commented on #72
Hi,

I would like to contribute to this project, not from a Google Summer of Code application perspective, but instead from becoming proficient in C++. (If no one has taken it already)

I am a student in Computational Biology at ETH Zurich, and I'm comfortable with the different paradigms of C++, but haven't used it in an open source project before.

Could you guide me through what steps I should

[2019-04-01 14:44] knightwayne commented on #127
Hello Sir,

I am Arnav Ishaan , a Computer Science undergraduate , competitive programmer and web developer from BIT Mesra, India. I love open source and web development, and am fairly comfortable with both front end and back end programming.

I have fair amount of experience in coding with C/C++ , Java and Python.
And I have made several front-end projects using HTML/CSS/Javascript. I have also c

[2019-04-02 07:06] ugurdogrusoz commented on #127
Please see my reply as email.

[2019-04-02 07:10] knightwayne commented on #127
Yes sir, I am seeing the current algorithm written in Java cited in email, and am also reviewing the JavaScript implementation. Will get in touch soon.

[2019-04-03 21:53] knightwayne commented on #127
@ugurdogrusoz Sir I have emailed you a few queries regarding this. Please see it.

[2019-04-09 08:05] Philosophist commented on #3
Sorry for such a last-minute proposal. The window to apply was a bit narrow for me and I was unsure if I would be qualified for anything until I saw this one. I can refine my proposal if you would grant me an extension and would offer feedback.

[2019-04-09 15:29] AlexanderPico commented on #3
@Philosophist Unfortunately, we are not allowed grant extensions. The program is run by Google and they set the timeline and application procedures. I’d recommend getting something in to at least have a chance. Applications have to be submitted through the official GSoC site.  There are no exceptions made to the deadline.

[2019-04-23 15:26] shalinshah1993 commented on #120
For some of you interested in working with NRNB for this summer, this other issue is also very cool if that excites you. The issue requires JAVA knowledege. More details can be found in the issue description.

https://github.com/nrnb/GoogleSummerOfCode/issues/101

[2019-04-24 20:58] #92 closed

[2019-04-24 20:58] #93 closed

[2019-04-24 20:58] #83 closed

[2019-04-29 08:22] matthiaskoenig opened #136 "Develop/Update a Cytoscape 3 app for RDF"
### Background
RDF is a key data format in systems biology and underlying the semantic web. At the core RDF is a graph structure consisting of triples (subject - verb - object). RDF is often used in the context of biological annotations, e.g., in the Systems Biology Markup Language (SBML), the Simulation Experiment Description Language (SED-ML). Annotations give objects meaning by providing a sema

[2019-05-06 23:50] khanspers commented on #122
Active GSoC 2019 project.

[2019-05-06 23:51] khanspers commented on #132
Active GSoC 2019 project.

[2019-05-06 23:51] #132 closed

[2019-05-06 23:53] khanspers commented on #127
Active GSoC 2019 project.

[2019-05-06 23:53] #127 closed

[2019-05-06 23:55] khanspers commented on #106
Active GSoC 2019 project.

[2019-05-06 23:56] khanspers commented on #126
Active GSoC 2019 project.

[2019-05-06 23:56] #126 closed

[2019-05-06 23:56] khanspers commented on #113
Active GSoC 2019 project.

[2019-05-06 23:56] #113 closed

[2019-05-06 23:58] khanspers commented on #114
Active GSoC 2019 project.

[2019-05-06 23:58] #114 closed

[2019-05-06 23:59] khanspers commented on #128
Active GSoC 2019 project.

[2019-05-06 23:59] #128 closed

[2019-05-06 23:59] khanspers commented on #98
Active GSoC 2019 project.

[2019-05-06 23:59] #98 closed

[2019-05-07 00:00] khanspers commented on #120
Active GSoC 2019 project.

[2019-05-07 00:00] #120 closed

[2019-05-07 00:00] khanspers commented on #109
Active GSoC 2019 project.

[2019-05-07 00:00] #109 closed

[2019-09-19 05:58] ugurdogrusoz commented on #124
This was done independent of GSoC. So this should be closed.

[2019-09-19 17:52] #124 closed

[2019-10-21 04:39] VIGS25 commented on #72
Hi @hsauro, is this still an open problem?

[2019-10-21 15:21] hsauro commented on #72
Yes it is, but it’s a complex problem to resolve.

H

On Sun, Oct 20, 2019 at 9:39 PM Vignesh Ram Somnath <
notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-10-31 10:50] ugurdogrusoz commented on #133
https://summerofcode.withgoogle.com/archive/2019/projects/5027226301497344/
Done as part of GSoC 2019, could be closed!

[2019-11-20 14:12] siddharth952 commented on #136
Can I work on this?

[2019-11-24 22:49] matthiaskoenig commented on #136
@siddharth952 The google summer of code for 2019 finished. This project will be part of next years possible projects. If you want to work on this outside of Google of Summer of Code let me know. I could mentor you on this.
Best Matthias

[2019-11-26 04:20] siddharth952 commented on #136
@matthiaskoenig Hello, I hope you are doing great! Yes I know I was thinking on completing this project before Google summer of code 2020 such that I’m able to get to know the code base and contribute more efficiently and maybe even take on another project for gsoc2020

[2019-12-03 11:49] yash170106065 commented on #111
hi can i work on this??

[2019-12-03 11:51] yash170106065 commented on #129
can i work on this??

[2019-12-06 19:48] khanspers commented on #111
Hi. Please contact the potential mentors directly (contact info above). If there is interest, this could be run as an NRNB Academy project.

[2019-12-06 19:48] khanspers commented on #129
Hi. Please contact the potential mentors directly (contact info above). If there is interest, this could be run as an NRNB Academy project.

[2019-12-08 11:15] yash170106065 commented on #111
thanks for replying I will start working...

[2019-12-10 04:53] yash170106065 commented on #111
OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '<frozen importlib._bootstrap>'
I don't know why this error is coming while running graphspace locally I followed every steps in readme.md but while running server it showing error can anyone help me on this issue ??

[2019-12-10 08:09] adbharadwaj commented on #111
@yash170106065 Can we move the discussion about this error here. https://github.com/Murali-group/GraphSpace/issues/337

We also have a page where document common installation problems faced by new contributors. It might be helpful for you. https://github.com/Murali-group/GraphSpace/wiki/Common-installation-roadblocks-faced-by-new-contributors

[2019-12-23 20:00] cjmyers commented on #129
This has been supported outside of GSoC.

[2019-12-23 20:00] #129 closed

[2020-01-07 09:08] matthiaskoenig commented on #3
Just for understanding how this should work. Basically this would be a small javascript library which would provide a wrapping layer around available CyREST commands (and automation) similar to the available python and R wrappers?

[2020-01-07 09:48] matthiaskoenig opened #137 "Update JSON scheme and implementation for SBML"
### Background
The Systems Biology Markup Language (SBML) is the main language for representation and exchange of computational models in biology. JSON is the main data format of the web. Currently, many issues exist with the JSON representation of SBML used by tools like cobrapy, escher, ModelPolisher or the BiGG database. E.g.

https://github.com/opencobra/cobrapy/issues/706
https://github.com/o

[2020-01-07 14:02] ugurdogrusoz opened #138 "Experiment data overlay in Newt"
[Newt](http://newteditor.org) is a [Cytoscape.js](http://js.cytoscape.org/) based viewer and editor for biological maps in Systems Biology Graphical Notation (SBGN) notation [1] to create biological maps from scratch or edit existing ones. It's been built (with partial support from GSoC) around an editing library named [ChiSE](https://github.com/iVis-at-Bilkent/chise.js), which in turn was based o

[2020-01-07 14:30] ugurdogrusoz opened #139 "Implement more graph algorithms for Cytoscape.js"
### Background
[Cytoscape.js](https://js.cytoscape.org/) is a popular graph analysis and visualization library with many useful [extension](https://js.cytoscape.org/#extensions).

### Goal
The goal of this project is to implement additional graph algorithms to construct a graph of interest from a set of nodes of interest. These is especially useful for a focused analysis of large graphs.

Among th

[2020-01-07 16:50] RBVI commented on #3
There are actually two options here.  First, CyBrowser is our built-in browser component, which supports Javascript, CSS, HTML5, etc.   In addition, it's closely tied into Cytoscape itself, so it allows you to register listeners and call javascript callbacks on node or edge selection.  Moreover, we can extend it as needed to tie in closely to Cytoscape.   Second, as you have suggested, rather than

[2020-01-07 17:09] funasoul opened #140 "Develop a system that generates various spatial SBML models using deep learning"
### Background
[SBML(Systems Biology Markup Language)](http://sbml.org) has several extension packages to extend its capability. One of its extension is called [Spatial Processes (spatial)](http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/spatial) which supports for describing processes that involve a spatial component, and describing the geometries involved. SBML spatial extension e

[2020-01-07 22:04] cjmyers commented on #117
Closing.  Working on this within the SBOL Visual Community already.

[2020-01-07 22:04] #117 closed

[2020-01-11 14:02] singh-yashwant commented on #140
Hi @funasoul
I am interested in this project and have few queries should I email or post them here only?
Thanks, have a great day

[2020-01-11 14:08] funasoul commented on #140
Thank you for your interest in this project. Let me clarify that as we have not yet submitted our organization application, it is not confirmed to be a GSoC 2020 project yet.
But we are welcome to answer your questions on it.
Please post here so that @kaitoii11 and @tokkuman can also reply to your question.

[2020-01-11 14:40] singh-yashwant commented on #140
Thanks for fast reply @funasoul
I am Yashwant Singh a Computer Science sophomore at Dayananda Sagar College of Engineering, Bangalore, India.
I found this project very interesting and aligned with my skill-set which include
- Knowledge of Python and Java programming language
- basic understanding of XML
- Experience in working with basic machine learning and deep learning models
However I am not f

[2020-01-12 20:00] draeger opened #141 "Simulation of systems biology models in Java: support for new features"
### Background
The [Systems Biology Simulation Core Library (SBSCL)](https://github.com/cogsys-tuebingen/SBSCL) is a collection of classes for simulating computational systems biology models in a Java&trade; program. SBSCL already ships solvers for both, a constraint-based simulation framework (steady-state flux balance analysis) as well as numerical solvers for systems biology models that are int

[2020-01-13 15:05] #89 closed

[2020-01-13 15:05] #88 closed

[2020-01-13 15:46] marcoxa commented on #131
Dear Dexter,

let's discuss this (even if it is a year later :) )  We have a few developments on our side...
All the best
Marco

[2020-01-13 19:19] #133 closed

[2020-01-13 23:29] #16 closed

[2020-01-14 00:49] #115 closed

[2020-01-14 18:36] #130 closed

[2020-01-14 18:38] #108 closed

[2020-01-14 18:38] #105 closed

[2020-01-14 18:38] #72 closed

[2020-01-14 18:42] #32 closed

[2020-01-14 18:42] #30 closed

[2020-01-14 19:33] #61 closed

[2020-01-15 15:55] cannin opened #142 "Develop/Update Web Interface for Natural-Language Processing Extracted Interaction Network"
### Background
This builds on the work of from #109 and found here: https://github.com/cannin/ihop-reach, where the Pathway Commons team has an extracted network of biological interactions from scientific literature (http://reach.nrnb-docker.ucsd.edu/) and a prototype interface has been developed.

### Goal
The goal is to expand on the web interface and the data generation pipeline developed in 20

[2020-01-15 16:12] cannin opened #143 "Develop/Update R Shiny Interface for SBGN Diagrams using the Javascript SBGNViz Library"
### Background
The Systems Biology Graphical Notation (SBGN) is a widely used notation for visualizing biological networks (https://dx.doi.org/10.1038/nbt.1558). The reach of SBGN could be increased by making it easier to use from commonly used bioinformatics programming languages such as R. A basic interface has been developed: https://github.com/cannin/sbgnvizShiny but needs improvement.

### Go

[2020-01-15 16:23] cannin opened #144 "Develop a Web Service for Rendering SBGN Diagrams"
### Background
The Systems Biology Graphical Notation (SBGN) is a widely used notation for visualizing biological networks (https://dx.doi.org/10.1038/nbt.1558). The reach of SBGN could be increased by making it easier if SBGN diagrams can be quickly be rendered through a web service.

### Goal
The goal to develop a web service that can generate SBGN diagrams given SBGNML (https://www.ncbi.nlm.nih

[2020-01-16 13:46] Hemant27031999 commented on #65
Hello, I'm Hemant, a Computer Science sophomore from the Indian Institute of Technology, Roorkee India. I have experience with java and XML, and I find this issue interesting.
Is it open for GSoC 2020?
Thanks.

[2020-01-16 13:50] draeger commented on #65
Thanks for your interest in this topic, @Hemant27031999! Right now, we are in the procedure of applying to Google. On February 20th we will get to know if we can offer this project through the Google-funded program. See the time line here: https://summerofcode.withgoogle.com. We would be happy to help you applying for this project once NRNB has been accepted as a mentoring organization for 2020.

[2020-01-17 08:48] Hemant27031999 commented on #65
Ok! Thanks for your quick reply.

[2020-01-18 10:15] DipanshiB commented on #142
I would like to take this up if its open for contribution at the moment? I have worked with GraphQL, Node.js applications with MongoDB database. @cannin

[2020-01-20 19:23] adad20 commented on #138
Hello, I am interested in this project. Can I take this project?

[2020-01-21 09:01] ugurdogrusoz commented on #138
@adad20 if you qualify (and NRNB is selected as an organization to participate this yera), you may write a proposal on this or other project ideas. Procedure is detailed [here](https://nrnb.org/gsoc.html) and in GSoC web pages.

[2020-01-21 12:43] adad20 commented on #138
okay

[2020-01-22 10:47] hemilpanchiwala commented on #141
Hi @draeger,
I find this issue interesting and would like to work on it. After going through the required resources, how should I proceed with the task?
Also, what is the preferred method of contact?
Thank You.

[2020-01-22 11:30] draeger commented on #141
Dear @hemilpanchiwala! Thanks for your interest in this topic! Right now you can already look at the documentation of the project at https://draeger-lab.github.io/SBSCL/, the [API specification](https://draeger-lab.github.io/SBSCL/apidocs/overview-summary.html) in particular. When Google announces the funded organizations on February 20, we should get in touch again - if NRNB is successful, we sho

[2020-01-23 20:54] cannin opened #145 "Develop a Slack Bot to Improve the Results of Text Extraction of Biomedical Interactions"
### Background
Natural language processing of the scientific literature and the automated assembly of this information by the INDRA system (http://github.com/sorgerlab/indra.git) is prone to errors. The improvement of the algorithms and models responsible for these tasks can greatly benefit from expert feedback.

### Goal
The goal is to implement a bot plugin for the Slack workspace
of the Harvard

[2020-01-25 14:56] MoHelmy opened #146 "Adding Network Analysis and Visualisation Features to ABoiTrans"
### Background
[ABioTrans](https://www.frontiersin.org/articles/10.3389/fgene.2019.00499/full) is a bio-statistical/informatics tool, ABioTrans, developed in R for gene expression analysis. The tool allows the user to directly read RNA-Seq data files deposited in the Gene Expression Omnibus or GEO database. provides easy options for multiple statistical distribution fitting, Pearson and Spearman r

[2020-01-26 12:38] marcoxa opened #147 "Develop LACE-view: a visualizer for Longitudinal Clonal Trees"
### Background

The BIMIB/DCB group at the Universita` degli Studi di Milano-Bicocca has constructed a series of algorithms and tools to study the Cancer Evolution from Single Cells in the context of the Accelerator Award Project "Single-Cells Cancer Evolution in the Clinic".  The tool, called LACE, is the result of several previous developments in the study of "Reconstruction of Cancer Progressio

[2020-02-04 13:24] Hemant27031999 commented on #137
Hi @matthiaskoenig , I'm Hemant from the Indian Institute of Technology, Roorkee, India. I find this issue quite interesting. I have gone through the listed issues of cobrapy and have got an insight of them. I have dig some of them quite deeper also, understanding where the issue actually points by discussing them with the members of cobrapy. If NRNB made it possible to GSoC this time, I would lik

[2020-02-04 18:58] #134 closed

[2020-02-06 20:30] rahul799 commented on #145
@cannin, I will like to work on this project. I have a query like, who will provide the questions? Do I need to contact Augustin or Benjamin for that?

[2020-02-08 05:38] rahul799 commented on #146
@MoHelmy I found this project very interesting & will like to do this. Can you please tell me about the evaluation task?

[2020-02-09 03:26] MoHelmy commented on #146
Hi @rahul799 Thanks for being interested in our project. Please send your CV to the 2 email addresses provided above and I will respond to you ASAP.

[2020-02-10 07:04] rahul799 commented on #146
Hello @MoHelmy, I just wanted to inform you that I have sent the mail.

[2020-02-10 08:10] MoHelmy commented on #146
@rahul799 Thanks but please resend. There was a typo in the email address. I fixed it and sorry about that. Please send to mohamed_helmy@biotrans.a-star.edu.sg and kumar_selvarajoo@biotrans.a-star.edu.sg

[2020-02-10 12:14] rahul799 commented on #146
@MoHelmy no issues, I have sent the mail again. Please check it & let me know if you won't get it.

[2020-02-10 12:58] MoHelmy commented on #146
Thanks again @rahul799, got it and will come back to you.

[2020-02-12 17:40] 12VISHESH commented on #146
Hey, @MoHelmy, I found this project is very interesting in data visualization and analysis. I have worked on R shiny app for my project. and also I have worked on data analysis and visualization.
currently, I am looking forward to contributing to open source.
So suggest to me, what I can do further in this project!

[2020-02-12 22:17] MoHelmy commented on #146
@12VISHESH Thanks for your interest in our project, please send your CV and a motivation letter to mohamed_helmy@biotrans.a-star.edu.sg and kumar_selvarajoo@biotrans.a-star.edu.sg and we will come back to you ASAP.

[2020-02-13 00:40] vcellmike opened #148 "Develop GUI for ImageJ groovy script calling VCell API"
### Background
VCell (http://vcell.org) is an open source software platform that can model and simulate reaction-diffusion systems in geometries derived from 3D experimental microscopy images; it can also utilize experimentally derived molecular concentrations and cellular localizations. It is used by scientists around the world to create quantitative hypotheses of cellular functions whose predict

[2020-02-14 13:56] 12VISHESH commented on #146
hello, @MoHelmy I have sent the mail, kindly check the mail .
thanks,
happy coding

[2020-02-14 14:18] akshansh2000 commented on #136
Is this issue still available to work upon for GSoC '20?

[2020-02-14 14:18] akshansh2000 commented on #136
@matthiaskoenig, is this issue still available to work upon for GSoC '20?

[2020-02-14 16:58] khanspers commented on #136
@akshansh2000 , note that Google has not yet announced which organizations will be part of GSoC 2020. Please check back at the end of next week.

[2020-02-15 11:10] 12VISHESH commented on #146
Hey @MoHelmy I have sent you all documents , kindly have a look
thanks,
happy coding

[2020-02-15 22:58] MoHelmy commented on #146
Thanks @12VISHESH, I got them and I will be in touch soon.

[2020-02-16 03:07] rahul799 commented on #146
@MoHelmy I have sent a mail regarding the completion of task. Please have a look.

[2020-02-16 07:09] 12VISHESH commented on #146
sure @MoHelmy, I am waiting for your further instruction.
Is there is any task till yet in this project?
thanks and regards
happy coding

[2020-02-16 17:09] khanspers commented on #146
Hi @rahul799 and @12VISHESH , thanks for your interest in this project and NRNB. Please note that we don't know yet if NRNB will be in GSoC 2020, as Google has not announced accepted organizations for this year yet. If we are accepted, you will get further information on the full application process.

[2020-02-16 18:14] 12VISHESH commented on #146
@khanspers  thanks for informing me. I hope this year also NRNB comes and completes its projects and through that, I can learn lots of things in open source.
thanks and regards
happy coding

[2020-02-20 00:55] dexterpratt commented on #131
Hi Marco,

Just found your email deep in my backlog. What’s up?

Dexter

[2020-02-21 04:16] Hemant27031999 commented on #137
@matthiaskoenig , is this issue open for GSoC 2020?

[2020-02-21 08:06] marcoxa commented on #131
Hi

we have been porting MaREA to Galaxy and we are open to more
collaborations.  The NDEx addition would be very interesting.

I think the MaREA/JS project is still up for grabs for the upcoming GSoC,
so maybe we can find somebody to work on it.  Or something else.

All the best

Marco

On Thu, Feb 20, 2020 at 1:55 AM Dexter Pratt <notifications@github.com>
wrote:

--
Marco Antoniotti
Somewhere o

[2020-02-21 14:19] hemilpanchiwala commented on #141
Hi @draeger,
I had a little doubt regarding the tasks to be done through this project. In the goals, it is mentioned to change the project's backend for SED-ML from jLibSEDML to JSEDML. But I didn't find the implementation of JSEDML as it is one of the undone projects. So, do this project targets the implementation of JSEDML also?

And, I have also sent you the mail regarding my current status for

[2020-02-21 14:35] draeger commented on #141
@hemilpanchiwala I am answering you via e-mail direct.

[2020-02-21 17:20] dexterpratt commented on #131
The Cytoscape team is working on standardizing widgets, libraries, data formats for “open in Cytoscape”, “save to NDEx”, “send gene list to IQuery” (iquery.ndexbio.org <http://iquery.ndexbio.org/>) and other resources.

So using those (or underlying apis) in an application / framework could be interesting and perhaps well bounded

[2020-02-23 16:25] IceCereal commented on #73
Hello, since this is still open and is in GSoC this year, is there an update available for anyone viewing this straight from the GSoC website?

[2020-02-24 05:44] ugurdogrusoz opened #149 "PathwayMapper viewer and editor improvements"
**Background**:
While the previous network visualization module in cBioPortal was a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA). With the motivation of creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data

[2020-02-24 14:03] YashKK2198 commented on #145
@cannin I am Yash Kulkarni. I am a final year computer engineering undergraduate student fro VIT Pune, India. I am interested in working on this project.

[2020-02-24 15:11] matthiaskoenig commented on #137
@Hemant27031999 Yes, I answered you via email.

[2020-02-24 15:41] matthiaskoenig commented on #136
@akshansh2000 This issue is available for GSOC2020. Please let me know if you are interested. Best Matthias

[2020-02-24 16:14] akshansh2000 commented on #136
Hi @matthiaskoenig, yes, I would love to work on this. Where should I start?

As for the prerequisites, I am proficient with Java, but do not have a lot of experience with RDF/Cytoscape.

[2020-02-24 17:01] matthiaskoenig commented on #136
@akshansh2000 Two things are important.
1. To write a good proposal. You should start this as soon as possible and interact with the mentors on this.
2. Get to know the technologies you are going to use. For Cytoscape app development I recommend to follow the app ladder: https://github.com/cytoscape/cytoscape/wiki/Cytoscape-App-Ladder
Which will bring you up to speed very fast. Try to build the cy

[2020-02-24 17:53] johnbachman commented on #145
@rahul799 @YashKK2198 Thank you both for your interest! The questions will actually be computer-generated--that is, a back-end system that we have developed will make (possibly uncertain or incorrect) inferences and then submit these questions to the Slack interface for expert human curation and validation. Feel free to ask any other questions in this thread and @bgyori and I will do our best to a

[2020-02-24 18:09] rahul799 commented on #145
@johnbachman @bgyori I got the answer, What could be my next step? Should I start drafting my GSOC proposal?

[2020-02-25 05:21] YashKK2198 commented on #145
@johnbachman Thank you for your response. I have downloaded the git files. Can you please let me know what are the next steps to be followed?

[2020-02-25 07:12] akshansh2000 commented on #136
@matthiaskoenig, thanks for the information!
I'll certainly try my hands on my first CytoScape app, and will get back to you then.

Cheers!

[2020-02-25 19:36] hsauro commented on #73
No update, it's the same project,

Herbert Suro

On Sun, Feb 23, 2020 at 8:25 AM IceCereal <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-02-25 23:15] AlexanderPico commented on #39
@Kera24 Go through the [Cytoscape App developer ladder](https://github.com/cytoscape/cytoscape/wiki/Cytoscape-App-Ladder) and see how far you get. Let us know by email: alex.pico@gladstone.ucsf.edu. Also share your prior Java experience (required) and any prior experience with SBGN or other biology related glyphs or curation standards (optional).

[2020-02-26 14:25] adad20 commented on #138
@ugurdogrusoz Is there anything to get started before the proposal period. I want to know more about the organisation and project.

[2020-02-26 16:58] ugurdogrusoz commented on #138
@adad20 Looks like we will remove this from project ideas since there's been a lot of progress on this module already, sorry.

[2020-02-26 16:58] #138 closed

[2020-02-27 00:24] alecplotkin commented on #110
Hi @cannin, I'm interested in this project. I have a strong background using R to build bioinformatics pipelines, and am comfortable navigating Java code as well. In addition, a major goal of mine is to build expertise in developing R packages. I'm not sure if I'm eligible for GSoC (I'm currently only taking a class at an extension school), but I would be interested in working on this project thro

[2020-02-27 01:21] adad20 commented on #138
@ugurdogrusoz No problem I will look at the other projects.

[2020-02-27 05:33] hasanbaig opened #150 "Generating detailed genetic logic circuit models using GeneTech"
### Background
GeneTech (extracted from **Gene**tic **Tech**nology mapping) is a tool which allows a user to generate genetic logic circuits only by specifying the logical function desired to be achieved in a living cell. It does not require a user (either biologist or a computer scientist) to learn any programming language. All what it requires a user to specify a desired logical function in the

[2020-02-27 07:08] ntung commented on #97
Hi @niko-rodrigue and @draeger,

Do you still tend to build Java binding for libAntimony? We might collaborate with this work if you are interested in.

Regards,
Tung

[2020-02-27 12:54] adad20 commented on #144
Hello @cannin,
I found this project interesting and want to work on it. I have previous experience with web development this project suits me and will improve my skills in various aspects.
Can you guide what should I do next in order to be on the same page?

[2020-02-28 18:27] cannin commented on #110
Thanks for the interest. @alecplotkin send your CV to the email address in the project description.

[2020-02-28 18:36] cannin commented on #144
Thanks for the interest. @adad20 send information on your coding skills/prior experiences to the email address in the project description.

[2020-02-28 18:40] cannin commented on #142
Sorry for the delay. @DipanshiB if still interested send me a message at the email in the project description, let me know a bit about the prior work you've done, your programming background, and give me a quick idea of how you might fix the search interface to make it faster.

[2020-02-28 20:02] Aoun-Hussain commented on #150
I am a student from Karachi, Pakistan. I have previously worked on research projects related to Wireless Communications and IoT and simulated them on Python using various libraries. I have never worked on an open source project before. This project is interesting and I would want to work on it!

[2020-02-28 20:05] hasanbaig commented on #150
Thanks for your interest @Aoun-Hussain . Please share your CV. We will talk further about it.

[2020-02-28 20:16] Aoun-Hussain commented on #150
Sure, I have emailed you my CV @hasanbaig .

[2020-02-29 06:03] Harshrai3112 commented on #144
Hello @cannin
I would like to work on this project as i have good knowledge of Javascript  and its framework nodejs and Angular. I had made web service in  my previous projects also.

[2020-02-29 06:10] Harshrai3112 commented on #139
Hello @ugurdogrusoz
I would like to on this project as i have good knowledge of graph algorithms and also implement many graph algorithms.But i have just started learning cytoscape.js.
So can you guide me how can i move forward.

[2020-02-29 07:06] ugurdogrusoz commented on #139
@Harshrai3112 You could start by doing the Cytsocape.js tutorials. Then looking into the implementation of graph algorithms such as centrality measures in Cytocape.js core. Finally read the mentioned paper in this issue.

[2020-02-29 09:11] adad20 commented on #144
@cannin  I have sent the mail kindly check.
Regards!!

[2020-02-29 09:25] onsah commented on #144
Hi @cannin
I am interested in this project and would like to work on it. I have previous web experiences with html+javascript including ES6 standard. I think this project would help me to improve my skills. Can you show me some pointers to start working on this project?

[2020-02-29 16:48] born-2learn commented on #140
@funasoul @kaitoii11 @tokkuman

Image Processing and deep learning applications have already fascinated me since high school.

I'm Syed Farhan, an Undergrad student in India, and am interested to explore this project.
I have experience with python and tensorflow, and can also try and work with pytorch.

[2020-02-29 17:15] Harshrai3112 commented on #139
Thank you for information.

[2020-02-29 17:19] Harshrai3112 commented on #144
I didn't received any mail.
my  email id :- harshrai3112@gmail.com
Thank you.

[2020-02-29 20:31] AlexanderPico opened #151 "Universal Property Display in Cytoscape"
### Background
[Cytoscape](http://www.cytoscape.org) is a highly popular open source bioinformatics software platform for visualizing, analyzing, and publishing graphs or networks representing molecular interactions, gene expression, other biological data. As a desktop platform, Cytoscape is one of the most successful open source projects in biology, and it is capable of integrating observational

[2020-02-29 21:03] AlexanderPico opened #152 "Machine Learning for Network Layout Algorithms"
### Background
Cytoscape offers a variety of layout algorithms to be applied to a wide diversity of networks. For example, force-directed algorithms are often applied to protein-protein interaction networks; hierarchical layout algorithms are applied to ontologies and taxonomies; and there is active research in to new algorithms for biological pathways.  Each of the layout algorithms has a tunable

[2020-03-01 19:35] singh-yashwant commented on #152
Hello @AlexanderPico , @dexterpratt , @scootermorris
I find this issue interesting and aligned with my skill set, is it open for gsoc 2020?
Thank you

[2020-03-01 21:39] AlexanderPico commented on #152
Yes. All open issues here are for GSoC 2020

[2020-03-02 12:44] funasoul commented on #140
@singh-yashwant @born-2learn
Thank you for your interest in this project.
Please send your CV to us (the 3 email addresses provided above in "Contact"). Thanks!

[2020-03-03 04:52] born-2learn commented on #140
@funasoul
Thank you for your response.
I have shared my resume(Cv) with all the three contacts.(from: syedfarhana.ec18@rvce.edu.in)
Looking forward to working with you.

[2020-03-03 08:15] mehumaija commented on #144
hello! I'm a little bit familiar with JavaScript, have done one project using it for data processing on a web page. What should I learn more about JavaScript to be able to do rendering?

Thanks!

[2020-03-03 08:23] mehumaija commented on #42
hi!

I am not familiar with clustering algorithms, or at least not with the term. Do you know a good source where I could get information from about them?

[2020-03-03 12:16] born-2learn commented on #140
@funasoul @kaitoii11 @tokkuman
Can you guide me with getting started and the further steps to be taken.
Is it compulsory to use pytorch instead of tensorflow?

[2020-03-03 14:21] scootermorris commented on #151
That should be fine.  The only area you may need to come up to speed on is OSGi, but that should be pretty straightforward and we can help you get over that hurdle.

[2020-03-03 14:53] scootermorris commented on #42
Sure!  Here is a pretty good video covering a couple of graph clustering algorithms: https://www.youtube.com/watch?v=-Afa1WI3iug and here is a nice overview of graph clustering algorithms used for PPI networks: https://academic.oup.com/bioinformatics/article/30/10/1343/266738

-- scooter

[2020-03-03 16:50] singh-yashwant commented on #152
Thanks for reply @AlexanderPico , I would like to work on this project. What would we the optimum way to start working on this issue?
Thank you

[2020-03-03 18:22] laurenli17 commented on #151
Hey guys,
This is Lauren Li who are interested to join GSOC 2020 development with NRNB.
I looked at the project ideas posted on the website, and really interested in the idea of "Universal Property Display in Cytoscape".
I am now an undergraduate student at the Ohio State university studying computer science. I have programming experience in Java, HTML, XML Trees, etc. I also have some experience

[2020-03-03 18:22] laurenli17 commented on #151
Hey guys,

This is Lauren Li who are interested to join GSOC 2020 development with NRNB.

I looked at the project ideas posted on the website, and really interested in the idea of "Universal Property Display in Cytoscape".

I am now an undergraduate student at the Ohio State university studying computer science. I have programming experience in Java, HTML, XML Trees, etc. I also have some experien

[2020-03-03 18:27] scootermorris commented on #151
Hi Lauren,
Great!  You've already taken the first step by setting up Cytoscape.   The next steps are to get set up to develop apps.  To do that, you should look at the [Cytoscape App Ladder](https://github.com/cytoscape/cytoscape/wiki/Cytoscape-App-Ladder) and try to get your environment set up.  Don't hesitate to ask questions!

[2020-03-03 18:28] scootermorris commented on #151
As I mentioned to Lauren, you should definitely set up using Cytoscape and take a look at the [Cytoscape App Ladder](https://github.com/cytoscape/cytoscape/wiki/Cytoscape-App-Ladder) also.

[2020-03-03 18:33] laurenli17 commented on #151
Copy that! Definitely will go through it. Thanks!

[2020-03-03 23:56] ShigapovRinat commented on #151
Hello, I'm Rinat Shigapov, second-year student from Kazan, Russia.

I have programming experience in Java, HTML, CSS and etc.
Also I installed Cytoscape and set up enviroment. Cytoscape App Ladder - it's really useful thing.

I have never worked on an open source project before, but very want to try it.
Previous students wrote great reviews about NRNB and mentors, so I would want to work exactly h

[2020-03-04 12:29] mehumaija commented on #151
@scootermorris Thanks for the tips. Will take a look after my exams this week!

[2020-03-04 16:40] scootermorris commented on #151
On 3/4/20 4:29 AM, mehumaija wrote:

Sounds good.  Best of luck on your exams!

-- scooter

[2020-03-04 17:27] matthiaskoenig commented on #136
@akshansh2000 How are things going?
Could you contact me via email (konigmatt@googlemail.com) so we can plan the next steps and start writing the proposal.

[2020-03-05 00:50] vcellmike opened #153 "Enhance http://compmodelmatch.org/"
### Background
http://compmodelmatch.org/ is the project to match researchers with different expertise.  The set of capabilities we need is best approximated by online data management system.  There exist a few such systems, we have selected SEEK platform (Wolstencroft et al., 2015) that provides the integration and interlinking of heterogeneous data sets in systems biology. The SEEK platform is u

[2020-03-05 01:29] vcellmike opened #154 "Expand ModelBricks.org to add user-run simulations"
### Background
VCell (http://vcell.org) is an open source software platform that can model and simulate reaction-diffusion systems in geometries derived from 3D experimental microscopy images; it can also utilize experimentally derived molecular concentrations and cellular localizations. It is used by scientists around the world to create quantitative hypotheses of cellular functions whose predict

[2020-03-05 19:50] bgyori commented on #145
Hi All, thank you for your interest! We have decided not to pursue this project for this round of GSOC. However, we would like to point you to https://github.com/nrnb/GoogleSummerOfCode/issues/142 which relies on some of the same technologies, as an exciting alternative.

[2020-03-05 19:50] #145 closed

[2020-03-05 20:36] draeger commented on #97
@ntung thanks for your interest in this topic! Yes, it is still current. Could you please contact us via e-mail? We will be happy to assist you putting together a competitive proposal.

[2020-03-06 11:25] funasoul commented on #140
Just sent you my reply to your email address.

[2020-03-06 12:48] ayushtues commented on #140
Hi @funasoul, I am a deep learning enthusiast and I especially love using Pytorch and have done various computer vision projects using it. Can you guide me on how to proceed further?

[2020-03-06 12:51] funasoul commented on #140
@ayushtues
It is great that you already have experience on machine learning and computer vision.
Please send your CV to us (the 3 email addresses provided above in "Contact"). Thanks!

[2020-03-06 12:55] ayushtues commented on #140
@funasoul, I have sent the CV as requested

[2020-03-06 13:10] funasoul commented on #140
@ayushtues Thanks. I will reply to you soon.

[2020-03-06 13:29] cjmyers opened #155 "Integration of sequence visualization into SynBioHub"
### Background
SynBioHub is a design repository for Synthetic Biology. It enables genetic components and designs to be uploaded and shared. As such it facilitates the sharing and searching for information, combining data from a variety of sources. SynBioHub uses the Synthetic Biology Open Language (SBOL) an open source data standard that enables an information rich encoding of genetic information.

[2020-03-07 05:32] sraghuvanshi commented on #154
Hi @vcellmike !
Greetings of the day

This is Saksham Raghuvanshi, interested in doing summer internship (GSOC) in NRNB.
I’m a Computer science undergrad student from India, currently in 2nd year. I’m passionate about web development and web design but more importantly, I carry a goal to make this world a better and more sustainable place.

"VCell API for ModelBricks.org", This project seems very

[2020-03-07 12:17] booleanautocrat commented on #150
Hello!
I am Sarita Singh, a 2nd year undergrad student in electronics and communication engineering from NIT Hamirpur,India. Being from electronics field and interested in coding this project seems very interesting to me. I have not worked with open source before. I know python.I'll like to contribute to this project.

[2020-03-07 12:58] PritiShaw commented on #142
Hi, I am interested in this project. I am confident in ReactJS, Python, Flask, Node, Express, MongoDB. I am well aware of linux environment and I also have certification in basic Google Cloud Platform (from Coursera).
I went through the work done last year. I can see that, for search, `lunrjs` has been used. Although I am not aware of the requirements of the project like which details are importan

[2020-03-07 21:28] indrapatel247 commented on #42
Hey @scootermorris I am a fourth year undergraduate from NIT Durgapur India with BioTechnology as major and I have skills as per the project requirements and decent mathematical background with experience in using Cytoscape app, though I am little late but i will try to pace up as early as possible, I will get back soon after looking to the source code and video resources for graph clustering algo

[2020-03-08 15:08] scootermorris commented on #42
On 3/7/20 1:28 PM, Indra Bhan Singh Patel wrote:

Great!  Be aware that t-SNE has already been implemented, but you're
welcome to look at other embeddings or perhaps Louvain or Leiden clustering.

-- scooter

[2020-03-08 21:36] PritiShaw commented on #142
I made the basic Chrome extension using the provided [Gist](https://gist.github.com/cannin/4a30c1e3551b83f059c2206e491a082a). Requesting code review for my work available at https://github.com/PritiShaw/ihop-reach/tree/Chrome-ext-Highlight-PMC

I tested in Chrome, Chromium on Ubuntu19 and Chrome on Windows 10(results below)
![On Chrome,Win10](https://user-images.githubusercontent.com/34039705/7617

[2020-03-09 16:33] cannin commented on #142
@PritiShaw that's really nice! I updated the project description to give a better idea of what should go into a successful proposal.

[2020-03-09 22:25] Anirbanbhk88 commented on #111
Hi @jahandaniyal @adbharadwaj @tmmurali
I would also like to say that I am interested in python development and want to learn more about open source development. I went through the Google Summer of Code(GSOC) website and this project seemed to be interesting to me. I was going through the Django development tutorials(**https://docs.djangoproject.com/en/3.0/intro/tutorial01/**) and Kafka tutorial(*

[2020-03-09 22:35] laurenli17 commented on #151
Hi! I am getting started and reading the book about git. However, when I'm a little bit stuck at step "Setup Cytoscape App Development", where when I want to search for the egit plugin, the pop-up window always reminds me as the following picture shows. May I ask how can I fix this problem?
![Screen Shot 2020-03-09 at 6 30 26 PM](https://user-images.githubusercontent.com/55322897/76263232-bef88180

[2020-03-09 22:36] laurenli17 commented on #151
Hi! I am getting started and reading the book about git. However, I'm a little bit stuck at the step "Setup Cytoscape App Development", where I want to search for the egit plugin, the pop-up window always reminds me the info as the following picture shows. May I ask how can I fix this problem? Thanks for your time.
![Screen Shot 2020-03-09 at 6 30 26 PM](https://user-images.githubusercontent.com/5

[2020-03-10 03:07] vcellmike commented on #154
Hi Saksham,

There is nothing to run at https://github.com/modelbricks/modelbricks.github.io, these are github pages that after cloning you can either setup as your own github pages (https://dev.to/programliftoff/create-your-first-website-on-github-pages), or copy into a local directory and test in a browser. Check test.html for the latest version that has JavaScript and CSS. The first part of the

[2020-03-10 04:49] sraghuvanshi commented on #154
Thank you, sir, for explaining the project.  :smiley:
I'm very excited to work on it. I have prior experience with VCell API, so that makes the project even more suitable for me.
Sir, I wanted to know, do I have the freedom to redesign the website with completely new and modern user interface? I propose that we develop it using Vue.js (Front-end framework), as there are many advantages of using Vu

[2020-03-10 14:07] sauravhiremath commented on #147
This issue suits my interest and strengths. I have extensive experience with Javascript and NodeJS, I'm also a Bioinformatics student, so have good knowledge about the internal working. May I know how could I proceed further in this project?

[2020-03-11 13:00] radicalswetank commented on #149
Hi @ugurdogrusoz
I am interested in working on this project.
I am currently in my junior year majoring in Computer Science and Engineering.
Till now I have worked with React JS, Node JS, JQuery, and TypeScript.
I have cloned the repository, it's working fine and I am getting myself familiar with the code-base.
Please guide me to proceed further.

[2020-03-11 15:27] mehumaija commented on #42
Hi, I watched the video and eyed the article you provided and got a little bit the idea what you are talking about with this. So this project has been going on at least the past few years and every year students add more different kinds of clustering methods to ClusterMaker? If this is correct, would it be possible to see the code of these clustering styles that have already been implemented? And

[2020-03-11 15:44] scootermorris commented on #42
On 3/11/20 8:27 AM, mehumaija wrote:

Hi Maija,

You can certainly see the clusterMaker2 code base.  It's publicly
available on github at: https://github.com/RBVI/clusterMaker2 Depending
on the complexity of the algorithms, you may wind up implementing one or
more.  There is also the opportunity to implement them on the
server-side and call them from clusterMaker2.

-- scooter

[2020-03-12 04:08] ugurdogrusoz commented on #149
@radicalswetank please read cBioPortal documentation and familiarize yourself with this repo as well. The PathwayMapper viewer has been integrated into cBioPortal (live now).

[2020-03-12 14:14] scootermorris commented on #151
Hi Lauren,
     Here is an updated guide you can look at:
https://github.com/cytoscape/cytoscape/wiki/Launching-Cytoscape-from-Eclipse
Sorry it took me so long to get back to you.  I don't use Eclipse and
had to look up this guide from one of my colleagues.

-- scooter

On 3/9/20 3:35 PM, LaurenLi wrote:

[2020-03-12 15:15] laurenli17 commented on #151
Thank you so much Scooter! I already went through the guide, but actually I changed a laptop from a Mac to a windows one yesterday and the problem fixed lol.

[2020-03-13 09:04] tanishka2000 commented on #149
Hi @ugurdogrusoz ,
I have read the documentation and am interested on working on this project. Can you please help me with the link to the project repo?
Thankyou

[2020-03-13 09:05] tanishka2000 commented on #149
Hi @ugurdogrusoz ,
Is this the repo link for the above project? https://github.com/iVis-at-Bilkent/pathway-mapper
Thanks

[2020-03-13 11:03] ugurdogrusoz commented on #149
@tanishka2000 yes, this is the PathwayMapper repo.

[2020-03-13 12:47] marcoxa commented on #147
Dear sauravhiremat

glad to hear that this project may interest you.  Tagging me and the other guys is ok.  We all talk.

If this interests you you should go ahead and formulate a project, ideally for a web based tool to eventually submit it to NRNB.  We can discuss the details beforehand.

Were are you located?

All the best

Marco

[2020-03-13 15:33] sauravhiremath commented on #147
I'm from Vellore Institute of Technology, Vellore, India.

Yeah I would further like to discuss upon the proposal

On Fri, 13 Mar, 2020, 6:17 pm Marco Antoniotti, <notifications@github.com>
wrote:

[2020-03-13 17:51] aniket328 commented on #143
Hello @cannin, I will like to work on this project. I think that my current skills meet the project's requirements. Please help me getting forward to this.

[2020-03-15 03:36] cannin commented on #144
@Harshrai3112, @onsah, @mehumaija if still interested and need feedback related to your proposal send me an email, I'll try to respond Monday

[2020-03-15 04:52] ashadhaz commented on #150
Hey my name is Asad Hazariwala and I am a third year undergraduate student. I would like to contribute to this project. I have mailed you my resume.

[2020-03-15 04:53] hasanbaig commented on #150
Hi Asad,
Thanks for your interest. I have received it already. Please check my response and get back to me when you are done with the instructions.
regards
HB

[2020-03-16 06:48] bhaveshnarra commented on #147
Hi @marcoxa , @alexgraudenzi , @danro9685 I am bhavesh a final year undergrad student from BITS Pilani India. I really like the project and would be submitting a proposal. I have contributed here before as a GSOC 2017 student and  I am really pumped to be contributing again.

[2020-03-16 12:51] sjha2048 commented on #153
Hi @vcellmike , I am interested in this project, I have mailed the mentor assigned.
Are there any additional steps/tasks regarding this, as I was browsing the codebase but there are no issues opened.

[2020-03-16 15:48] Medha-B commented on #140
Hello @funasoul . I am very interested in this project and have prior experience with machine learning and deep learning. I have sent you a mail with my CV as instructed here. Kindly guide me through the process further.

[2020-03-16 16:55] Jain-Sanchit commented on #144
Sir , I am familiar with javascript and would like to work on this project for gsoc , can you tell me how should i proceed ?

[2020-03-16 19:30] cannin commented on #144
@Jain-Sanchit send me an email and i'll try to give you feedback on your proposal.

[2020-03-16 20:37] AlexanderPico commented on #152
A good start on this one would be Step 1: to prepare an R or Python notebook to apply one or more layouts with various parameters to a sample network. For R, see the RCy3 docs and vignettes ("Articles") here: http://cytoscape.org/RCy3/index.html

Include in your application any progress on noteboooks you have so far, your relevant background w.r.t. to the other components of the project (e.g., ML)

[2020-03-17 09:25] mehumaija commented on #42
@scootermorris I have now emailed you my proposal! I would be happy if you read it and gave your professional opinion.

Thank you :)

[2020-03-17 13:33] funasoul commented on #140
Hi @Medha-B . I just sent you my reply to your email address.

[2020-03-17 14:46] jahandaniyal commented on #111
Thank you for showing interest in this project.
Please start working on a draft proposal, in case you have any questions feel free to ask me at `jahandaniyal@gmail.com`.

Cheers,

[2020-03-17 15:41] onsah commented on #144
@cannin Hi I have sent an email in the last Sunday. I would like to get a response if possible. Thanks!

[2020-03-17 16:20] cannin commented on #144
@onsah resent, check spam in case

[2020-03-17 16:27] cannin commented on #142
@PritiShaw if still interested in the project please send me a quick email and i'll make some additional comments

[2020-03-18 15:16] ShreyanshTripathi commented on #140
Hi @funasoul. I am a third year undergraduate student from India. I have experience in implementing deep learning segmentation models using Pytorch. I am interested in taking up this project for GSoC this year. I am mailing you my CV (learning from the pattern). Please let me know about the further process.

[2020-03-18 16:16] ShreyanshTripathi commented on #150
Hi @hasanbaig I am a third year undergraduate student. I have worked on several projects and internships and have a good experience in Python and Java. I am interested in taking this project up for GSoC. I have mailed you my CV. Please have a look and let me know of further process.

[2020-03-18 20:00] hasanbaig commented on #150
Hi @ShreyanshTripathi
I have received your email. I will check your CV and get back to you.

[2020-03-18 21:22] Anirbanbhk88 commented on #111
Hi @jahandaniyal is it possible to have a discussion over call? Maybe we can discuss further about the project and proposal

[2020-03-20 09:01] jahandaniyal commented on #111
Hi @Anirbanbhk88 - We can have a discussion this Saturday at 5 PM.

[2020-03-20 10:08] darkdebo commented on #155
Hello ,I am Debojyoti Chakraborty from India very much interested to do this project as I have experience with node.js and react creating some small crud app and static website.Only need to learn SBOL.I assure that i can learn the essential technology if rerquired.
@cjmyers

Thank you

[2020-03-20 17:36] cjmyers commented on #155
Thanks for your interest.  Please let us know if you have any questions as you prepare your proposal.

[2020-03-20 22:06] ms03831 commented on #150
Dear @hasanbaig,
I have been reading up on this project for the past 3 weeks and am interested in working on this project. I have emailed you my CV. I have about 3 years of extensive experience in Python programming as it is my language of choice. I'm also extremely comfortable with object-oriented programming and familiar with Java as well. I look forward to hearing back from you.

[2020-03-21 02:39] darkdebo commented on #155
Ok I will tell you.

[2020-03-21 11:36] bhaveshnarra commented on #147
Hi @marcoxa , @alexgraudenzi , @danro9685  I want to make a demo for my proposal showcasing a web application that calls the LACE backend hosted on a server and displays it using cytsoscape.js. I was successful in running LACE locally but I have a problem interpreting the results. I ran their example as stated but I wasn't able to understand the result. I will post the output here for reference. T

[2020-03-21 11:40] bhaveshnarra commented on #147
print(inference)
$B
        Root ARPC2_2_218249894_C_T PRAME_22_22551005_T_A HNRNPC_14_21211843_C_T
Root       1                     0                     0                      0
Clone_1    1                     1                     0                      0
Clone_2    1                     1                     1                      0
Clone_3    1                     1                     1

[2020-03-21 17:46] olive004 commented on #155
Hi Dr. Myers,
my name is Olivia and I am part of this year's Imperial iGEM team, Dr. Baldwin pointed us to this project. Our project this year, with the pandemic largely cutting off wet lab access, will be focused on integrating digital and physical workflows, as well as developing digital tools. We would be interested in participating in this as part of our project, but realize that only individu

[2020-03-22 16:14] cjmyers opened #156 "SynBioHub Plugin to Convert Spreadsheets to SBOL"
### Background
[SynBioHub](https://synbiohub.org) is a design repository for Synthetic Biology. It enables genetic components and designs to be uploaded and shared. As such it facilitates the sharing and searching for information, combining data from a variety of sources. SynBioHub uses the [Synthetic Biology Open Language](http://sbolstandard.org) (SBOL) an open source data standard that enables

[2020-03-23 19:45] hasanbaig commented on #150
Dear @ms03831,
Thanks for reaching out to me. I have received your CV. Kindly proceed ahead with proposal preparation. We can be in touch over the email.

[2020-03-24 10:38] bhaveshnarra commented on #152
Hi @AlexanderPico, @dexterpratt , @scootermorris .The project is really interesting and thanks for the helpful pointers. I would be submitting a proposal for this project.

[2020-03-24 14:38] marcoxa commented on #147
Hi Bhavesh,

pretty interesting...  Sorry for not being so responsive these days.  As
you may have surmised, we are in Italy, where things are a bit crazy.

You should prepare a more detailed project and submit it to NRNB.  The NRNB
will then select which project will be accepted.

All the best

Marco

On Sat, Mar 21, 2020 at 12:40 PM Bhavesh Narra <notifications@github.com>
wrote:

--
Marco Anton

[2020-03-24 16:50] bhaveshnarra commented on #147
Hi @marcoxa , I hope you guys are safe. Thanks for taking out time to reply in these crazy circumstances. Stay Safe.

[2020-03-24 17:11] sauravhiremath commented on #147
Hey Marco,

I really hope you and your families are safe there.

It's a hard time, but it will pass. Stay safe

On Tue, 24 Mar, 2020, 8:08 pm Marco Antoniotti, <notifications@github.com>
wrote:

[2020-03-24 23:18] dukkee commented on #137
@matthiaskoenig Hello. Is this issue still open and without any interns?

[2020-03-25 09:17] matthiaskoenig commented on #137
@dukkee We already have a student who is working on this issue and wrote a very good proposal. I would look for another issue

[2020-03-25 09:50] dukkee commented on #156
@cjmyers Hello. Is this issue still open and without any interns? I would like to apply to this project

[2020-03-25 15:28] Adarshsinghparihar commented on #143
Hello @cannin,
I am really interested in the project and would like to work on it as I have good knowledge of Javascript and R.It would be great if you could help me proceed with this.

[2020-03-25 16:04] cannin commented on #143
@aniket328 @Adarshsinghparihar if still interested please send me an email with a list of your skills and pointers to past experiences. Thanks.

[2020-03-25 16:48] cjmyers commented on #156
The issue is still open, though there is one other person who is planning to write a proposal on this topic.

[2020-03-25 16:55] dukkee commented on #156
@cjmyers Got it, but I want to fight for this project. Is it possible? Can I send you a draft in the next 6-8 hours for an initial review? What is the best way to contact you and at what time?

[2020-03-25 16:58] dukkee commented on #156
@cjmyers I just want to say you, that I won't just "plan to write a proposal", I want to write a good proposal with your help, even despite the small amount of time before the end!!

[2020-03-25 17:03] cjmyers commented on #156
Email is best.  It is always good to have a backup project, since there is only one student selected per project idea.

[2020-03-25 17:05] dukkee commented on #156
fine, thank you very much for the feedback. Then I will write you an email with a draft proposal link. Will you be online after 5-8 hours?

[2020-03-25 17:07] cjmyers commented on #156
Probably

[2020-03-25 17:08] dukkee commented on #156
great, so I will ping you via email. Thank you very much again :+1:

[2020-03-26 06:39] Adarshsinghparihar commented on #143
@cannin I have mailed you the same. Please have a look.

[2020-03-26 07:42] tarang98 commented on #135
Hi, I'm an undergraduate CS student at UBC, Canada and I'm quite interested in this project. It seems like the Jobs API link above is broken. Also where could I find the code for the server-side implementations of the clustering algorithms?

[2020-03-26 14:14] scootermorris commented on #135
Hi Tarang,
    Each cluster algorithm will probably have it's own implementation
somewhere.  For now, you can look at the clusterMaker2 src in github
(https://github.com/RBVI/clusterMaker2) but there are probably much more
performant implementations we can use if we're not bound to implementing
things in Java.  The thrust of this project is to develop a server to
wrap these clustering algorithms a

[2020-03-26 22:52] tarang98 commented on #135
Hi Scooter
Thank you very much for the reply. I will be completing the above steps and then completing the proposal.

[2020-03-26 23:46] blackpanther99 commented on #152
Hey @AlexanderPico , I would like to contribute to this project. Can I still do it?

[2020-03-26 23:50] AlexanderPico commented on #152
@blackpanther99 See https://summerofcode.withgoogle.com/ for GSoC rules and timeline.

[2020-03-26 23:56] blackpanther99 commented on #152
@AlexanderPico Thanks! I would like to submit a proposal for the issue as it is aligned with my interests. I am excited to contribute to NRNB.

[2020-03-27 14:39] surbhi498 commented on #152
Hi @AlexanderPico , I would like to contribute to this project. Can I still do it? I have a background in machine learning.

[2020-03-27 21:46] hsauro commented on #106
This issue is now reopened at the request of debashish05

[2020-03-29 13:06] mnv936 commented on #139
Hi @ugurdogrusoz
I have shared my proposal with you via email, can you please review it.

[2020-03-29 14:28] bhaveshnarra commented on #147
Hi @marcoxa , @alexgraudenzi , @danro9685  I have shared my draft proposal if you guys can share your thoughts I would be grateful.

[2020-03-29 16:06] TheCelestial25 commented on #144
@cannin I know I am very late but would still like to send a proposal if you permit me.

[2020-03-29 16:31] cjmyers commented on #150
Why did you close this issue?  Are you no longer planning to have anyone work on this?

[2020-03-29 17:11] dA505819 commented on #152
@AlexanderPico @dexterpratt @scootermorris I have submitted the draft proposal. Please have a review on it.
Regards,

[2020-03-29 17:44] hasanbaig commented on #150
Hi Chris,
I have closed it because I have couple of students applying for this project now. I am not sure if I can take out time to review more proposals if anyone comes forward.

[2020-03-29 17:54] cjmyers commented on #150
Has to be open to get a student

Chris

Sent from my iPhone

[2020-03-29 18:03] hasanbaig commented on #150
I see. I have reopened it again.

[2020-03-29 21:11] marcoxa commented on #147
Thank you.

Be safe yourself.

Don't forget to submit your project to NRNB.

All the best

Marco

On Tue, Mar 24, 2020 at 6:11 PM Saurav M H <notifications@github.com> wrote:

--
Marco Antoniotti
Somewhere over the Rainbow

[2020-03-29 21:13] marcoxa commented on #147
Hi Bhavesh

have you already submitted you project to NRNB?  I do not seem to have seen
it or got a link to it.

All the best

Marco

On Sun, Mar 29, 2020 at 4:28 PM Bhavesh Narra <notifications@github.com>
wrote:

--
Marco Antoniotti
Somewhere over the Rainbow

[2020-03-30 03:34] romilsiddhapura commented on #143
Is this issue still open..? Sorry for late but I am interested in this project. Can @cannin help me proceed with this?

[2020-03-30 04:10] bhaveshnarra commented on #147
Hi @marcoxa I have shared the draft link with NRNB I have still yet to submit it. I will mail the link to you just in case.

[2020-03-30 06:43] bhaveshnarra commented on #147
Hi @marcoxa  i shared the review link with you by mail kindly check it.

[2020-03-30 14:11] cannin commented on #143
@romilsiddhapura the issue is still open please submit a proposal if interested; the deadline is tomorrow.

[2020-03-30 14:13] cannin commented on #144
@TheCelestial25 go ahead and submit; deadline tomorrow

[2020-03-30 14:17] TheCelestial25 commented on #144
@cannin Thank you so much. Submitted :)

[2020-03-30 21:30] marcoxa commented on #147
Hi Bhavesh

sorry, but I do not see the link. Could you post it here.

All the best

Marco

[2020-03-31 00:38] AlexanderPico commented on #152
@dA505819 Dhruv, thanks for the proposal and sorry for the delayed feedback. Overall it looks complete and could be submitted (don't miss the deadline set by Google). However, if you have time to add more detail (or descriptions of areas needing more detail), I would recommend two areas: (1) Layout algorithms and their parameters. Pick at least one (e.g., force-directed) and describe its goal, its

[2020-03-31 02:19] bhaveshnarra commented on #147
Hi @marcoxa  I am sorry but it would be pretty risky for me to post the proposal here. I shared it through the summer of code portal for NRNB. Could you just check through the google summer of code portal? I have enabled comment access for your email though. Just check your email as well (marco.antoniotti@unimib.it)you will have an invitation to comment for a google doc.

[2020-03-31 02:31] bhaveshnarra commented on #147
I have just submitted the final proposal Kindly check if you can view it Now. I can still upload new one after making changes so feel free to comment here.

[2020-03-31 02:40] bhaveshnarra commented on #147
![Screenshot from 2020-03-31 08-09-31](https://user-images.githubusercontent.com/52484030/77981256-04393c00-7327-11ea-8296-3515eefcf047.png)

[2020-03-31 06:09] dA505819 commented on #152
@AlexanderPico Sure! I will abide by your recommendations.
Sorry! I have mistakenly had a typo in links. I have updated them.
I will update the proposal.

[2020-03-31 08:46] JuanLeee commented on #148
Hello @vcellmike, I mailed you recently and I am interested in this project. I was wondering if this would be feasible for someone with not much experience with open source coding or coding outside of small projects and classwork.

[2020-03-31 19:05] kritikajoshi26 commented on #140
hi @funasoul . I am currently in a Mtech 3rd-year student from India. I have experience in developing deep learning models using PyTorch. i am interested in taking up this project. i am mailing you my resume. please let me know further

[2020-04-02 19:21] marcoxa commented on #147
Hi Bhavesh

I finally got access to your proposal.  I will give you some feedback in
the next few days.  Sorry but it is crazy these days...

All the best

Marco

On Tue, Mar 31, 2020 at 4:40 AM Bhavesh Narra <notifications@github.com>
wrote:

--
Marco Antoniotti
Somewhere over the Rainbow

[2020-04-04 03:45] bhaveshnarra commented on #147
Hi @marcoxa

Sure Marco I completely understand.

Bhavesh

[2020-04-16 19:51] marcoxa commented on #147
Hi Bhavesh

great project.  I hope you will make the cut.  As you may know you are
competing with other 48 students to get into ten-ish slots and there are
also other people doing the evaluation.

If you get the slot, we'll have to discuss how to move onward.  You should
concentrate of cytoscape.js and its visual component.

All the best

Marco

On Sat, Apr 4, 2020 at 5:45 AM Bhavesh Narra <notifi

[2020-04-18 04:21] bhaveshnarra commented on #147
Hi @marcoxa ,

It means a great deal that you were able to review my proposal during these circumstances.
The odds are a little intimidating but I hope we do well and I get a chance to work with you in the summer.

I will take your advice and focus on using cytoscape.js and all of its relevant features. While I wait for the announcement I will be working on cytoscape.js snippets.

[2020-05-04 18:42] dA505819 commented on #152
@AlexanderPico  At last, the project didn't get selected for the program. ):
Will continue to become active open source contributor in the organisation.

[2020-05-04 20:18] AlexanderPico commented on #152
@dA505819 The competition was very steep this year. None of my projects were selected. Thanks again for your application and committment to open source!

[2020-05-04 20:21] dA505819 commented on #152
@AlexanderPico All right! Look forward to continue contributing in cytoscape and the organisation.:)

[2020-05-04 21:29] khanspers commented on #137
Active project for GSoC 2020, closing here.

[2020-05-04 21:29] #137 closed

[2020-05-04 21:30] khanspers commented on #154
Active project for GSoC 2020, closing here.

[2020-05-04 21:31] khanspers commented on #155
Active project for GSoC 2020, closing here.

[2020-05-04 21:31] #155 closed

[2020-05-04 21:32] khanspers commented on #149
Active project for GSoC 2020, closing here.

[2020-05-04 21:32] #149 closed

[2020-05-04 21:32] khanspers commented on #140
Active project for GSoC 2020, closing here.

[2020-05-04 21:32] #140 closed

[2020-05-04 21:33] khanspers commented on #141
Active project for GSoC 2020, closing here.

[2020-05-04 21:33] #141 closed

[2020-05-04 21:34] khanspers commented on #142
Active project for GSoC 2020, closing here.

[2020-05-04 21:34] #142 closed

[2020-05-04 21:35] khanspers commented on #150
Active project for GSoC 2020, closing here.

[2020-05-04 21:35] #150 closed

[2020-05-04 21:35] khanspers commented on #147
Active project for GSoC 2020, closing here.

[2020-05-04 21:35] #147 closed

[2020-05-04 21:38] khanspers commented on #106
Active project for GSoC 2020, closing here.

[2020-05-04 21:38] #106 closed

[2020-05-04 21:38] khanspers commented on #146
Active project for GSoC 2020, closing here.

[2020-05-04 21:38] #146 closed

[2020-05-04 21:38] khanspers commented on #111
Active project for GSoC 2020, closing here.

[2020-05-04 21:38] #111 closed

[2020-05-04 21:39] khanspers commented on #156
Active project for GSoC 2020, closing here.

[2020-05-04 21:39] #156 closed

[2020-05-04 21:39] khanspers commented on #153
Active project for GSoC 2020, closing here.

[2020-05-04 21:40] khanspers commented on #42
Active project for GSoC 2020, closing here.

[2020-05-04 21:40] #42 closed

[2020-05-05 08:02] marcoxa commented on #147
Dear Bhavesh

welcome on board.  First of all, can you send us a direct email?  Also cc:
my @unimib.it email in all communications.  Moreover, on what Time Zone are
you?
 with respect to CET?

We also have something more from NRNB which we need to look at and have you
subscribe.

Let's write good software!

All the best

Marco

On Sat, Apr 18, 2020 at 6:21 AM Bhavesh Narra <notifications@github.co

[2020-05-05 09:31] MaheshJethalia commented on #152
@AlexanderPico  Hey I want to contribute in Cytoscape. I have some experience in GANs.

[2020-05-05 15:12] bhaveshnarra commented on #147
Hi Marco. So excited that we made it.

I will direct email you along with @alexgraudenzi , @danro9685 . My time zone is IST which is 3H 30 min ahead.

Here's to start of a great project.

Cheers

Bhavesh

[2020-05-06 04:33] bhaveshnarra commented on #147
Hi Marco I just mailed you at your @unimib.it email  from my university mail @pilani.bits-pilani.ac.in.

[2020-05-06 09:53] aniket328 commented on #144
@cannin  I would love to contribute to this project now. Is it still available after GSoC?

[2020-05-07 15:25] aniket328 commented on #151
Is this project still available, can I contribute to this?

[2020-05-08 18:50] khanspers commented on #151
Hi @aniket328 , this project is still available, outside of Google Summer of Code. Please contact the mentors direclty.

[2020-05-13 02:31] 12VISHESH commented on #143
hey @cannin
I hope you are doing well and safe!
I wanted to know this issue is still open? this project meets my skills.

[2020-07-30 07:37] vaniisgh commented on #65
hey :)
I recently learnt about the NRNB Academy program and wish to work on this project though that, I have filled out the application form outlining my background and experience etc and indicating my interest for this project.
I wanted to know if you would be open to letting me work on this project though the program) or otherwise as well :)

[2020-07-30 17:12] khanspers commented on #65
Hi Vani, thank you for your interest in NRNB projects! I saw your NRNB Academy inquiry and will respond directly in email.

[2020-09-30 04:59] gaurlakshya commented on #3
Hello sir, @AlexanderPico
I want to work on this project . Sir i am totally new to open source contribution world . Sir i want to make a start with this project. Sir i have an intermediate knowledge of web development and sir i am looking forward to learn more.

[2020-10-04 07:52] gaurlakshya commented on #94
@maxkfranz
Hello sir, I want to work on this project is it still available. i have an intermediate knowledge in the field of web development and looking forward to learn more. Can i work on this project ?
?

[2020-10-04 08:00] gaurlakshya commented on #125
Hello @cjmyers
i want to work on this project . i have good knowledge in the field of web development . I an a B.tech student of 2nd year (C.S.E. department). Can i work on this project ??

[2020-10-04 15:29] cjmyers commented on #125
Sorry but GSoC has concluded for this year.  We will hopefully be doing this project or a similar one next year.  Please check back later.

[2020-10-05 04:37] gaurlakshya commented on #151
@AlexanderPico
hello Sir ,
I want to work on this project . i have good knowledge in the field of web development and java . I am a B.tech student of 2nd year (C.S.E. department). Can i work on this issue ??

[2020-10-19 21:11] #23 closed

[2020-10-19 21:11] #26 closed

[2020-10-19 21:11] #39 closed

[2020-10-19 21:11] #43 closed

[2020-10-19 21:11] #50 closed

[2020-10-19 21:11] #65 closed

[2020-10-19 21:11] #73 closed

[2020-10-19 21:11] #94 closed

[2020-10-19 21:11] #97 closed

[2020-10-19 21:11] #100 closed

[2020-10-19 21:11] #101 closed

[2020-10-19 21:11] #110 closed

[2020-10-19 21:11] #121 closed

[2020-10-19 21:11] #125 closed

[2020-10-19 21:11] #131 closed

[2020-10-19 21:11] #135 closed

[2020-10-19 21:11] #136 closed

[2020-10-19 21:11] #139 closed

[2020-10-19 21:11] #144 closed

[2020-10-20 09:08] draeger commented on #101
@matthiaskoenig, I think this could still be of interest. I'd suggest to reopen this.

[2020-10-20 17:08] khanspers commented on #101
@matthiaskoenig @draeger : This issue was closed as part of our preparation for GSoC 2021. In fact, all NRNB GSoC issues are closed for now. Stay tuned for more information coming shortly on how to reformat closed issues that are still of interest.

[2020-12-06 18:49] ugurdogrusoz opened #157 "PD to AF conversion service and its support in Newt"
### Background
[Newt](http://newteditor.org) [1] is a [Cytoscape.js](http://js.cytoscape.org/) based viewer and editor for biological maps in Systems Biology Graphical Notation (SBGN) notation [2] to create biological maps from scratch or edit existing ones. It's been built (with partial support from GSoC) around an editing library named [ChiSE](https://github.com/iVis-at-Bilkent/chise.js), which

[2020-12-06 18:55] ugurdogrusoz opened #158 "Local DB support for SBGN maps in Newt"
### Background
[Newt](http://newteditor.org) [1] is a [Cytoscape.js](http://js.cytoscape.org/) based viewer and editor for biological maps in Systems Biology Graphical Notation (SBGN) notation [2] to create biological maps from scratch or edit existing ones. It's been built (with partial support from GSoC) around an editing library named [ChiSE](https://github.com/iVis-at-Bilkent/chise.js), which

[2020-12-14 13:50] funasoul opened #159 "Building a simulation execution environment using Github Action"
### Background
In recent years, the importance of reproducibility has been reaffirmed in the field of research. This refers to the ability of a third party to reproduce the work done by an experimenter (researcher). The field of simulation using mathematical models is no exception, and it is said to be important to ensure reproducibility. For example, according to [1], it is reported that about ha

[2020-12-14 14:07] funasoul opened #160 "Implement an SBML simulator in pure Rust"
### Background
The programming language Rust has been used in various fields for its robust memory management while boasting execution speed comparable to the C/C++ language, and is now being applied to the development of bioinformatics tools.
In the future, these tools will be increasingly used via the Web, and implementation in the Rust language is expected to ensure the safety of these tools. A

[2020-12-14 14:13] TakahiroYamada commented on #159
@khanspers

Hi, I'm Takahiro Yamada planning to be a potential mentor of this project.
Could it be possible to add me an assignees to this issue?
With best regards.

Takahiro Yamada

[2020-12-14 14:14] TakahiroYamada commented on #160
@khanspers

Hi, I'm Takahiro Yamada planning to be a potential mentor of this project.
Could it be possible to add me an assignees to this issue?
With best regards.

Takahiro Yamada

[2020-12-15 07:09] MoHelmy opened #161 "Adding Multi-omics data support to ABioTrans Plus"
### OVERVIEW
[ABioTrans](https://www.frontiersin.org/articles/10.3389/fgene.2019.00499/full) is a bio-statistical/informatics tool that was developed in R to analyze RNASeq gene expression data. [ABioTrans Plus](http://combio-sifbi.org/ABioTrans/) is the webserver of ABioTrans that analyzes RNASeq or Microarray gene expression data and performs multiple gene set and protein set analyses including

[2020-12-15 12:59] yash7520 commented on #161
hello this is yash
i am new to open source and passionate about contributing to this project
but i am not able to understand acceptance criteria do i have to submit resume before contributing to this project

[2020-12-15 13:02] MoHelmy commented on #161
@yash7520  Yes, you need to submit a CV/resume and your school transcript.

[2020-12-15 13:28] yash7520 commented on #161
@MoHelmy      thank you sir
kindly please tell where i have to submit resume and school transcript

[2020-12-15 13:29] MoHelmy commented on #161
@yash7520 to the email addresses of the mentors mentioned above.

[2020-12-17 08:42] yash170106065 commented on #159
Hi @kaitoii11 @tokkuman @mythosil @funasoul @TakahiroYamada can we discuss this, I would like to take up this issue.

[2020-12-17 10:47] MoHelmy opened #162 "Adding analysis report and Direct import from GEO databases to ABioTrans Plus"
### OVERVIEW
[ABioTrans](https://www.frontiersin.org/articles/10.3389/fgene.2019.00499/full) is a bio-statistical/informatics tool that was developed in R to analyze RNASeq gene expression data. [ABioTrans Plus](http://combio-sifbi.org/ABioTrans/) is the webserver of ABioTrans that analyzes RNASeq or Microarray gene expression data and performs multiple gene set and protein set analyses including

[2020-12-17 11:22] MoHelmy opened #163 "Enhancing the admin panel of openPIP"
### OVERVIEW
The [Open Source Protein Interaction Platform (openPIP)](http://baderlab.org/Software/openPIP) is an open-source software package for hosting protein-protein interaction (PPI) data based on the [PSI-MI-TAB format](https://code.google.com/archive/p/psimi/wikis/PsimiTab27Format.wiki). openPIP provides a PPI database and a customizable web interface that enables searching and visualizing

[2020-12-17 11:59] matthiaskoenig opened #164 "Interactive SBML report for Humans (SBML4Humans)"
<h1><img alt="SBML" src="https://avatars2.githubusercontent.com/u/1799692?s=280&v=4" height="40"/> SBML4Humans <img alt="Humans" src="https://user-images.githubusercontent.com/900538/102484966-45b17900-4067-11eb-955b-3392c107ad46.png" height="40"/> </h1>

### Background
The Systems Biology Markup Language ([SBML](http://sbml.org)) is the de facto standard for encoding computational models in syste

[2020-12-17 15:11] TakahiroYamada commented on #159
Hi @yash170106065 !
Could you please inform us of your skills related to this project?
Then, it could be smoother to discuss this project.

Best.

Takahiro

[2020-12-17 22:01] AlexanderPico commented on #122
Editing and reopening for 2021

[2020-12-17 22:06] AlexanderPico commented on #3
Edited and reopened for 2021

[2020-12-17 22:18] AlexanderPico commented on #151
Edit and reopen for 2021

[2020-12-17 22:37] AlexanderPico commented on #95
templates go here: https://github.com/nrnb/GoogleSummerOfCode/blob/master/.github/ISSUE_TEMPLATE/gsoc-project-idea.md

[2020-12-17 22:49] AlexanderPico opened #165 "Simple Enrichment Tool for Cytoscape"
### Background
[Cytoscape](http://www.cytoscape.org) is a highly popular open source bioinformatics software platform for visualizing, analyzing, and publishing graphs or networks representing molecular interactions, gene expression, other biological data. As a desktop platform, Cytoscape is one of the most successful open source projects in biology, and it is capable of integrating observational

[2020-12-19 13:00] Rukmini-Meda commented on #165
Hello, I would like to explore this issue more. I am Rukmini, a computer science undergrad from IIIT Sri City. I have worked using Django REST before and familiar with basics of webservices. I have basic knowledge of Java. Can you list a few resources that might be useful so that I can work on this issue?

[2020-12-19 20:25] AlexanderPico commented on #165
I'd recommend looking into [g:Profiler's API](https://biit.cs.ut.ee/gprofiler/page/apis) and [Cytoscape App development](https://github.com/cytoscape/cytoscape/wiki/Cytoscape-App-Ladder).

[2020-12-20 00:41] cannin opened #166 "Prepare cyjShiny for R Package Repository Submission"
### Background
cyjShiny (https://github.com/cytoscape/cyjShiny) is a project to provide users of the R Shiny framework a way to visualize networks in their Shiny apps using cytoscape.js (cytoscape.js).

### Goal
The goal is to 1) do code cleanup (linting; https://github.com/jimhester/lintr) and add minor customization features, 2) update any outdated code, as well as 3) write vignettes, examples,

[2020-12-20 00:52] cannin opened #167 "Interactive Systems Biology Analyses using COPASI's R or Python APIs"
### Background
COPASI (http://copasi.org/) is a software application for simulation and analysis of biochemical networks and their dynamics. While the primary interaction with COPASI is over a graphical user interface, where models can be easily constructed and analyzed, all functionality is available from a variety of programming languages thanks to SWIG. These automatically generated SWIG wrappe

[2020-12-20 01:10] cannin opened #168 "Develop a Reactome Curation Support Tool that Maps Text to the Reactome Pathway Hierarchy"
### Background
Reactome (https://reactome.org/) is a free, open-source, curated, and peer-reviewed pathway database. The project features a number of curators that continually add new interaction information from the scientific literature. Curators go through many papers and the suitability of the information in one paper to a particular pathway may not be obvious.

### Goal
During GSOC 2020 (http

[2020-12-20 01:21] cannin opened #169 "Develop a Cytoscape App for the CausalPath Algorithm"
### Background
CausalPath (https://www.biorxiv.org/content/10.1101/258855v4.full) is an algorithm for identifying causal interactions from proteomic profiles (i.e., molecular data meets pathway knowledge)

### Goal
The goal is to make the algorithm available to users of the Cytoscape as an app (http://apps.cytoscape.org/). Information about Cytoscape app development: https://github.com/cytoscape/c

[2020-12-20 01:39] cannin opened #170 "Develop an Exporter of CellBox Models to SBML"
### Background
CellBox (https://www.biorxiv.org/content/10.1101/746842v3) is a machine learning algorithm (built using Tensorflow) for generating network models for large scale perturbation biology experiments. The output is executable models capable of predicting the effects of cancer therapies.

### Goal
The goal is to export the resulting executable models from CellBox into formats with wider u

[2020-12-20 01:53] cannin opened #171 "Improve the TumorComparer R Package (Add Network Visualization and Available Data Types)"
### Background
TumorComparer (https://www.biorxiv.org/content/10.1101/028159v1) is an algorithm for mapping experimental model systems (i.e., cell lines) to patient samples by examining various -omic profiles.

### Goal
The goal is to 1) expand the utility of the algorithm to additional data types (currently hard-coded to 3 data types), 2) provide examples that are patient to patient similarity, a

[2020-12-20 02:57] cannin opened #172 "Develop a Galaxy Platform Entry for NetBoxR and a Pipeline for Processing cBioPortal Data via the NetBoxR"
### Background
netboxr (https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0234669) is an R package for the automated discovery of biological process modules by network analysis.

### Goal
With the netboxr R package available, the goal is to make netboxr more widely available. The Galaxy platform (https://galaxyproject.org/) is a platform to make tools more widely available. The goa

[2020-12-20 03:33] cannin opened #173 "Make SBGN-Formatted Diagram Collections Accessible in R"
### Background
Systems Biology Graphical Notation (SBGN; http://sbgn.org/) provides standard graphical languages for representing cellular processes, interactions, and biological networks. SBGN diagrams are encoded in the SBGNML format (https://pubmed.ncbi.nlm.nih.gov/32568733/). SBGN diagrams are available from a number of sources including Reactome (https://reactome.org/download-data).

#### Exi

[2020-12-20 03:51] cannin opened #174 "Develop a Pipeline for Processing CPPA Proteomics Portal via the TargetScore Algorithm"
### Background
TargetScore (https://www.biorxiv.org/content/10.1101/711895v2.full) is an algorithm for selecting drug combinations to treat cancer.

### Goal
The goal is to develop a pipeline to process data from the Cancer Perturbed Proteomics Atlas (CPPA; https://bioinformatics.mdanderson.org/public-software/cppa/) through the algorithm (as described in the vignette: https://github.com/korkutlab

[2020-12-20 04:05] cannin opened #175 "Develop a Configurable Converter of JSON Data to the BioPAX Format"
### Background
Biological Pathway Exchange (BioPAX, http://www.biopax.org/) is a standard language based on XML that aims to enable integration, exchange, visualization and analysis of biological pathway data. Specifically, BioPAX supports data exchange between pathway data groups and thus reduces the complexity of interchange between data formats by providing an accepted standard format for pathw

[2020-12-20 12:38] cannin opened #176 "Improve the GPML to SIF Converter in the Cytoscape WikiPathways App"
### Background
The Cytoscape WikiPathways App (http://apps.cytoscape.org/apps/wikipathways) makes WikiPathways (wikipathways.org) networks/pathways available in Cytoscape (http://cytoscape.org/). It also allows the export of this content to other formats including the Simple Interaction Format (SIF); a tabular edgelist type format. Examples SIFs including for WikiPathways (PathwayCommons11.wp.hgnc

[2020-12-20 13:06] cannin opened #177 "Develop a Standalone CellDesigner to BioPAX Converter"
### Background
CellDesigner (http://www.celldesigner.org/) is a tool for drawing and modeling biological networks. CellDesigner has a plugin (https://academic.oup.com/bioinformatics/article/27/24/3437/306597) to export networks in the BioPAX (biopax.org), a format that ignores much of the visualize styles of CellDesigner to retain just the "biological content".

### Goal
The goal is to reproduce t

[2020-12-20 13:37] cannin opened #178 "Create Google Colab Notebook(s) Showcasing COMBINE Standards"
### Background
The "Computational Modeling in Biology" Network (COMBINE, http://co.mbine.org/standards) is an initiative to coordinate the development of the various community standards and formats in systems biology and related fields.

### Goal
The goal is to produce a Python Google Colab (https://colab.research.google.com/) notebook (or several) that showcases these standards and their librarie

[2020-12-20 22:42] yash170106065 commented on #159
@TakahiroYamada Actually I am contributing to NRNB for the last 1 year and familiar with Git, Github, Java.

[2020-12-21 16:55] matthiaskoenig commented on #178
@cannin
I would like to co-mentor this project if possible

[2020-12-25 13:21] TakahiroYamada commented on #159
@yash170106065
I'm so sorry for responding late!!
Great! I guess you are very familiar not only with computational side but also a series of GSoC flow!!

Do you have experience to use GitHub Action?

Takahiro

[2020-12-30 17:51] patelaryan7751 commented on #166
hello @cannin do you need any help? I also want to work on this.

[2021-01-04 17:50] cannin commented on #178
@matthiaskoenig thanks! I added you in the text.

[2021-01-05 19:02] ballaneypranav commented on #177
Hi, I'm Pranav Ballaney from India, and I would like to work on this project for GSoC 2021. I'm a Biology and Computer Science major, and I worked as part of GSoC last year with Debian on quality assurance and continuous integration of bioinformatics applications.

I've gone through the publications and resources posted here, and I've built a basic prototype for the converter [here](https://github

[2021-01-06 15:12] palashgarg0109 commented on #170
Hi @cannin
I find this issue interesting and would like to work on it. Could you please help me how should I proceed to the task?
Also, what is the preferred method of contact?
Thank You :)

[2021-01-08 01:10] yash170106065 commented on #175
@cannin I would like to work on this familiar with java and python and work with tabular data and excel files in the spring framework and contributing in NRNB from last 1 year

[2021-01-08 01:24] yash170106065 commented on #163
@MoHelmy I would like to contribute to this project since I am contributing to NRNB at Graphspace for the last 1 year and successfully completed gsoc2020, so I am familiar with these skills.

[2021-01-11 22:12] #176 closed

[2021-01-13 14:21] HarshKhilawala commented on #178
@cannin I would like to get work on this.

@matthiaskoenig Would you mind helping me out working on this ?

[2021-01-13 20:23] VimukthiRandika1997 commented on #3
Hey!, My name is Vimukthi Randika, I would really like to work on this task for GSOC 2021 or it doesn't matter with or without it. I have prior experiences with modern Javascript ,web design and web development. Still I am very ego to learn new technologies, such as Node, ReactJS, etc. I am super exited to work on this project. Please give me more info regarding this projects. Thanks.

[2021-01-14 03:50] ighosh98 commented on #165
Hi! I would like to work on this project. I am a **final year Computer Science undergrad** from **BITS Pilani** with a **minor in Biological Sciences**. I have experience working with **Java** and building web services using **Spring**. Are there any particular resources I should read up for  **understanding enrichment analysis**?

[2021-01-14 22:56] AlexanderPico commented on #3
A strong application for this project would demonstrate enough familiarity with Cytoscape, CyREST and JS to prepare a simple demo site (e.g., an index.html file consisting of HTML and JS) that communicates with a locally running instance of Cytoscape (via CyREST) in order to perform some basic functions, like loading a network, performing a layout, loading data and applying a visual style.

If the

[2021-01-15 06:17] SGanguly1999 commented on #169
Hey everyone,

I am Soumyadeep Ganguly from University of Calcutta(currently in 3rd year of my degree course). I am willing to participate in GSoC '21 for NRNB. Could you please guide me how should I start ?

PS:-- I am conversent with Core Java,Java/Swing ,JavaFX

[2021-01-15 08:39] VimukthiRandika1997 commented on #3
Hey!

Thanks for your quick response!. Recently I'm going through Cytoscape technologies and also CyREST API to have a better depth and sound knowledge. What I want to know is that should I create demo website similar to the example which has been given using NDEx-js-client library or step into a basic approach for the  web4cytoscape.js library. If it is let me know about technological background

[2021-01-15 12:16] SGanguly1999 commented on #175
@canin I would also like to work  in this issue too.Is it availaible for me to work on?

[2021-01-15 18:48] dexterpratt commented on #165
Hi Indraneel,

gprofiler is a very nice web tool for this and its REST service would be a
candidate for the basis of the proposed Cytoscape tool
https://biit.cs.ut.ee/gprofiler/

Here is an article by a set of Cytoscape developers on pathway gene set
analysis. Not exactly the workflow we have in mind, but covers a lot of the
same ground: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6607905/

The W

[2021-01-15 19:07] spursbyte commented on #122
I  want to work on this issue. Can you please give more info on this?

[2021-01-15 19:44] AlexanderPico commented on #122
The description above includes links. Research as deeply as you can and then ask questions that are as specific as possible. The way you approach problems and new learning is part of the evaluation process.

[2021-01-16 08:06] itssingh commented on #160
Hey everyone! I am Sarita Singh, an undergraduate student at NIT Hamirpur, India. I know C/C++, Python, Data structure and algorithms. I am comfortable to code in C++. I found this idea interesting. I would like to work at this idea.

[2021-01-16 08:25] TakahiroYamada commented on #160
Dear Singh,

Hi Hello. I'm Takahiro. We are very welcome for you to this project!
Great! You are very familiar with the knowledge of computational side in this project.
Do you have anyway experience to implement some code in Rust, or do you have the knowledge of coding in Rust?
If you don’t have it, I guess it better for you to study the basic point of Rust in the first step to start this project,

[2021-01-16 10:00] itssingh commented on #160
I have not used Rust or SBML.Yeah sure, I'll go through these documents and update my status here. Thank you!

[2021-01-16 10:05] TakahiroYamada commented on #160
@itssingh

Thank you for your early response!

Maybe you know that the application to Google will be required for officially engaging in this project, so knowledge from these document let you sum up with it better and easier, I believe.

If you have question or other things to do after understanding it, feel free to ask us!
Cheer up!

Takahiro

[2021-01-16 10:09] itssingh commented on #160
Yes, I am aware about application procedure :)

[2021-01-16 10:12] TakahiroYamada commented on #160
@itssingh

Excellent!
Have you already engaged in another project in GSoC so far?

Takahiro

[2021-01-16 10:15] itssingh commented on #160
I am new to open source.I have done some contributions in scancode toolkit @aboutcode organisation.

[2021-01-16 10:26] TakahiroYamada commented on #160
@itssingh

Great!
In my sense, commiting open source project let you get great experience!
The application to Google is required for high elaboration and pretty long document to show the significance of this project and feasibility of your plan, but I suppose your start is very early and you have enogh time to sum up with it!

Cheer up!

Takahiro

[2021-01-16 10:32] itssingh commented on #160
@TakahiroYamada

I am very excited to explore open source in coming days and contribute as much as I can!
Also I look forward to work under your guidance and learn things.

Sarita

[2021-01-16 12:36] mythosil commented on #160
@itssingh Hi, I'm Akito, potential mentor.

As we noted in Skills section, Rust skill is essential in this project.
Fortunately, there's still time before the application deadline.
I'd like you to try writing a small program below in Rust.

1. Read a SBML file.
2. Print Species IDs.
3. Print KineticLaws' math nodes in Reverse Polish Notation.

You can find SBML files on [libSBML's repository](http

[2021-01-16 13:29] itssingh commented on #160
@mythosil Hello!

Okay, I'll try it.

[2021-01-16 18:12] dipanshug124 commented on #178
@cannin @matthiaskoenig, Could you please guide me on how to get started with this project as a GSOC participant.

[2021-01-18 18:39] shreshtha48 commented on #174
Hello, this project sounds interesting! I tried reading through the Target score package documentation, but I am having a hard time grasping it, i would love to know more about this. Do you have any alternative blogs/tutorials i can refer to?

[2021-01-18 19:26] SGanguly1999 commented on #169
@cannin I would like to work on it.

[2021-01-18 19:40] scootermorris opened #179 "Additional Clustering (Community Detection) Algorithms for Cytoscape"
### Background
clusterMaker2 is one of the most downloaded Cytoscape 3 apps, with over 77,000 downloads.  It provides a number of different clustering algorithms and visualizations, most of which are implemented in Java as part of the app.  During last summer's GSoC, clusterMaker2 was enhanced with the addition of a REST service that could calculate clusters on a server.  This technique was used t

[2021-01-19 04:33] Anjani-225 commented on #162
Hi! This issue looks very interesting to me.
Could someone guide me on how to get started?

[2021-01-19 05:27] advaitb commented on #179
@scootermorris I would be interested to contribute to this project as part of GSoC 2021. Do let me know what would be the best way to get myself initiated.

[2021-01-20 03:51] RATED-R-SUNDRAM commented on #178
@matthiaskoenig I Would like to work on this project . It would be very helpful if you guide me how to start on this project.

[2021-01-20 10:08] itssingh commented on #160
Hey @mythosil !
As much I have explored, In first task I can add xml-rs library, xml-rs uses Cargo, so I can add xml-rs = "0.8" in the dependency section of cargo.toml file and extern crate xml; will import xml library so I have to write code now, right?

[2021-01-20 20:10] matthiaskoenig commented on #178
Hi @dipanshug124 and @RATED-R-SUNDRAM,
could you send me a email with a bit of background information (short CV and some information about you)?

[2021-01-20 20:12] matthiaskoenig commented on #178
@HarshKhilawala
Could you send me a email with a bit of background information (short CV and some information about you)?

[2021-01-20 23:43] Jarvis-BITS commented on #178
@matthiaskoenig @cannin
I have mailed you my resume. Would contribute and start working.

[2021-01-21 10:57] pgleeson commented on #178
@matthiaskoenig FYI This model can be mapped into NeuroML2/LEMS format too from SBML with https://github.com/NeuroML/jNeuroML:

jnml -sbml-import BIOMD0000000012_url.xml 1000 0.1
jnml BIOMD0000000012_url_LEMS.xml

<img width="586" alt="Screenshot 2021-01-21 at 10 55 22" src="https://user-images.githubusercontent.com/1556687/105341587-30d08400-5bd7-11eb-9ad9-ab8ceb4678ed.png">

[2021-01-21 11:12] dipanshug124 commented on #178
@matthiaskoenig I mailed you my CV. Please have a look at my background work and skills. I'll be waiting for your reply for further process and guidance.

[2021-01-21 22:04] thepritam commented on #167
Can I please work on this issue @cannin . I am familiar with the skills tools for this issue.

[2021-01-22 00:22] mythosil commented on #160
@itssingh Yes, you're ready to write code. xml-rs is a popular XML parser library and well documented.

[2021-01-22 03:01] HarshKhilawala commented on #178
@matthiaskoenig Please update me on this. Mail has been sent out to you.

[2021-01-22 19:44] thepritam commented on #169
@cannin @ozgunbabur I have experience in app development and also I am familiar with Cytoscape. I am very much interested  to contribute into this .

[2021-01-23 05:51] sankha555 commented on #164
Hello @matthiaskoenig ,
I would like to work on this project as a part of GSoC 2021 and further in the future. I have extensive experience in developing web-apps using Python and JavaScript and believe that I will be able to contribute to this project. Could you please guide me on how to start working on it? Also, shall I convey my resume/CV to you through email for your reference?

I am attaching

[2021-01-23 17:57] itssingh commented on #160
@mythosil Yes I have done basic concepts of rust and I am working on reading a SBML file:)

[2021-01-23 17:59] itssingh commented on #160
Yes, Thankyou:)

[2021-01-23 17:59] itssingh commented on #160
Yes, Thankyou:)

[2021-01-23 18:04] itssingh commented on #160
One more thing, SBML file has two extensions, .SBML and .xml. Though I have seen majority of files with .xml extensions and I didn't get much information or library to read an SBML file, can you help me giving some information please!

[2021-01-23 23:03] ankits743 commented on #168
Hello @cannin
I find this issue interesting and would like to work on it.
After going through the required resources, how should I proceed with the task?
Also, what is the preferred method of contact?

[2021-01-24 14:16] tasbihaasim commented on #162
Hello, I am interested in contributing to this project. How can I get started?

[2021-01-25 06:54] RATED-R-SUNDRAM commented on #178
@matthiaskoenig I have also mailed you it would be very nice if you could update me

[2021-01-25 11:17] itssingh commented on #160
I have written code to read an xml file using xml-rs parser library. This library uses event stream approach, In this case the parser looks at the XML file character by character and triggers events after certain things have been read. I have used https://github.com/sbmlteam/libsbml/blob/development/examples/sample-models/from-spec/level-3/enzymekinetics.xml file to read. https://gist.github.com/i

[2021-01-25 11:31] itssingh commented on #160
I am working on printing species id :)

[2021-01-25 13:54] ballaneypranav commented on #177
Hi, I just wanted to ask whether you had a chance to take a look yet. If you would like me to continue working on it, please let me know.

[2021-01-28 03:09] Debanitrkl commented on #179
@scootermorris I have gone through the clusterMarker2 code and found it to be under the aegis of my skill set, being a biomedical major with minor in computer science, and having decent experience in python and data science, I would like to get started with this issue as part of my contribution to the organization.

[2021-01-28 08:38] matthiaskoenig commented on #178
@all It is great to see so much interest in the issue. In the end only 1 person can be funded per project! So on this project the competition will be likely be hard whereas other issues here have no candidates yet. If you have a second project you are interested in I recommend to get in contact with the mentors.
I don't want to discourage you, but we cannot help writing 10 proposals but at most 2.

[2021-01-28 08:40] matthiaskoenig commented on #164
@sankha555 This is amazing. Thanks for the interest. I am catching up with the applicants until the weekend, so please stay tuned.

[2021-01-28 09:38] sankha555 commented on #164
Sure @matthiaskoenig , thanks a lot for the response!

[2021-01-28 09:48] RATED-R-SUNDRAM commented on #157
hello, I am Shivam Sundram undergraduate in computational biology. I have knowledge of HTML, CSS, JS, and its various frameworks including node and Cytoscape. I would like to work on this project so any guidance on how to get started would be very helpful.

[2021-01-28 12:11] Kartik-Khandelwal commented on #179
@scootermorris I have prior experience with cluster algorithms, and have done some projects on it. This project lies under my interest and skill set. Hence, I would love to work on this as a part of GSoC 2021.
Do let me know how to get started, till then I will have a look at the repository.

[2021-01-28 12:53] matthiaskoenig commented on #164
@draeger Would you be interested in co-mentoring this project?

[2021-01-28 13:12] matthiaskoenig commented on #178
@all A good starting point to get a feeling for the project would be to create a python virtual environment and install the required libraries. I would then recommend to play a bit with the example files and libraries, i.e. reading and printing the information.

The following pip packages can be used:
- SBML: `python-libsbml` https://pypi.org/project/python-libsbml/
- SBGN: `libsbgnpy` https://pyp

[2021-01-28 13:37] SantamRC commented on #164
Hello @matthiaskoenig ,
This is Santam. I am doing my major in computational biology. I am profient in python, Rust and javascript. I have a basic understanding of SBML and I am interested to work on this project.

[2021-01-28 14:04] matthiaskoenig commented on #164
@all We have now 2 very interested students in the project which I will support in their proposals. If you are interested in NRNB GSOC this year please consider one of the other available projects without students (https://github.com/nrnb/GoogleSummerOfCode/issues). Unfortunately, I can only help 2 students writing a proposal and both have been in contact with me already for some time.

Of course

[2021-01-28 14:39] cannin commented on #169
@thepritam @SGanguly1999 sincere apologies for the delayed response. For the proposal that you will eventually need to write you should 1) prepare a CV, 2) be able to demonstrate familiarity Cytoscape app development and 3) an understanding of calling CasualPath functions from other Java code. A key component in the proposal will be a plan for the app interface and visualization of results.

[2021-01-28 15:25] shaliniiit commented on #179
@scootermorris I have gone through the code and the issue and feel like its a good fit for me having worked on similar projects in other universities like Penn State and CMU. I'd be happy to start working. Please look up my resume: https://drive.google.com/file/d/1pcqymg8_DTuCQTTV8cUyEfISpvD63Jlq/view?usp=sharing

[2021-01-28 15:27] shaliniiit commented on #178
@matthiaskoenig  I have gone through the code and the issue and feel like its a good fit for me having worked on similar projects in other universities like Penn State and CMU. I'd be happy to start working. Please look up my resume: https://drive.google.com/file/d/1pcqymg8_DTuCQTTV8cUyEfISpvD63Jlq/view?usp=sharing

[2021-01-28 15:28] shaliniiit commented on #170
@cannin I have gone through the code and the issue and feel like its a good fit for me having worked on similar projects in other universities like Penn State and CMU. I'd be happy to start working. Please look up my resume: https://drive.google.com/file/d/1pcqymg8_DTuCQTTV8cUyEfISpvD63Jlq/view?usp=sharing

[2021-01-28 15:28] shaliniiit commented on #167
@cannin I have gone through the code and the issue and feel like its a good fit for me having worked on similar projects in other universities like Penn State and CMU. I'd be happy to start working. Please look up my resume: https://drive.google.com/file/d/1pcqymg8_DTuCQTTV8cUyEfISpvD63Jlq/view?usp=sharing

[2021-01-28 16:02] HarshKhilawala commented on #172
@cannin I find myself interested for this project. Let me know about further steps.

[2021-01-28 16:21] cannin commented on #174
@shreshtha48 This is a new tool so additional information is limited. Another place for documentation is here: https://github.com/korkutlab/targetscore/blob/master/targetscore/vignettes/target_score_tutorial.Rmd

If something is unclear on the usage, please post an issue with a question and we can further address it: https://github.com/korkutlab/targetscore/issues