[2021-01-28 16:26] cannin commented on #168
@ankits743 Communication here on GitHub is best. For a proposal that you might submit, you should start preparing: 1) a CV, 2) a plan with specific places in the code that would need modification, and 3) demonstrated understanding of generating APIs (code samples always best).

[2021-01-28 16:36] cannin commented on #166
@patelaryan7751 apologies for the delay. If you are still interested, for a proposal you'll need to prepare 1) a CV and 2) prepare a plan for the some issues that need to be resolved (this also will demonstrate an understanding of the R package submission process).

[2021-01-28 16:44] cannin commented on #167
@thepritam @shaliniiit thanks for the interest. @fbergmann the other potential mentor will be posting more details in the next few days to give additional guidance; watch for updates here.

[2021-01-28 16:54] cannin opened #180 "Convert CellBox TensorFlow Code to PyTorch"
### Background
CellBox (https://www.cell.com/cell-systems/pdfExtended/S2405-4712(20)30464-6) is a machine learning algorithm (built using TensorFlow) for generating network models to predict for cellular responses to large scale perturbation experiments. The output is executable models capable of predicting the effects of cancer therapies. CellBox includes explicit models of cell dynamics in a mac

[2021-01-28 17:16] cannin commented on #170
@palashgarg0109 @shaliniiit thank you for your interest. I have added additional content to the description to help you get started and better define the problem to be addressed.

[2021-01-28 17:21] patelaryan7751 commented on #166
@cannin where should i submit my CV and the plan of work is there any IRC channel ?

[2021-01-28 17:28] cannin commented on #166
No IRC channel. See instructions on how to apply: https://nrnb.org/gsoc.html

[2021-01-28 17:39] cannin commented on #172
@HarshKhilawala I posted more details to get you started in the description

[2021-01-28 18:27] cannin commented on #177
@ballaneypranav sincere apologies for the delay. I earlier did look at the code; it is an amazing start. Part of the delay has been an ongoing discussion with a potential co-mentor regarding "converter" projects: https://github.com/nrnb/GoogleSummerOfCode/issues/175 and https://github.com/nrnb/GoogleSummerOfCode/issues/177 and we still have to settle a clear direction. A meeting to settle some poi

[2021-01-28 21:13] SGanguly1999 commented on #169
Sure @cannin  ,I will try to do that as soon as possible.

[2021-01-29 00:49] patelaryan7751 commented on #166
@cannin thanks for the apply link .

[2021-01-29 10:01] y-pankaj commented on #158
Hi @ugurdogrusoz, Pankaj here, a senior undergraduate from India. I found this project interesting and it aligns with my tech stack as well, so I would like to work on this project. I have mailed you my resume and certain queries that I had. Hoping to hear back from you soon!

[2021-01-29 21:17] thepritam commented on #167
@cannin Thank you for your response and will do it accordingly.

[2021-01-29 21:21] thepritam commented on #169
Thank you @cannin  for your response and will try to write the proposal accordingly.

[2021-01-30 01:09] chilampoon commented on #171
Interesting. Seems like the preprint hasn't published yet? Would it be possible for a student to update the preprint as a co-author after finishing the above goals and also do some additional analyses?

[2021-01-30 06:02] itssingh commented on #160
Hello everyone!
Here's the second task, Print species IDs.
https://gist.github.com/itssingh/cc0f32c654fecadf38d0ccf76797813b
Thank you!

[2021-01-30 06:04] itssingh commented on #160
Working on Print KineticLaws' math nodes in Reverse Polish Notation.

[2021-01-31 05:02] anshalshukla commented on #168
Hello @ankits743 are you still interested working on this? I find my skill-set aligned to this project and would like to work on it.

[2021-01-31 05:08] anshalshukla commented on #168
Hey @cannin
Should I share link to my resume here? Also is it fine if I work on project already taken by someone else.

[2021-01-31 06:21] palashgarg0109 commented on #180
Hi @DesmondYuan
I found this issue interesting and would love to work on it. I have done some deep learning projects using TensorFlow framework and am keen to learn PyTorch.
Could you please help me getting started with the project. Thanking you !

[2021-01-31 12:59] Ishan2601 commented on #180
Hi! @cannin and @DesmondYuan

I am interested in working on this issue. I have used the TensorFlow framework for my projects and have also explored the PyTorch framework. I would love to make valuable contributions to this projects while enhancing my knowledge of PyTorch framework. After the going through the required resources, how should I proceed with the task?

Also, what will be the preferred

[2021-01-31 17:08] ShubhamChaudharyy commented on #163
@MoHelmy i am open for this role and would love to contribute to NRNB.
https://drive.google.com/file/d/1jZZSQv_ctX-omPZOTdPqvXXzuZIohhdh/view?usp=sharing

[2021-01-31 23:11] ankits743 commented on #168
Hello @anshalshukla,
Yes, I'm still interested along with that working on the plan and code samples.

[2021-02-01 06:56] Ascensiony commented on #179
@scootermorris I have been working with Graph-Neural Networks for quite a while, where I encountered community detection algorithms like Louvain's Algo, Community Affiliation Graph Model(AGM), etc. It would be interesting to see how these algorithms work out. Currently, I am looking at Cytoscape's codebase.

Can you please provide steps on how to proceed further?
Thank you🙂

[2021-02-01 09:26] anshalshukla commented on #168
Hello @ankits743
If you are fine, we can together work on this. I have experience working with Flask and Rest APIs if you want I can help you with those.

[2021-02-01 15:21] ballaneypranav commented on #177
Thanks a lot, @cannin! Have any changes been made to this project? If you would like me to continue developing this some more as an evaluation task, please let me know; otherwise, I can directly submit a proposal.

[2021-02-01 19:55] cannin commented on #171
@chilampoon you are correct the pre-print is not published. If the summer code work is included as part of the final publication, it would be natural for the student to be included. I have written papers in the past with GSOC students.

[2021-02-01 20:00] cannin commented on #180
@Ishan2601 for the time being here on GitHub is good. I added a "Getting Started" section.

[2021-02-01 20:52] chilampoon commented on #171
@cannin Got it. What are the expectations for this project to get integrated into the final publication? I do have some thoughts on it, I'll contact you later on since it's still in the organization application period now.

[2021-02-01 21:02] cannin commented on #171
@chilampoon  there are others involved in the project. i can only speak for myself. the code has to 1) add new features, 2) be tested, and 3) be documented.

[2021-02-01 22:01] AlexanderPico commented on #168
Hi @anshalshukla. This is a proposed project idea for Google Summer of Code 2021. Right now, each of you should be focusing on preparing the best possible application. That involves independently researching the topic, enganging with the mentor (canin) and following their guidance (see his 3 points above). This is a competitve program and only one student can be selected per project.

We all enjoy

[2021-02-02 05:49] itssingh commented on #160
Hello everyone!
I am facing some issue in Print KineticsLaws' math nodes in Reverse Polish Notation. Can I ask here or how can I connect?

[2021-02-02 11:27] patelaryan7751 commented on #166
@cannin  i am currently writing the proposal can u say about the deadline (dates) it was not mentioned in the apply instruction page.

[2021-02-02 13:20] mythosil commented on #160
@itssingh Could you send an email to the potential mentors? It's not good to take up space here with detailed discussions.

[2021-02-02 14:26] Dharna5599 commented on #174
Hey @cannin
This project seems very interesting & I am very comfortable in R. Should I start drafting my GSoC proposal for the same?

[2021-02-02 18:50] itssingh commented on #160
@mythosil Yeah sure!

[2021-02-03 11:29] AhwiniMirajkar commented on #162
I want to work on this

[2021-02-03 13:18] MoHelmy commented on #162
For everyone interested in the project, please send your CV and school report to the mentors.
Also, please check the repo of the project and take a deeper look at the code.

[2021-02-03 13:39] patelaryan7751 commented on #166
@cannin can you give more info on the work i need to do ?

[2021-02-03 13:47] patelaryan7751 commented on #166
@cannin great package! can you elaborate more on this project ?

[2021-02-03 15:04] paul-shannon commented on #166
Hi @patelaryan7751,

Here are a couple of ideas.  The package lacks automated testing.   See

  https://shiny.rstudio.com/articles/testing-overview.html

And the build process - using webpack - is not stable against changes in npm modules, and changes in webpack itself.   You can see among the cyjShiny issues my effort to avoid webpack, at the cost of losing a few layout strategies.

My time is mo

[2021-02-03 15:15] patelaryan7751 commented on #166
@paul-shannon Thanks. Surely i can help you on both testing as well as build part.

[2021-02-03 15:24] paul-shannon commented on #166
@patelaryan7751 - have you completed the GSOC application?

[2021-02-03 15:33] patelaryan7751 commented on #166
@paul-shannon i am on it just wanted to know about this project and the work which i have to do so that i can plan my proposal accordingly.

[2021-02-03 15:45] paul-shannon commented on #166
That makes sense, @patelaryan7751.    Some other possible tasks (thinking speculatively):  put a few demos up on shinyapps.io;  maybe document the steps to migrate an interesting Cytoscape Desktop network to a shiny app.

[2021-02-03 16:00] patelaryan7751 commented on #166
@paul-shannon Thanks. I would look upon this .

[2021-02-03 16:00] patelaryan7751 commented on #166
@paul-shannon  Thanks. I would look upon this .

[2021-02-04 08:41] Debanitrkl commented on #180
@cannin  and @DesmondYuan I have gone through the documentation and I have also experience working with  pytorch and tensorflow previously and have also refactored neural networks code from tensorflow to pytorch. I think I would be able to contribute to this project , could you help me setting this up and getting started with the issue.
Thank You

[2021-02-04 19:49] cannin commented on #166
@patelaryan7751 I'm completely supportive of the comments made by @paul-shannon for directions on the project

[2021-02-04 19:53] cannin commented on #174
@Dharna5599 you certainly can. The projects are competitive where only one student will be selected. Students are judged on 1) who is most capable of completing the work, 2) clear proposal of work, 3) community interest of the project. You have the most control f over 1 and 2.

[2021-02-04 23:24] DesmondYuan commented on #180
@palashgarg0109 @Ishan2601 @Debanitrkl First of all, thank you for your interest in this project! As @cannin mentioned, please refer to the "Getting started" section to kick off. Once you have a preliminary test run with the existing TF code, you might be able to have a better understanding of what the summer project would look like!

[2021-02-05 06:48] spursbyte commented on #173
Hello @cannin can i work on this?@ugurdogrusoz  do you need any help?

[2021-02-05 17:20] Debanitrkl commented on #180
![Capture](https://user-images.githubusercontent.com/50622005/107066819-7199e100-6804-11eb-900f-f0af405b62df.PNG)

I'm getting this error while setting up the Cellbox, could anyone help @DesmondYuan @cannin  @judyueshen

[2021-02-05 17:24] cannin commented on #173
@spursbyte Feel free to submit a GSOC proposal if interested.

[2021-02-05 17:27] cannin commented on #180
@Debanitrkl thanks for digging into CellBox. If you find issues with CellBox, please post them directly on the CellBox repo: https://github.com/sanderlab/CellBox/issues so we can stay organized. Please repost your question there.

Feel free to post questions more focused on how to proceed with this project here.

[2021-02-05 17:49] spursbyte commented on #173
ok sure

[2021-02-06 05:44] ighosh98 commented on #165
@dexterpratt I went through the resources you had attached. I wanted to understand what should the workflow of the app be. Should the app workflow be similar to the BiNGO and ClueGO apps?

[2021-02-06 16:39] draeger commented on #164
@matthiaskoenig and all! I think this is a vital and exciting topic, and I wish you lots of success and fun during GSoC! Unfortunately, I have to pass this time and can't act as a mentor this summer.

[2021-02-06 18:23] RATED-R-SUNDRAM commented on #157
@ugurdogrusoz if you could guide me on how to get started and what skills I should learn it would be very helpful for me

[2021-02-06 20:01] ballaneypranav commented on #160
Hi @TakahiroYamada @mythosil,
I'm Pranav Ballaney from India, and I would like to work on this project for GSoC 2021. I'm a Biology and Computer Science major, and I worked as part of GSoC [last year](https://summerofcode.withgoogle.com/archive/2020/projects/4802067178192896/) with Debian on quality assurance and continuous integration of bioinformatics applications. I have worked with tree data s

[2021-02-07 16:38] palashgarg0109 commented on #180
![Screenshot from 2021-02-07 22-02-49](https://user-images.githubusercontent.com/44092658/107152887-899e6b80-6990-11eb-8f22-f47451f5b893.png)

i am getting thi error while installing cellbox, could anyone help @cannin @DesmondYuan

[2021-02-08 22:37] AlexanderPico commented on #165
BiNGO and ClueGO are great apps. We definitely don't want to reproduce them and all their functionality. There will be use cases where those are still recommended over our "simple enrichment tool" we are proposing here.

The goal here is to have as little UI as possible in fact. Imagine having Cytoscape open and you've imported a network. Without clicking anything, I'd like our app to perform enri

[2021-02-09 11:17] palashgarg0109 commented on #180
@cannin @DesmondYuan I have successfully install and run the existing code on my PC. I am having some difficulty in understanding the data files expr_index.txt and expr.csv, what does each row and column represent in both the files?
And also I think there is an error in ReadMe file at One Click Model Construction Step2:
https://github.com/sanderlab/CellBox#step-2-use-mainpy-to-construct-models-usi

[2021-02-09 22:46] DesmondYuan commented on #180
@palashgarg0109 Thanks for looking into the codes and thanks for the typo report. They are fixed now.

Regarding the data preparation, please refer to https://github.com/sanderlab/CellBox#data-files-in-data-folder for more information. Feel free to let us know if you need any additional clarification!

[2021-02-10 08:19] ugurdogrusoz commented on #158
Responded through email.

[2021-02-10 20:41] matthiaskoenig commented on #164
@draeger Thanks for all the support.

[2021-02-11 06:04] T3chy commented on #180
Hi @cannin and @DesmondYuan

I am interested in this project, and have experience with PyTorch. Is there anything I need to sign up for or do I just make a PR once done?

Elam

[2021-02-12 06:08] ugurdogrusoz commented on #157
Here is a conversion facility that could be of use: https://www.pd2af.org/

[2021-02-13 14:30] mythosil commented on #160
@ballaneypranav I could confirm that you have basic Rust skill. You don't need to take care of functionDefinition so far.
There's still time before Student Application begin (see [GSoC 2021 timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline)). You can spend time in learning Rust, numerical integration algorithm and SBML.
Our project is to implement a safe tool, which is the tool

[2021-02-14 08:31] ballaneypranav commented on #160
@mythosil Thank you. I have rewritten the code without RefCell. Please take a look at it [here](https://github.com/ballaneypranav/sbml_sim) and let me know what you think.

[2021-02-14 12:21] ayan-biswas0412 commented on #163
Hi @gbader and @MoHelmy I am interested to collaborate in this project and I am working in the domain of the mentioned skillsets for about 2 year and this project is aligned with my knowledge and I am an active open source collaborator , here is my GitHub profile https://github.com/ayan-biswas0412 .
[Here](https://drive.google.com/file/d/1JFyk92n0XcA2LukcH6nroPloY7l0XyVP/view) is the link of my re

[2021-02-17 21:12] abhinavgudipati commented on #170
@cannin @DesmondYuan @judyueshen Hey there!

I found this project idea interesting! I would love to know how to get in touch with the preferred mode of contact with the mentors assigned to this project.

I am versatile with Python and Java at a high proficiency. Would love to convert this into meaningful contributions to this organization.

[2021-02-17 21:37] cannin commented on #170
@abhinavgudipati thanks. see updated project description above.

[2021-02-17 21:48] DesmondYuan commented on #180
@T3chy Thanks. And yes a PR would work fine. You might want to load the tensorflow code first and do some quick test runs. Note that some of the models in `model.py`, e.g.  `CoExp` class, are currently deprecated, so try to focus on `CellBox` class and the abstract class `PertBio` only to avoid distraction.

[2021-02-17 21:51] DesmondYuan commented on #170
@abhinavgudipati Thanks please feel free to go ahead and checkout the current CellBox codes and do some minimal test runs. If you find anything you want to contribute to the repo, you are also welcomed to develop your own branch and create a PR.

[2021-02-18 11:23] abhinavgudipati commented on #170
I am interested in working on Drafting my proposal simultaneosly. I am excited to know what are the judging parameters the mentors keep into account at the time of selecting a prospective student for a project knowing that there is competetion in this project already.

Bearing that in mind, I also would like to know how many students are y'all planning to commit to for this project. ( How many are

[2021-02-18 15:49] Proteomicslab57357 opened #181 "Transform Xconnector python package to shiny web app"
### Background

Xconnector is a software package designed to easily retrieve, and visualize metabolomics data from different database sources. The goal of Xconnector is to connect different metabolomics databases in one place. The first five databases implemented in Xconnector are:

1. The Human Metabolome Database [HMDB](http://www.hmdb.ca/).
2. The Livestock Metabolome Database [LMDB](http://lmd

[2021-02-18 16:10] palashgarg0109 commented on #180
@DesmondYuan @cannin
I have understood the code written using tensorflow framework to quite an extent and now I am very excited to work further on the project. Could you please suggest What I have to do next?
Also I am keen to know what are the judging parameters the mentors keep into account at the time of selecting a student for a project knowing that there is competition in this project already

[2021-02-18 17:43] cannin commented on #180
@palashgarg0109 see https://nrnb.org/gsoc.html for how to apply; your proposal needs to reflect the goals (above) of the project

[2021-02-19 03:11] patelaryan7751 commented on #181
Hello @Proteomicslab57357 great project! Can you give more info on this project?

[2021-02-19 03:41] spursbyte commented on #181
Hello @Proteomicslab57357 can i work on this issue?

[2021-02-19 08:36] Proteomicslab57357 commented on #181
Yes Sure, it's an application of bioinformatics in metabolomics that will
facilitate data retrieving and visualization from multiple sources.

On Fri, Feb 19, 2021 at 5:11 AM ARYAN PATEL <notifications@github.com>
wrote:

[2021-02-19 08:43] Proteomicslab57357 commented on #181
For everyone interested in the project, please send your CV and school report to the mentors.
Also, please check the repo of the project and take a deeper look at the code.

[2021-02-19 09:41] RATED-R-SUNDRAM commented on #157
Im willing to work please let me know how to get started

[2021-02-19 11:26] spursbyte commented on #181
What do you mean by school report can you elaborate?

[2021-02-19 11:42] Proteomicslab57357 commented on #181
@spursbyte college transcript

[2021-02-19 11:46] spursbyte commented on #181
@Proteomicslab57357 will a college id card help? Since i am currently pursuing my btech (2nd year) my college provides transcript only after 4 years of study or byech completion.

[2021-02-19 11:48] Proteomicslab57357 commented on #181
@spursbyte yes it will

[2021-02-19 22:39] cannin commented on #177
I'm closing this project in favor of #175 @ballaneypranav please see that project in case you are still interested

[2021-02-19 22:39] #177 closed

[2021-02-19 22:44] cannin commented on #175
@yash170106065 @SGanguly1999 the project description has been heavily modified, but includes additional details; this may make you more or less interested.

[2021-02-20 07:39] Proteomicslab57357 commented on #181
Sure, will do that.

On Fri, Feb 19, 2021 at 9:00 PM Alexander Pico <notifications@github.com>
wrote:

[2021-02-21 03:45] DesmondYuan commented on #170
@abhinavgudipati  Please see https://nrnb.org/gsoc.html for how to apply; your proposal needs to reflect the goals (above) of the project.

In terms of head counts, I'm not the final judge but it should not go beyond 2 students. Thanks and good luck for your application.

[2021-02-22 15:44] patelaryan7751 commented on #166
@paul-shannon can you please elaborate this ?

[2021-02-22 16:41] paul-shannon commented on #166
@patelaryan7751 - sure, I'll give it a try.  You are asking about the desktop-to-shinyApp migration?
If so, then imagine this scenario (I hope this is useful.  Tell me if not.):

1. a bioinformatician sifts through experimental data, annotations, and computation to identify (say) a network of modest size, which is perturbed and disease-inducing in some circumstances
2. she exports the network - no

[2021-02-22 18:02] patelaryan7751 commented on #166
@paul-shannon Yes i understand the exact point . Thanks for the explanation.

[2021-02-24 08:03] patelaryan7751 commented on #157
hello @ugurdogrusoz i found this project really interesting i want to work on it can you give some more info on this?/

[2021-02-25 05:04] RATED-R-SUNDRAM commented on #157
@ugurdogrusoz please update us so we can start our contributions to the project at the earliest.

[2021-02-25 05:11] ugurdogrusoz commented on #157
I think you need all the information here. I would first study Newt and then see how one can implement a GUI for facilitating such conversion. The actual converter needs to be put together probably as a service. I already provided a link to a conversion facility.

[2021-02-26 07:56] RATED-R-SUNDRAM commented on #161
Hello @MoHelmy, I am Shivam Sundaram undergraduate in computational biology, I have skills in R programming and various machine language algorithms with front end languages like HTML, CSS, and Js, I am excitedly looking forward to working on this project any guidance on how to get started will be very helpful.

[2021-02-28 13:41] RATED-R-SUNDRAM commented on #161
@MoHelmy I've mailed you my resume and transcript hoping to get a word from you soon.

[2021-03-03 15:57] patelaryan7751 commented on #171
@cannin I had gone through the algorithm . I have some couple of questions in my mind.  Presently in the algorithm there are 3 input data types (exp, cna, mut) what additional data types need to be added to the algorithm a brief info on it would do good ?
what does examples on patient to patient similarity mean does it refer to  similarity between cell lines of different patients? state me straigh

[2021-03-07 21:19] karthikshetty03 commented on #122
Hello mentors @AlexanderPico, @scootermorris, @yihangx, @coleslaw481
I am Karthik Shetty from BITS Pilani. My primary skills are Web development (HTML, CSS, Javascript, ReactJS) and Python programming. I would like to work on this issue for GSOC 2021 and want to know more about it.
I have gone through the Wiki of the Cystoscape Appstore's GitHub repo.
Can you please guide me on how to proceed furt

[2021-03-09 23:19] khanspers commented on #181
Closing this because of unclear connection to NRNB.

[2021-03-09 23:19] #181 closed

[2021-03-10 15:17] ighosh98 commented on #165
I have also gone through the Cytoscape tutorial, the g:Profiler API and basics of OSGi framework. I have started working on the proposal for this app for GSOC 2021.  I wanted to understand what are the expectations from a successful proposal for this project barring a proper explanation of the app architecture and implementation ideas? Would it be possible to get some feedback on the proposal draf

[2021-03-11 06:52] godslayer201 commented on #148
Hey @vcellmike

I'm interested to work on this. I've worked on GUI apps prior(in Python),but I can pick Groovy up.

Looking over the repo and I'm looking at the issues. I would communicate over email if I have any questions.
Thank you!

[2021-03-11 15:47] banerjeeshayantan commented on #174
@cannin This project seems interesting. Have you already selected an applicant? And do you have any tests or evaluation mechanisms that an applicant needs to perform before submitting the proposal?

[2021-03-12 10:25] abhinavgudipati commented on #170
Hey! My Mid-sem exams are finally done, I would like to know if you are free to contact for advise concerning the Proposal of the project.

[2021-03-12 10:27] abhinavgudipati commented on #170
Also, regarding pull requests, how much of a compulsion is it to attempt pull requests? Pull Requests specific to this project is taken into account?

[2021-03-12 17:40] cannin commented on #170
@abhinavgudipati there is no requirement. check here for application requirements: https://nrnb.org/gsoc.html

You will need to do a proposal and the proposal must demonstrate you have plan that is more clear that other applicants for finishing the project. We, of course, do appreciate any pull requests that solve any issues you might encounter that prevent you from running/exploring the code as y

[2021-03-12 18:13] cannin commented on #174
@banerjeeshayantan no one has been selected. See how to apply here: https://nrnb.org/gsoc.html You will need to do a proposal and the proposal must demonstrate you have plan that is more clear than other applicants for finishing the project.

[2021-03-14 07:10] avinal commented on #159
Hello @TakahiroYamada, @funasoul, and everyone, I am Avinal, pursuing Bachelors in CS from NIT Hamirpur, India, I am willing to contribute to this project. I would like to inform you about my skills as asked above :
- C++(done lots of projects) and Java(done a few projects + Spring Boot + core programming)
- Had a course in Modelling and Simulation and experienced with CPN tools, R and Matlab simu

[2021-03-15 06:44] avinal commented on #159
I tried running included examples, I am though a bit unsure about what is the proper command to run simulations. These are the results.
![image](https://user-images.githubusercontent.com/74113200/111111744-e808cc00-8584-11eb-8836-0a04b4a72d34.png)
![image](https://user-images.githubusercontent.com/74113200/111111789-f820ab80-8584-11eb-8acb-8143dc66a434.png)

Please let me know if there is a proper

[2021-03-15 15:16] Aviral09 commented on #3
Hello @AlexanderPico I am a second-year Computer Science undergraduate at BITS Pilani, India. I have good experience in Web development, having already worked with frameworks like Vue and React in addition to HTML, CSS and JS. I have also implemented Computer Vision projects in Python. My personal website - https://aviralgoel.me/
For the past semester, I have been exploring the applications of Com

[2021-03-19 19:10] theakhiljha commented on #161
Hey, @MoHelmy, I hope you are doing well.
I am Akhil Kumar Jha pre-final year student from Galgotias University (India).
I found this project is very interesting about my stack. I have worked on R shiny app for my project. and also I have worked on data analysis and visualization.
currently, I am looking forward to contributing to open source.
So suggest to me, what I can do further in this projec

[2021-03-22 13:39] shreshtha48 commented on #174
Hello @cannin , i have started working on my proposal. Is there any way i can reach you to get your feedback on the same?

[2021-03-22 15:13] cannin commented on #174
@shreshtha48 once you have a good draft. Make it available in Google Docs and share the link with me by email. I expect many requests for this type of review from other students and my time will be limited. Best to try to send as complete a draft as possible.

[2021-03-22 18:21] mohasseb99 commented on #151
Hi,

I am Mahmoud. I am interested to join GSOC 2021 development with NRNB. I am going through Cytoscape App Ladder. I am asking if there are things should I do to be accepted.

[2021-03-22 21:01] thepritam commented on #169
@cannin  I deeply apologize for very much delay in my progress. I have made progress in visualizing the generated sif files from the casual path algorithm in Cytoscape.  Can you help me to find what should be the proper layout settings for the visualization as per BioRxiv publication. And I have also made a proper plan for development of the app. Please  help me out on this issue.
Thanks

[2021-03-22 21:55] cannin commented on #169
@thepritam Cytoscape has its own layout features (I expect user to use whatever they want):
http://manual.cytoscape.org/en/stable/Navigation_and_Layout.html

If possible to set a default, choose a force-directed layout.

PS: One important note. In the paper, there are arrows pointed at boxes with many nodes. This notation actually means there many arrows pointed at all those nodes.

[2021-03-23 20:34] thepritam commented on #169
@cannin Thank you for the suggestion. I will do try to set a default configuration for the visualization.

[2021-03-24 02:22] vz415 commented on #180
Hi all, quick question out of curiousity. Why switch to pytorch and not jax? If I understood the CellBox paper correctly, automatic differentiation is the key ingredient and jax seems to have more functionality built around autodiff for a variety of settings. This may be a dumb question but I was curious enough to ask. Thanks!

[2021-03-24 15:01] avinash14022002 commented on #178
@matthiaskoenig and @cannin Sir.

Wanted to work for the issue can guide me how to start working??

[2021-03-24 15:20] cannin commented on #178
@avinash14022002 see the comment by matthiaskoenig

[2021-03-24 22:57] vcellmike commented on #148
Hi @godslayer201, nice to hear from you. Feel free to ask questions regarding the project.

[2021-03-25 14:39] cannin commented on #171
@patelaryan7751 apologies, i never saw this message. 1) it is not so much about what additional types. exp, cna, mut are actually dealt in 2 ways either discrete or continuous. it would be nice abstract the code so, for example, 5 data sets could me used (e.g., 3 discrete and 2 continuous). the data type biology details are unnecessary for a GSOC student. 2) the code generates similarities values

[2021-03-27 22:04] thepritam commented on #169
@cannin in the given visualizations of the network in the BioRxiv publication and also in the sample data , in each nodes there is some small circle which has p or t written on it. And also there color is different if it is activating phosphorylation or deactivating phosphorylation site. How can we visualize these type of things in each node and also how to understand  this things from the
 genera

[2021-03-28 11:33] sh15h4nk commented on #167
Hello there,
I'm a student, looking to work on with this project idea from the GSOC'21. I have an experience with python API, I wanted to contribute to this issue. Can someone help me with the start up guide to this issue or the project. I'm basically new to open source.
Halp Plox!

[2021-03-28 18:46] avinal commented on #175
Hello @cannin, I am interested in contributing to this project. I have previously worked on parsers, Spring Boot, and core Java, never used Groovy but I hope it won't take much to understand that. If I understand correctly the project is to create a JSON to BioPAX format converter with validation and configurable output.

[2021-03-29 10:14] fbergmann commented on #167
@sh15h4nk glad to see that you are interested in the project. To get started i suggest that you fork the basico project, by clicking the 'fork' button on the  <https://github.com/copasi/basico>, and then clone the newly created repo (using for example github desktop <https://desktop.github.com/>). Once the files are on your machine, create a new virtual environment, and install the dependencies in

[2021-03-29 11:02] thepritam commented on #167
@fbergmann

Hello @fbergmann ,
I am interested to work on this given issue and I have worked previously different api based systems. Please guide me to start working on this issue.
Thanks

[2021-03-29 11:31] fbergmann commented on #167
hello @thepritam, great! I would also invite you to fork the project, clone it, and set it up for your locally. Then i would like  you to work through the documentation here <https://basico.readthedocs.io/en/latest/> (that is automatically generated from the documentation in the `./docs/` folder. Once you have done, I would like you to make a pull request that slightly improves the documentation (

[2021-03-29 12:22] sh15h4nk commented on #167
I have successfully setup the project on my local machine, Do I actually need to work the whole project on notebooks?.
And what do I do next?

[2021-03-29 13:04] fbergmann commented on #167
@sh15h4nk great! And no, I would hope that any new functionality would be added to the primary API (in the `./basico/` folder), and from there would be available for notebook users, and script users alike. I see the notebooks as a great way, to encode examples and for documentation. So it would be necessary to alter then / add new ones at times. The next step would be to make a minor modification,

[2021-03-29 13:33] sh15h4nk commented on #167
minor modification in sense?

[2021-03-29 19:22] cannin commented on #175
@avinal there is a large overlap between Java and Groovy, so you may be well suited.

[2021-03-29 19:33] avinal commented on #175
Yepp I got that after seeing their description and syntax. So is there any programming competency test for the project or we can start discussing it ?

[2021-03-29 19:49] cannin commented on #175
There is no test. The central application component is the proposal (https://nrnb.org/gsoc.html). Demonstration of your understanding of the code in the proposal is valuable. This can happen with small code snippets in your intended plan and/or pointing to previous code you've worked on.

[2021-03-29 19:55] cannin commented on #167
@sh15h4nk The main work would be left for the summer as you will describe in your proposal (https://nrnb.org/gsoc.html). For now, it make be sufficient to change some small string even if the Pull Request is not accepted. If there is anything that has prevented you from exploring the code (or where the instructions could have been improved) that is a Pull Request that you could also make.

[2021-03-29 19:57] avinal commented on #175
Thanks @cannin , seems like a nice starting point. I will update you about my proposal when it is review ready.

 Just to confirm, is this the preferred way of communication for the application period and discussions or should I switch to emails/slack/gitter/IRC ?

[2021-03-29 20:00] sh15h4nk commented on #167
Yeh, Got it .
How often this organization select new student, like I'm very new to the open source but I have a quiet experience in developing a Python API. I just need an opportunity to learn, explore and contribute. @cannin Help me Out.

[2021-03-29 20:05] cannin commented on #175
Comments on GitHub make it easier for me to stay organized, if I have responded. Draft proposals on Google Docs can be sent via email. Due to time constraints and many projects, I may not be able to give comments more than 1-2 times (choose your timing wisely).

[2021-03-29 20:06] cannin commented on #167
@sh15h4nk we have been selected the majority of years in the past ~10 years.

[2021-03-29 20:14] sh15h4nk commented on #167
Like, Is there any Opportunity for a student, who is very new to the Open Source. Like I don't know much about the Biology. But I have a knowledge and experience with programming and Python API. What can you say about my selection. Could I get a chance or Do I need to lookup into other tech related organization? @cannin

[2021-03-29 20:22] sh15h4nk commented on #167
I have made a pull request to the repo, what next !

[2021-03-29 20:30] cannin commented on #167
@sh15h4nk Most of my previous students have been from computer science areas. For GSOC, I tend to look for good programmers that understand the task even if they do not understand the research. Some projects are easier to build upon with basic project knowledge. Here the task is to make additional COPASI desktop tool functionality available via the Python package. Separately, you should understand

[2021-03-29 20:38] sh15h4nk commented on #167
Interactive system in sense like an application (.exe ) GUI or an command line tool and what would be the features of the system like loading and creating module etc. Or like any significant features of the application

[2021-03-29 22:11] sh15h4nk commented on #167
What is the exact system to work on is it an api or an application

[2021-03-30 04:33] cnu1812 commented on #3
Hey There!
I want to apply for this project. Is it open for GSOC 2021..?
I have prior experience with nrnb/github.io!

[2021-03-30 09:16] fbergmann commented on #167
@sh15h4nk the target audience for basico, (and cork) are scientists and students that would interactively script with these apis. So they would use Jupyter Notebooks / Jupyter Lab / Spider / PyCharms for basico and RStudio for CoRC to construct / explore models, and analyze them. This is usually an iterative approach, wherein many different things are tried out.

[2021-03-30 09:22] sh15h4nk commented on #167
So the main goal is to write scripts what Interact with the apis out and give back the response to the user on the notebook

[2021-03-30 10:37] fbergmann commented on #167
indeed, as the underlying (c++ api) requires too much knowledge of the underlying architecture, basico / corc provide high level abstractions on top that hide the complexity, making it easy to handle.

[2021-03-30 13:27] sh15h4nk commented on #167
So for this we will working on the other repo (new interactive system) or will be upgrading an existing one?
Or will be doing modification on the basico api ? and giving the user to use the function or the modules ?

[2021-03-30 14:19] fbergmann commented on #167
You'd be working on a fork of basico (or corc if that is what you choose), and add new functionality to the modules on that one, work on documentation and examples. With the goal that it will be then merged back into the main repository. This all should just work without the underlying C++ code of COPASI to be modified.

[2021-03-30 14:50] thepritam commented on #169
Thank you @cannin  for this suggestion. I will try to come with something for this in my proposal. Can you please elaborate this line  "Also, make sure you see that there are multiple pairs of SIF and .format result files. It would be good to be able to switch views".
Thanks

[2021-03-30 16:22] cannin commented on #169
@thepritam Download this file: https://www.biorxiv.org/highwire/filestream/83268/field_highwire_adjunct_files/4/258855-5.zip and you will see in each result folder these multiple pairs.

[2021-03-30 16:24] DesmondYuan commented on #180
@vz415 Great question. Ideally JAX and Zygote in Julia should indeed work better with such tasks! We thought torch and TF are more widely used so they might be easier for a summer project. But if you are interested in JAX, please definitely feel free to mention it in the proposal. We will love to see it.

[2021-03-30 20:52] AlexanderPico commented on #3
Thanks for your interest everyone! There are no prerequisite tasks nor a need to submit your CV by email. The application process all goes through Google's GSoC interface. Please submit your application there. My suggestion is to submit early to perhaps get some feedback before the deadline. You can update your application up until the deadline. If you wait until the last minute to submit your app

[2021-03-30 20:56] AlexanderPico commented on #151
@mohasseb99. The app ladder is a good place to start. Please submit your application through Google's GSoC website. A good application includes your relevant background, your understanding of the project, your ideas for how to implement the project, mockups for key UI elements, and a detailed timeline. See the "resources" tab at https://nrnb.org/gsoc.html for more GSoC tips.

[2021-03-30 21:48] thepritam commented on #169
@cannin Yes found There are three pairs of files of SIF and .format files. Does these names have any significant meaning for e.g casuative , casuative-data-centric and conflicting (given in the data) which I have to consider in any case.
Thanks

[2021-03-30 21:51] thepritam commented on #169
@cannin Can you please give some idea how the interface should look like and what are the necessary item should be incorporated.
Thanks

[2021-03-31 07:22] cnu1812 commented on #3
I had submitted my draft proposal please review it!

[2021-03-31 20:32] cannin commented on #169
@thepritam think it through in your proposal, but for now maybe a drop-down option in the interface to choose one of the 3 pairs to visualize is sufficient. But it would be nice to save the files for the user in a location they choose, and to be able to load/visualize results that are pre-computed. I do not know what is possible in the interface in Cytoscape, but you can use this as a starting poi

[2021-04-01 20:08] jpahle commented on #167
Hi All,
it's great that there is already quite some interest in our R/Python Copasi APIs. Frank has been active answering your questions. I just wanted to add that I will also be available as a mentor. I would also like to emphasize that there are opportunities to work on the Python API (basiCO) but also on our R API (CoRC) or, in fact, both.

[2021-04-01 21:35] thepritam commented on #169
@cannin as you are saying the user need to upload pair of files which will be generated by Casual-path algorithm.  And for the casual path it requires the parameters.txt in a correct format which will be used in a .jar file of the algorithm and returns out 3 sets of pair. So Do the user will take the output and upload into the cytoscape app for visualization or we have to integrate these two jar f

[2021-04-02 20:09] thepritam commented on #169
@cannin  @ozgunbabur

@cannin @ozgunbabur please help me out in this issue.  I apologize for asking it again.
Thanks,

[2021-04-02 20:35] ozgunbabur commented on #169
Hi @thepritam,

CausalPath generates result networks in two forms:

**Option 1:** A ".sif" file and a ".format" file.

Even though it is named SIF, it is different from the ordinary SIF. The first 3 columns are the same, but this SIF uses 4th and 5th columns for other information. 4th column has references to sources and 5th column has protein sites for phosphorylation and dephosphorylation relati

[2021-04-02 20:39] thepritam commented on #169
@ozgunbabur thank you very much for the clarification.

[2021-04-06 19:22] VimukthiRandika1997 commented on #162
Hey! I  am very interested  about this project as this give me the ability to find the newest technological aspects in the bioinformatics. Hence I would like to take this project for the GSOC 2021. I am really ego to get the answers from the mentors. Thanks.

[2021-04-07 17:27] Aditya-Kumar-Jha commented on #172
Hi!! Aditya here; I would like to work on this project for GSOC 2021. I am a 2nd-year Computational Biology student from IIIT Delhi.
I have experience working with R & XML. I'm basically new to open source, so even a bit of help will be really appreciated! Thanks.

[2021-04-09 18:21] cannin commented on #172
@3adityajha Read the project description "Getting Started" for initial steps, then learn about Galaxy, then you need to create a proposal for intended work; see application instructions: https://nrnb.org/gsoc.html.

[2021-04-10 21:00] thepritam commented on #169
@cannin @ozgunbabur I have also shared my draft for the review in the GSoC official website. Can you please tell me how much does it take for reviewing the draft. I sincerely apologize for the delay in submitting the proposal. Please let me know about any correction I should make in my proposal or add any other thing. Thank you for your time and consideration.

[2021-04-13 11:17] cannin commented on #169
@thepritam feedback sent

[2021-05-18 17:05] khanspers commented on #165
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:05] #165 closed

[2021-05-18 17:05] khanspers commented on #166
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:05] #166 closed

[2021-05-18 17:06] khanspers commented on #164
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:06] #164 closed

[2021-05-18 17:06] khanspers commented on #157
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:06] #157 closed

[2021-05-18 17:06] khanspers commented on #169
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:06] #169 closed

[2021-05-18 17:07] khanspers commented on #154
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:07] khanspers commented on #158
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:07] #158 closed

[2021-05-18 17:07] khanspers commented on #162
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:07] #162 closed

[2021-05-18 17:08] khanspers commented on #179
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:08] #179 closed

[2021-05-18 17:08] khanspers commented on #148
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:08] khanspers commented on #161
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:08] #161 closed

[2021-05-18 17:08] khanspers commented on #160
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:08] #160 closed

[2021-05-18 17:09] khanspers commented on #171
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:09] #171 closed

[2021-05-18 17:09] khanspers commented on #163
This is an active GSoC 2021 project. The issue will be closed for the duration of GSoC since it is no longer available to other students.

[2021-05-18 17:09] #163 closed

[2021-08-23 21:34] #172 closed

[2021-10-15 17:08] jakebeal opened #182 "Implement pySBOL3 validation rules"
### Background
[pySBOL3](https://github.com/SynBioDex/pySBOL3) is one of the main libraries implementing the SBOL3 standard. The [SBOL3](https://sbolstandard.org/) standard has a set of rules for checking the validity of documents, but these are currently only partially implemented. The rule implementation is spread between pySBOL3 itself and the SHACL rules contained in [sbol-shacl](https://githu

[2021-10-15 17:24] jakebeal opened #183 "Conversion between GenBank and SBOL3"
### Background
[SBOL3](https://sbolstandard.org/) can currently be converted to GenBank only by first being downconverted to SBOL2, and vice versa. We would like to have the ability to directly convert between the two formats. This would be implemented as part of [sbol-utilities](https://github.com/SynBioDex/SBOL-utilities) in using BioPython and pySBOL3.

### Goal
Equivalent conversion of a set o

[2021-11-08 21:22] #151 closed

[2021-11-13 02:15] Gonza10V opened #184 "High level abstraction components for pySBOL3"
### Background
[pySBOL3](https://github.com/SynBioDex/pySBOL3) is one of the main libraries implementing the SBOL3 standard. But  it has not been widely used due to the slow learning curve of SBOL. [SBOL-utilities](https://github.com/SynBioDex/SBOL-utilities) is a collection of scripts and functions for manipulating SBOL 3 data that can be run from the command line or as functions in Python. This

[2022-01-03 19:11] khanspers commented on #180
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:11] khanspers commented on #178
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:11] #178 closed

[2022-01-03 19:12] khanspers commented on #3
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:12] #3 closed

[2022-01-03 19:12] khanspers commented on #122
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:12] #122 closed

[2022-01-03 19:12] khanspers commented on #159
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:12] #159 closed

[2022-01-03 19:13] khanspers commented on #167
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:13] #167 closed

[2022-01-03 19:13] khanspers commented on #168
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:13] #168 closed

[2022-01-03 19:13] khanspers commented on #170
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:13] #170 closed

[2022-01-03 19:13] khanspers commented on #173
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:13] #173 closed

[2022-01-03 19:14] khanspers commented on #174
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:14] khanspers commented on #175
Cleanup in preparation for GSoC 2022.

[2022-01-03 19:14] #175 closed

[2022-01-04 04:44] RATED-R-SUNDRAM commented on #184
Hi @jakebeal @Gonza10V , I am shivam sundram a 3rd year Undergraduate,  I have 3 years of learning experience and one year of work experience in python, I am willing to contribute to this project for GSoC 2022, any guidance on where to begin and what all to learn would be really encouraging and helpful.

[2022-01-04 11:34] Gonza10V commented on #183
Hi @jakebeal I'm Gonzalo Vidal PhD candidate on biologial and medical engineering from Chile. I have 3 years of experience in Python and 1 in SBOL. I am willing to contribute to this project for GSoC 2022, any guidance on where to begin and where can I learn Biopython would be encouraging and helpful.

[2022-01-04 12:25] Gonza10V commented on #184
Hi @khanspers I have a question here. I dont know if I should be considered a mentor on this project. I am a heavy user of pySBOL3 and SBOL-utilities. I looked for GSoC projects that add the functions that I feel useful to the package and I ended proposing the ones that I want to see implemented and I could contribute to. I have no problems if another participant wants to develop it, I can partici

[2022-01-04 12:36] jakebeal commented on #183
Hi, @Gonza10V : I'd be happy to supervise you on this project.  If you want to get started playing with biopython, I would suggest:
1) Looking at how it's already used in SBOL-utilities, and
2) Spending some time with the [BioPython Cookbook](http://biopython.org/DIST/docs/tutorial/Tutorial.html)

[2022-01-04 12:43] jakebeal commented on #184
@RATED-R-SUNDRAM Glad to hear of your interest - can you please link to something that you consider a good example of your work in Python?

@Gonza10V I believe that you are right able you fitting in well as a contributor and not a mentor at this time. I've got it from here.

[2022-01-04 14:15] RATED-R-SUNDRAM commented on #184
@jakebeal I am [liking](https://github.com/RATED-R-SUNDRAM/COLLEGE_BOT.git) to one of my projects here. Please guide me on ways and learning to get started for the project

[2022-01-04 15:53] jakebeal commented on #184
@RATED-R-SUNDRAM That does not appear to be your own work, but rather the work of another student.

[2022-01-04 16:38] khanspers commented on #184
Hi @Gonza10V, thanks for letting me know, it wasn't clear to me if you were a contributor or mentor, since you opened the issue I assumed mentor. I've removed you from the mentors list.

[2022-01-04 16:56] RATED-R-SUNDRAM commented on #184
@jakebeal This was a collaboration of other people on other components, For me individually I've contributed in adding all the python functions and classes as well coded for the preprocessing and training of the data.

In any case, if you want a test of my abilities I am open to any of your test tasks on this or any other repositories

[2022-01-05 05:58] pengbingyin commented on #184
Sounds amazing.

[2022-01-05 12:19] jakebeal commented on #184
@pengbingyin Glad to hear of your interest - can you please link to something that you consider a good example of your work in Python?

[2022-01-06 16:28] jakebeal opened #186 "Benchling SBOL3 App"
### Background
[Benchling](https://www.benchling.com/) is a popular DNA design tool, but currently supports only SBOL 1 and poorly at that. Benchling also offers a [Python SDK](https://docs.benchling.com/docs/getting-started-with-the-sdk) for accessing their API and the ability to [add apps](https://docs.benchling.com/docs/building-your-first-benchling-app) to extend the capabilities of Benchling.

[2022-01-06 16:45] jakebeal opened #187 "SnapGene / SBOL3 integration"
### Background
[SnapGene](https://www.snapgene.com/) is a popular DNA design tool, but uses a custom `.dna` file format. There are two open software tools for reading .dna files into GenBank format, [BioPython](https://biopython.org/docs/1.75/api/Bio.SeqIO.SnapGeneIO.html) and [SnapGeneReader](https://github.com/Edinburgh-Genome-Foundry/SnapGeneReader). The connection onward from GenBank format to

[2022-01-09 05:39] Akshat-Kumar-0610 commented on #184
Hi, @jakebeal; I am Akshat Kumar looking forward to contributing to this project through GSOC 2022, any suggestions from where to begin and what to learn before contributing to it. Here is my [Github Profile](https://github.com/Akshat-Kumar-0610) and one of my work in python which I would like to [show](https://github.com/Akshat-Kumar-0610/HostelAllotmentBITSDVM)

[2022-01-09 22:33] jakebeal commented on #184
@Akshat-Kumar-0610 The link that you provided is giving a "page not found" error for me: is it one of your private repositories?

[2022-01-10 08:24] Akshat-Kumar-0610 commented on #184
@jakebeal  I am really sorry, I can't make it public. I have given you contributor access to check it out.

[2022-01-11 03:01] pengbingyin commented on #184
We would like to extract promoters and terminators from S. cerevisiae and Y. lipolytica genome sequence basing on genome annotation, RNA seq, and Chip seq data. Also, we would like to test the promoters to verify their activities for a part library. I am wondering as well that whether we can develop a mySQL database on AWS.

[2022-01-11 03:35] MoHelmy opened #188 "Adding visualization of protein-complex interaction to openPIP"
### OVERVIEW
The [Open Source Protein Interaction Platform (openPIP)](http://baderlab.org/Software/openPIP) is an open-source software package for hosting protein-protein interaction (PPI) data based on the [PSI-MI-TAB format](https://code.google.com/archive/p/psimi/wikis/PsimiTab27Format.wiki). openPIP provides a PPI database and a customizable web interface that enables searching and visualizing

[2022-01-11 03:59] MoHelmy opened #189 "Improve the generation and customization of the analysis report of GeneCloudOmics"
### OVERVIEW
[GeneCloudOmics](http://combio-sifbi.org/GeneCloudOmics/) GeneCloudOmics an easy-to-use web server for high-throughput gene expression analysis a comprehensive range of data analytics tools in one package that no other current standalone software or web-based tool can do currently). GeneCloudOmics allows both microarray and RNA-Seq data analysis with a comprehensive range of data anal

[2022-01-16 18:59] jakebeal commented on #184
@Akshat-Kumar-0610 Thank you; I have had a chance to look at your work, and it seems you are in a reasonable starting point for this project in terms of your Python knowledge.

If you would like to familiarize yourself with the material for the project, I would suggest going through the [SBOL tutorial material on the data model and Python library that was presented at IWBDA 2021](https://github.co

[2022-01-16 19:00] jakebeal commented on #184
@pengbingyin I'm afraid that I'm a bit confused by your comments. All of what you are saying can be done with SBOL, but is out of scope of this particular project. Are you trying to propose a new project?

[2022-01-17 00:18] pengbingyin commented on #184
@jakebeal (1) Frankly speaking, I know little to nothing about programming. I will try my best to understand first. I saw your recommendation of BioPython in other track. I will take a look as well. (2) I am trying to start a project in this area to simulate the genetic engineering methods. Yes. I am trying to propose a new project. Can we have a discussion in another chance? (3) I am quite intere

[2022-01-17 08:03] Yash-g17 commented on #187
Hi @jakebeal @VishweshGitHub , I am Yash Gupta , a third year undergraduate. I am looking forward to contribute to this project for GSOC '22 . I have an year's worth of experience in Python . Being new to this project , any guidance on where and how to start would be very helpful.

[2022-01-17 11:49] jakebeal commented on #184
@pengbingyin I understand; this issues isn't the place for brainstorming new projects, but please feel free to reach out to the SBOL community for help as you are getting started on your project.

[2022-01-17 12:20] funasoul opened #190 "Implement an SBML simulator in pure Rust"
### Background
The programming language Rust has been used in various fields for its robust memory management while boasting execution speed comparable to the C/C++ language. It is now being applied to the development of bioinformatics tools.
In the future, these tools will be increasingly used via the Web, and implementation in the Rust language is expected to ensure the safety of these tools. Ag

[2022-01-17 14:53] marcoxa opened #191 "Expand Virasig, a dockerized viral mutational signatures framework pipeline."
### Background

Pathogens' vaccine escape and drug resistance are examples of
evolutionary processes. The natural way to study this process is to
analyze the genomic sequence of pathogens.  Accordingly, many works
have been published on consensus sequences to deliver phylogenetic
models and computational and epidemiological models of its diffusion.

However, the importance of considering low-frequ

[2022-01-17 17:02] alvinuday commented on #188
Hi Sir,
my name is Alvin Adarsh Kumar , I'm a second year CS undergrad with prior experience in front end development with HTML,CSS,JS , React and Vue. I wanted work on this issue with an enthusiasm to learn as well. I was hoping you could guide me further as to how i could get started with this issue?

[2022-01-18 18:17] cannin opened #192 "Create Jupyter Notebooks Showcasing COMBINE Standards"
### Background
The "Computational Modeling in Biology" Network (COMBINE, http://co.mbine.org/standards) is an initiative to coordinate the development of the various community standards and formats in systems biology and related fields.

### Goal
The goal is to produce a Python Google Colab (https://colab.research.google.com/) notebook (or several) that showcases these standards and their librarie

[2022-01-18 18:24] cannin opened #193 "NetBoxR Updates: Develop a Galaxy Platform Entry for NetBoxR, Pipeline for Processing cBioPortal Data, and Module Analysis Features"
### Background
netboxr (https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0234669) is an R package for the automated discovery of biological process modules by network analysis.

### Goals
This project has multiple goals (proposals should discuss at least 2 of these; they are ordered from most to least important):

* Add additional analysis features into netboxr, specifically (the

[2022-01-18 19:19] cannin opened #194 "Develop a Reactome Curation Support Tool that Maps Text to the Reactome Pathway Hierarchy"
### Background
Reactome (https://reactome.org/) is a free, open-source, curated, and peer-reviewed pathway database. The project features a number of curators that continually add new interaction information from the scientific literature. Curators go through many papers and the suitability of the information in one paper to a particular pathway may not be obvious.

### Goal
During GSOC 2020 (http

[2022-01-18 19:53] cannin opened #195 "Create a Pipeline to Utilize CellMinerCDB Pharmacogenomics Data with the Graph-Based Neural Network for Drug Response Prediction"
### Background
Drug response prediction is a challenging machine learning problem. The use of neural networks for this prediction challenge is still at an early stage. A major challenge with any drug response prediction is that the prediction be "interpretable" for follow-up experiments. "Interpretation" here means an understanding, for example, of how some protein Protein A was modified and bound

[2022-01-18 20:15] cannin opened #196 "Utilize the T5 Text-to-Text Transformer to Generate Descriptions of Interactions from Pathway Commons using WebNLG"
### Background
Data structured in databases is very useful for many applications, but text is a primary way that humans communicate on the internet. Being able to present query results as sentences can help humans understand rich datasets.

#### Data
Pathway Commons (http://pathwaycommons.org/) is an aggregated database of molecular interactions of millions of interactions. Data stored in the Path

[2022-01-19 06:18] yihangx opened #197 "Develop new features for Cytoscape App - cyPlot"
### Background
cyPlot (written in Java) is a Cytoscape App, and it provides the ability to plot data through GUI or CyCommands/REST. cyPlot uses plotly.js (https://github.com/plotly/plotly.js/) to achieve plot related functions. cyPlot also customizes plotly.js and PlotlyEditor to suit the needs of CyPlot. It currently support plots include heatmaps, violin plots, volcano plots, dot plots, line gr

[2022-01-21 20:03] #148 closed

[2022-01-23 13:41] Akshat-Kumar-0610 commented on #184
@jakebeal  I went through the tutorial you metioned and also going through SBOL-utilities library mentioned in issue itself. Can you please tell what needs to be done further.

[2022-01-24 10:38] Omarelsherif010 commented on #182
Hi @jakebeal, @tcmitchell,
I am Omar Elsherif and I am a medical informatics third-year undergraduate student. I have good experience using python for two years. I learned data analysis from Udacity and built some projects which you can find [here](https://github.com/Omarelsherif010/loans_data_visualization). I am interested in machine learning, and deep learning so I learned them during the last

[2022-01-24 11:02] Omarelsherif010 commented on #192
Hi @cannin ,
I am Omar Elsherif, I am a third-year medical informatics undergraduate student. I have good experience using python for machine learning and data analysis. I also use Google Colab to run my code. I want to work on this project for GSoC 22 so If you have some recommendations to start, kindly tell me in order to start right away

[2022-01-24 12:43] matthiaskoenig commented on #192
Hi @Omarelsherif010
I recommend having a look at the COMBINE standards first.
There is some high level introduction in the following publications:

And information on the webpage about COMBINE
http://co.mbine.org/
After having a high level view on what COMBINE is and the different standards are we can go more in the details.
Let me know if you have any questions.
Best Matthias

[2022-01-24 12:57] jakebeal commented on #182
@Omarelsherif010 A good starting point for familiarization with this material is [the SBOL tutorial material on the data model and Python library that was presented at IWBDA 2021](https://github.com/SynBioDex/Community-Media/tree/master/2021/IWBDA21).

[2022-01-24 12:59] jakebeal commented on #184
@Akshat-Kumar-0610 In the SBOL utilities project, there are [a number of issues marked with "good first issue"](https://github.com/SynBioDex/SBOL-utilities/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). I would suggest picking one of these issues and starting to work on your first pull request.

[2022-01-24 23:55] AlexanderPico opened #198 "Cytoscape App Store Upgrade"
### Background
The [Cytoscape App Store](http://apps.cytoscape.org/) is an interactive website for browsing, submitting and installing Cytoscape apps. [Cytoscape](http://cytoscape.org) is a free, open source  data visualization tool for biomedical research, focused on molecular networks. There are over 370 apps in the App Store that bring specialized functionality to Cytoscape, including database

[2022-01-25 00:00] AlexanderPico commented on #95
Just need one template: https://github.com/nrnb/GoogleSummerOfCode/blob/master/.github/ISSUE_TEMPLATE/gsoc-project-idea.md

[2022-01-25 00:00] #95 closed

[2022-01-25 00:17] AlexanderPico opened #199 "Updates to the Enrichment Table App"
### Background
[Cytoscape](http://www.cytoscape.org) is a highly popular open source bioinformatics software platform for visualizing, analyzing, and publishing graphs or networks representing molecular interactions, gene expression, other biological data. As a desktop platform, Cytoscape is one of the most successful open source projects in biology, and it is capable of integrating observational

[2022-01-25 09:51] Omarelsherif010 commented on #182
Thanks for sharing this @jakebea, I am working on the tutorials

[2022-01-26 06:04] ugurdogrusoz opened #200 "Schema and UI designer for Cytoscape.js"
### Background
Both [desktop](https://cytoscape.org/) and [web](http://js.cytoscape.org/) versions of Cytoscape are highly popular and widely used graph libraries / tools for visualizing relational data in various domains including biology.

### Goal
Tough Cytsocape.js allows one to customize the UI of the graph elements using css, a GUI based designer for end users to quickly put together complic

[2022-01-26 15:25] cannin opened #201 "Expanding Community Detection Algorithms in netboxr"
### Background
netboxr (https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0234669) is an R package for the automated discovery of biological process modules by network analysis.

### Goal
The goal is to add additional analysis features into netboxr, specifically

1. The ability to support weighted nodes in the module detection
2. The ability to parameterize the sizes of returned mo

[2022-01-28 09:12] SantamRC commented on #200
@ugurdogrusoz My name is Santam. I am proficient in JavaScript and Frontend Development using React. I would like to start contributing to this project. Can you guide me as to how to get started?

[2022-01-29 02:18] Abcdma commented on #198
Hey @AlexanderPico , I really like to work with django and want to start on this project. But the issues page mostly has very old issues, please guide on where I can start.

[2022-01-30 15:33] ugurdogrusoz commented on #200
@SantamRC Thanks for your interest. This is not the time to do this project. This is an idea, based on which you may put together a proposal hopefully when NRNB is selected as an organization. Feel free to learn related technologies, etc. though.

[2022-01-30 18:25] ArchitJain1201 commented on #186
Hello @khanspers @jakebeal; I am Archit Jain looking forward to contributing to this project for GSOC 2022, any suggestions from where to begin and what to learn before contributing to it. Here is my Github Profile [GitHub](https://github.com/ArchitJain1201)

[2022-01-30 18:40] jakebeal commented on #186
@ArchitJain1201 Glad to hear of your interest; please get in touch with potential mentors who are listed.

[2022-01-31 22:59] AlexanderPico commented on #198
@Abcdma Thanks for your interest. Those are the issues we've documented. @coleslaw481, Chris, do you have new issues or priorities on the list?

[2022-02-01 19:14] coleslaw481 commented on #198
A couple, upgrade to Django 3.2 LTS [ticket](https://github.com/cytoscape/appstore/issues/101) and a [ticket](https://github.com/cytoscape/appstore/issues/102) requiring SSL for License URLs that require confirmation

[2022-02-02 15:27] tcmitchell commented on #186
@jakebeal I corresponded with @ArchitJain1201 about this project and I was unable to provide guidance on Benchling. @ArchitJain1201 did not receive any reply from Vishwesh V Kulkarni. Are there other resources for information on Benchling?
@ArchitJain1201 has also expressed interest in [Conversion between GenBank and SBOL3](#183) #183

[2022-02-02 15:30] tcmitchell commented on #183
@ArchitJain1201 also expressed interest in this project. I sent the following background information in response to an email from @ArchitJain1201 requesting suggestions for where to begin. I am posting it here so others can clarify, elaborate, or correct this response, as well as for the benefit of others who might be interested in working on this task.

My reply:

See https://github.com/SynBioDex

[2022-02-02 18:36] jakebeal commented on #186
@ArchitJain1201 If you are interested in learning more in advance, I would suggest either 1) familiarizing yourself with the Benchling interface by following their "build your first app" tutorial, and/or 2) familiarizing yourself with SBOL via the tutorials.

[2022-02-03 16:20] scootermorris opened #202 "Add new community detection/clustering algorithms to clusterMaker2"
### Background
clusterMaker2 is a Cytoscape app that provides a wide variety of clustering, dimensionality reduction, and ranking tools for Cytoscape users.  It integrates into Cytoscape by using Cytoscape networks and tables for the source data and updating tables, as appropriate, with results.

### Goal
New community detection/dimensionality reduction tools are being developed all the time.  The

[2022-02-03 17:44] scootermorris opened #203 "Improve the visualization capabilities in clusterMaker2"
### Background
clusterMaker2 is a top-ten app for cytoscape that provides numerous clustering, dimensionality reduction, and visualization tools for Cytoscape networks and tables.  Currently, the dimensionality reduction visualizations are implemented in Java Swing using a simple Java 2D interface.  That interface should either be significantly improved, better integrated with CyPlot or another ex

[2022-02-03 17:55] scootermorris opened #204 "Palette Creator app for Cytoscape"
### Background
Cytoscape 3.7 implemented the concept of Palettes and Palette Providers into the core API.  A Palette simply provides an ordered list of colors and provides some information about the suggested usage (divergent gradients, sequential gradients, or qualitative [categorical] colors).  Cytoscape includes three different palette providers: Viridis, Brewer, and for backwards compatibility

[2022-02-04 09:15] Kartikkp07 commented on #192
Hi @cannin ,
I am Kartik Kumar Pawar, a CSE sophomore at BITS PILANI. I have good experience using python for about 6 years.I am also adept in JAVA with knowledge of OOPS and basic design patterns,I have also worked with both SQL and NoSQL database systems.I am really excited to know more about this project and contribute to it, with the aim of becoming a GSOC 22 contributor as well.
I kindly requ

[2022-02-04 09:21] Kartikkp07 commented on #197
Hi @yihangx ,
I am Kartik Kumar Pawar, a CSE sophomore at BITS PILANI. I have good experience using python for about 6 years.I am also adept in JAVA with knowledge of OOPS and basic design patterns,I have also worked with both SQL and NoSQL database systems.I am familiar with javascript and have worked with React and nodeJS as well. I am really excited to know more about this project and contribut

[2022-02-05 12:53] Panchiwalayash commented on #204
Hi @scootermorris @AlexanderPico,
I find this issue interesting and would like to work on it for Google Summer of Code 2022. Can you please guide me on how to proceed with the task?

Thank You.

[2022-02-06 17:13] Omarelsherif010 commented on #182
Hi @jakebeal, I have read [SBOL tutorials](https://github.com/SynBioDex/Community-Media/tree/master/2021/IWBDA21) you recommended and successfully build components and add them to a document as the tutorial asked.
Also, I have watched these lectures on YouTube: [Programming biology – controlling the flow of molecular machines empowering life (IWBDA 2021)](https://www.youtube.com/watch?v=gyOI7FmXfl

[2022-02-06 17:36] jakebeal commented on #182
@Omarelsherif010 If you would like to become fluent with the code base, I suggest jumping in and starting to use the code. One great way to do that would be to take a look at some of the [issues on pySBOL3 that are marked as "good first issue"](https://github.com/SynBioDex/pySBOL3/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) and see if you can make contributions to resolve them.

[2022-02-06 17:49] Omarelsherif010 commented on #182
Thanks a lot. I will definitely do that.

[2022-02-06 18:58] Kartikkp07 commented on #196
Hi @cannin ,
I am Kartik Kumar Pawar, a CSE sophomore at BITS PILANI. I have good experience using python for about 6 years.I am also adept in JAVA with knowledge of OOPS and basic design patterns,I have also worked with both SQL and NoSQL database systems.I am familiar with javascript and have worked with React and nodeJS as well. I am really excited to know more about this project and contribute

[2022-02-06 19:01] Kartikkp07 commented on #187
Hi @jakebeal ,
I am Kartik Kumar Pawar, a CSE sophomore at BITS PILANI. I have good experience using python for about 6 years.I am also adept in JAVA with knowledge of OOPS and basic design patterns,I have also worked with both SQL and NoSQL database systems.I am familiar with javascript and have worked with React and nodeJS as well. I am really excited to know more about this project and contribu

[2022-02-06 19:05] Kartikkp07 commented on #204
Hi @scootermorris  ,
I am Kartik Kumar Pawar, a CSE sophomore at BITS PILANI. I have good experience using python for about 6 years.I am also adept in JAVA with knowledge of OOPS and basic design patterns,I have also worked with both SQL and NoSQL database systems.I am familiar with javascript and have worked with React and nodeJS as well. I am really excited to know more about this project and co

[2022-02-06 19:51] jakebeal commented on #187
@Yash-g17 @Kartikkp07 If you'd like to learn more about the project and start familiarizing yourself with material, a good starting point is [the SBOL tutorial material on the data model and Python library that was presented at IWBDA 2021](https://github.com/SynBioDex/Community-Media/tree/master/2021/IWBDA21).

[2022-02-06 20:44] vcellmike opened #205 "ImageJ plugin for VCell modeling framework"
### Background

**In a nutshell:**  ImageJ (https://imagej.net/) is a software for manipulating images (2D, 3D = 2D stacks, time series, roughly operation with RGB matrices). VCell (http://vcell.org) is a modeling software that can take image as an input (e.g. initial distribution of proteins) or generate image as an output (e.g. prediction of distribution of proteins after certain reaction-diffus

[2022-02-08 20:03] AlexanderPico commented on #197
@Kartikkp07 Thanks for your interest. I'd recommend starting with the github repo link for CyPlot above. Can you build the app? Can you run the app in Cytoscape? Can you make a small, trivial edit to the code and then rebuild and run?

Then review the list of goals and brainstorm on how you'd implement those. Ask specific questions about the code or goals.

[2022-02-08 21:46] AlexanderPico commented on #197
And if anyone is new to developing Java extensions, here is a good "ladder" for Cytoscape app development in particular: https://github.com/cytoscape/cytoscape/wiki//Cytoscape-App-Ladder

[2022-02-10 17:38] AlexanderPico commented on #197
The best applicants are those that invest time into understanding the project (via the links above) and demonstrate their understanding by sharing their design and implementation ideas (in the application) and asking detailed questions when they get stuck (before the application).

[2022-02-10 17:44] AlexanderPico commented on #204
Here are some places to start:
 * Can you build Cytoscape from a clone of the repo? (see [README](https://github.com/cytoscape/cytoscape))
 * Can you identify where in the code the current palette management is handled?
 * Can you use palettes in the GUI, following one of the many tutorials at http://tutorials.cytoscape.org?
 * Can you provide mock-ups for the GUI users would use to add new palett

[2022-02-11 04:54] GunjanDhanuka commented on #196
Hi @cannin ! I am interested in this project, having used PyTorch and Tensorflow extensively for my projects. I also have strong knowledge of Python as I have done a Research Internship involving the use of Python for data analysis. I have made websites with Django as well, and know the basics of Java with good knowledge of OOPS.

Should we directly submit a proposal using the Google Doc template

[2022-02-16 02:30] EMUL8ER commented on #190
Hi I am shashwat,I would like to contribute to this project,could u please point me to the resources to get started.

[2022-02-16 03:01] TakahiroYamada commented on #190
Hi @EMUL8ER

I'm Takahiro, one of the potential mentor of this project.

Could you please introduce yourself first?
If you can tell us about your programming experience, your activities in the Open Source Community, and whether or not you have participated in GSoC before and etc, it will help us to facilitate and provide you with important reference material for this project.

Best.

Takahiro

[2022-02-16 03:29] EMUL8ER commented on #190
Hi @TakahiroYamada I have experience with C++,Python, and data structures and algorithms and also built curriculum projects in Machine Learning, I will learn rust as required, I am fairly new to the open source communtiy and never participated in gsoc, and wish to be part of it.
Thank you :)

[2022-02-16 05:35] TakahiroYamada commented on #190
Thanks for immediate response, @EMUL8ER .

OK. Since knowledge of Rust is essential to proceed this project, I think it is first necessary for you to understand Rust by referring to the contents of the following URLs and others.
https://doc.rust-lang.org/book/title-page.html

If you have any other good reference information about Rust, could you please add it? >> @ballaneypranav

As for numerical

[2022-02-16 06:03] EMUL8ER commented on #190
@TakahiroYamada  I took a university course on Numerical methods(euler,newton raphson, runge kutta, simpsons rule etc) but have no prior experience related to SBML, but I am willing to learn and invest time in this project.
Thank you

[2022-02-16 07:58] ballaneypranav commented on #190
Hi @EMUL8ER, thanks for your interest in this project. Here are some resources I found helpful last year.

**Rust:**
1. [Let's Get Rusty on YouTube](https://www.youtube.com/c/LetsGetRusty): Beginner videos here should be sufficient for starting out, check out the other two later if interested.
2. [The Rust Programming Language book](https://doc.rust-lang.org/book/): The book is an excellent resour

[2022-02-16 14:29] EMUL8ER commented on #190
@ballaneypranav  Thanks for the resources :)

[2022-02-17 01:39] TakahiroYamada commented on #190
Thanks @ballaneypranav !
Yes, Understanding the SBML specification is also very important for this project!
Please study this as well so that your simulator can be made to comply with this specification exactly. >> @EMUL8ER

And, I understand you have the basic knowledge about theory and direction of numerical integration.
As you know, various methods have been proposed for numerical integration t

[2022-02-17 10:21] EMUL8ER commented on #190
Thanks @TakahiroYamada @ballaneypranav,I have started learning these and will try my best to contribute to this codebase.
Thanks :)
Shashwat

[2022-02-17 10:54] ballaneypranav commented on #190
Sure, I'll try to create an application task over the weekend.

[2022-02-18 10:10] Yash-g17 commented on #197
@AlexanderPico I came across the error
`Could not find artifact org.cytoscape:presentation-api:jar:3.2.0-SNAPSHOT in cytoscape_snapshots (https://nrnb-nexus.ucsd.edu/repository/cytoscape_snapshots/)`
while building the Sample App - Create Network View , can you please guide me how to fix it

[2022-02-20 05:25] Yash-g17 commented on #197
@AlexanderPico I have gone through the Cytoscape App Development ladder . I tried building the CyPlot app but the server for downloading the resources(dependencies) has been down for quite a lot of time now.
![image](https://user-images.githubusercontent.com/57015747/154829717-4c821093-6e2f-42d3-af06-63e5c6afff55.png)

[2022-02-20 10:52] Kartikkp07 commented on #197
@AlexanderPico I went through the links and documentation provided on how to setup cytoscape,build and run apps ,etc. The build using the **pom.xml file** provided in the cyPlot files  has been successful after making a few system changes,but when I use these cyPlot tools, I am getting some errors:

<img width="652" alt="Screenshot 2022-02-20 at 4 05 05 PM" src="https://user-images.githubuserconte

[2022-02-23 10:04] matthiaskoenig commented on #192
Hi @Kartikkp07 and @Omarelsherif010,

if you are still interested in working on this please get into contact via email as soon as possible to plan further steps and writing the project proposal. Please write via konigmatt@googlemail.com, I will keep @cannin in the loop.

Best Matthias

[2022-02-23 11:36] matthiaskoenig opened #206 "AnnotateMe - Interactive tool for the annotation of SBML models"
![image](https://user-images.githubusercontent.com/900538/155311647-90c7815c-eeb5-4330-aa2b-ec1ecb0a96d1.png)

### Background
Life science researchers use computational models to articulate and test hypotheses about the behavior of biological systems. Semantic annotation is a critical component for enhancing the interoperability and reusability of such models as well as for the integration of the

[2022-02-23 18:03] AlexanderPico commented on #197
@yihangx Can you build the CyPlot app without errors. Do you have suggestions for @Kartikkp07 ?

[2022-02-23 19:05] AdamStuart commented on #197
As I read this, the build is now working, but there is a run time exception thrown.  I don’t remember much about it, but the volcano plot is inserting a ghost event to draw bounds on the mirror side of the axis.   Sounds like a lack of range checking.

Adam
(the original author)

[2022-02-23 20:29] Kartikkp07 commented on #197
I did some exploring and then I figured out there was some issue with the tables.As of now I have visualised as well as analysed the network created from galFiltered.csv provided in the sampleData of the Cytoscape app.However when I try to use any of the Cyplot tools to display a plot using certain columns from the node table it is now showing just a blank CyBrowser window (not throwing run time e

[2022-02-28 12:42] UtkarshChaurasia commented on #206
Hi @matthiaskoenig ,
I am Utkarsh Chaurasia, a final year B.Tech Computer Science Engineering student at SRM University, Chennai. Currently, I am working as SDE Intern at Red Hat India. I have experience in working with C++, Java, JavaScript, Python, and Golang. I would like to contribute to this project, could you please point me to the resources to get started.

[2022-03-01 00:29] matthiaskoenig commented on #206
Hi @UtkarshChaurasia. thanks for the interest in the project. Please contact me via email on konigmatt@googlemail with your CV so we can discuss next steps.
Best Matthias

[2022-03-01 05:29] UtkarshChaurasia commented on #206
Thanks for replying. I have mailed my CV.

[2022-03-03 02:21] Aakash-02 commented on #187
Hi @jakebeal,
I am aakash currently pursuing a dual degree on biological sciences at Indian Institute of Technology Madras(IITM). I have been coding on python for about an year now. I know basics of snap genes as well. I'd like to work on this project. Kindly guide me on how to get started.

[2022-03-03 02:38] jakebeal commented on #187
@Aakash-02 Application for support on the project goes through the standard Google Summer of Code process.  If you'd like to learn more about the project and start familiarizing yourself with material, please see the comment above yours.

[2022-03-03 02:42] pramit026 commented on #201
hi @cannin i am new to open source. i am willing to work on this project. can you please guide me ?

[2022-03-03 16:42] UtkarshChaurasia commented on #206
Hi @matthiaskoenig..as you said, I mailed you my CV. Would be grateful if you could let me know if there is any update on this.

[2022-03-05 12:51] anamika-yadav99 commented on #195
Hi! I'm Anamika. I'm 3rd year undergraduate student from New Delhi, India. I have recently started exploring ML+ bioinformatics. I have a strong foundation in python and strong inclination towards ML.I have experience of working bioinformatics project as well. I would like to work on this project. I have gone through the resources listed above. Could you please guide me with the contributions that

[2022-03-06 15:07] ahmedtarek26 commented on #195
Hi @cannin, @khanspers
I am Ahmed Tarek and I am a medical informatics 3rd-year undergraduate student. I have good experience using python for two years.
I take a Genetics course at college and did a project using some ML libraries, Biopython, Py3Dmol, and ngl-view which you can find [here](https://github.com/ahmedtarek26/Top-10-Studied-Genes). I am interested in machine learning, and deep learnin

[2022-03-06 15:11] ahmedtarek26 commented on #184
Hi @cannin, @khanspers
I am Ahmed Tarek and I am a medical informatics 3rd-year undergraduate student. I have good experience using python for two years.
I take a Genetics course at college and did a project using some ML libraries, Biopython, Py3Dmol, and ngl-view which you can find [here](https://github.com/ahmedtarek26/Top-10-Studied-Genes). I am interested in machine learning, and deep learnin

[2022-03-06 16:15] ahmedtarek26 commented on #187
Hi @jakebeal @tcmitchell @VishweshGitHub
I am Ahmed Tarek and I am a medical informatics 3rd-year undergraduate student. I have good experience using python for two years.
I am interested in machine learning, and deep learning so I joined Neuromatch Academy as an interactive student in which we used Pytorch.
I am working as a research assistant on a research paper in NLP and we are about to publis

[2022-03-06 16:27] ahmedtarek26 commented on #183
Hi @jakebeal @tcmitchell @cjmyers @bbartley
I am Ahmed Tarek and I am a medical informatics 3rd-year undergraduate student. I have good experience using python for two years.
I am interested in machine learning, and deep learning so I joined Neuromatch Academy as an interactive student in which we used Pytorch.
I am working as a research assistant on a research paper in NLP and we are about to pub

[2022-03-08 00:58] khanspers commented on #206
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:58] khanspers commented on #204
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:58] khanspers commented on #200
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:59] khanspers commented on #198
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:59] khanspers commented on #197
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:59] khanspers commented on #196
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:59] khanspers commented on #195
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:59] khanspers commented on #192
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 00:59] khanspers commented on #190
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:00] khanspers commented on #187
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:00] khanspers commented on #186
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:00] khanspers commented on #184
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:00] khanspers commented on #183
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:00] khanspers commented on #182
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:01] khanspers commented on #173
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 01:01] khanspers commented on #154
NRNB has officially been accepted as a mentoring organization for GSoC 2022! Here are some useful links:

- [Project proposal template](https://docs.google.com/document/d/1Zi6L38CHEeq2aL6xzv0Ozhd_Y6D71W3yCBGHplmxr6k/edit?usp=sharing)
- [GSoC contributor guide](https://google.github.io/gsocguides/student/)
- [Program timeline](https://developers.google.com/open-source/gsoc/timeline)

[2022-03-08 03:11] Omarelsherif010 commented on #182
That is great news. I will start working on my proposal for this project as soon as possible. I am really excited to start the process.

[2022-03-08 08:05] Sakshamgupta90 commented on #203
Hi @scootermorris,
I am Saksham Gupta, a second-year B.Tech student at Maharaja Agrasen Institute of Technology, Delhi. I am proficient in Java, JavaScript, and Frontend Development. I have no knowledge about Cytoscape but it would be an opportunity for me to know for the same and it would be fun. So I would like to contribute to this project, could you please point me to the resources to get star

[2022-03-09 08:02] amazein opened #207 "SBML-MINERVA support in Newt"
### Background
[Newt](http://newteditor.org) [1] is a [Cytoscape.js](http://js.cytoscape.org/) based viewer and editor for biological maps in Systems Biology Graphical Notation (SBGN) notation [2] to create biological maps from scratch or edit existing ones. It's been built (with partial support from GSoC) around an editing library named [ChiSE](https://github.com/iVis-at-Bilkent/chise.js), which

[2022-03-09 18:48] AkMo3 commented on #199
Hi everyone,
I am Akash Mondal, a sophomore at LNM Institute Of Information Technology pursuing B Tech Computer Science. I am currently working as a Backend Develop Intern, and have worked with various tech stacks like SpringBoot (Java), Mockito, ANTLR, React, Node etc. In past, I have contributed to multiple Open Source organizations and had been a Supervisor too. I am looking forward to working

[2022-03-09 19:12] ighosh98 commented on #199
Hi @AkMo3
A good place to start setting up and learning about Cytoscape would be the [Cytoscape App Ladder](https://github.com/cytoscape/cytoscape/wiki/Cytoscape-App-Ladder). You can also refer to the [Cytoscape tutorial](https://www.cgl.ucsf.edu/home/scooter/Cytoscape3DevTut/slides.pdf)
You can find the [current version of the app in the Cytoscape library](https://apps.cytoscape.org/apps/enrichme

[2022-03-09 22:52] ianxul commented on #194
Hello! My name is Ian Xul Belaustegui, I'm a Biology and Math major from Mexico, but I have a strong interest in software development and computer science. I think this project sounds really interesting and I would be very excited to participate in GSoC with nrnb. I will start by researching this project further and developing a better idea of the steps that would be necessary to complete it.
Howe

[2022-03-10 07:26] Shubhrajyoti-Dey-FrosTiK commented on #200
I am Shubhrajyoti Dey, 2nd year undergrad at Indian Institute of Technology (BHU) Varanasi . I have been pursuing MERN stack development for the past 1.5 years and have completed 3 internships in this area. I am interested to contribute in this project in GSoC 2022. Can anyone guide me how to get started ?

[2022-03-10 17:42] cannin commented on #201
@pramit026 I'm closing this issue in favor of #193. Check out the section on "Getting Started" on #193 to begin.

[2022-03-10 17:42] #201 closed

[2022-03-10 17:50] cannin commented on #193
@sajo25 Thanks for the interest. Take a look the "Getting Started" section above.

[2022-03-10 18:07] cannin commented on #194
@ianxul Feel free to reach out to me by email (see above) early next week with any initial ideas for a proposal. If there is any confusion, I will try to resolve your questions.

[2022-03-10 18:29] cannin commented on #195
@anamika-yadav99 @ahmedtarek26 I have updated the description of the project a little. I have added a "Getting Started" section to help you.

[2022-03-11 07:11] pramit026 commented on #193
Hi @cannin , I am Pramit and i'm currently pursuing Bachelor's in Pharmaceutical Technology and i want to contribute to this project.. can you please guide me ?

[2022-03-11 13:53] cannin commented on #193
@pramit026 Look at the "Getting Started" section.

[2022-03-13 15:33] ugurdogrusoz opened #208 "Improving web service for layout and rendering of networks"
### Background
Systems Biology Layout & Rendering Service ([SyBLaRS](https://github.com/iVis-at-Bilkent/syblars)) is a web service to lay out graphs in SBGNML, SBML, GraphML and JSON formats and/or produce corresponding images (in JPG, PNG or SVG formats) of the layouts in the backend.

### Goal
The goal of this project is to extend the service in certain ways, including but not limited to:
- Supp

[2022-03-14 13:34] #143 closed

[2022-03-14 15:46] cannin opened #209 "Create Patient Data Similarity Networks using TumorComparer"
## Background

TumorComparer (https://www.sciencedirect.com/science/article/pii/S2667237521000849?via%3Dihub) is an algorithm for mapping experimental model systems (i.e., cell lines) to patient samples by examining various -omic profiles.

cBioPortal (cbioportal.org) for Cancer Genomics is an open-access, open-source resource for interactive exploration of multidimensional cancer genomics data se

[2022-03-14 17:14] cannin opened #210 "Integrate the CausalPath Algorithm with the existing CausalPath Cytoscape App"
## Background
Last year, we developed a Cytoscape app for visualizing results from the CausalPath algorithm (https://github.com/cannin/causalpath_cytoscape_app and https://apps.cytoscape.org/apps/causalpathcytoscapeapp). The app currently takes as input two files that result from running CausalPath separately to produce a visualization.

## Goal
Integrate the CausalPath algorithm with the existing

[2022-03-14 18:10] tcmitchell commented on #182
@Omarelsherif010 please let us know if you need additional info for your proposal.

[2022-03-14 18:24] hasanbaig opened #211 "High-throughput simulation for computational cell biology with Cloud-COPASI"
### Background
[Cloud-COPASI](http://cloud-copasi-new.cam.uchc.edu) is a web-based tool for running computationally intensive simulation and analysis tasks with the COPASI simulator in parallel on high-performance computing pools. Cloud-COPASI can connect to existing computing pools, or alternatively launch a computing pool using Amazon’s Elastic Computing Cloud (EC2).

Cloud-COPASI can run a numb

[2022-03-14 18:28] Kartikkp07 commented on #196
Sure!!Thanks for the update, will start working on it asap.

[2022-03-15 04:05] AlexVelezLl commented on #208
Hi everyone! I am passionate about graph theory and I am quite interested in this project. I have a question, this project must be strictly developed in 12 weeks, or is there a possibility that it can be extended to 22 weeks?

[2022-03-15 05:00] osamaahmed17 commented on #154
@khanspers, is this still an open project for GSOC 2022?

[2022-03-15 08:50] ugurdogrusoz commented on #208
@AlexVelezLl this program is only for the summer. The goal of GSoC is to recruit new people into open source projects though. So, there is a chance that you would keep contributing after the summer.

[2022-03-15 14:41] osamaahmed17 commented on #211
This project seems to be interesting for GSOC 2022 and it could bring my experience of **Cloud Computing** and **Software Development** into action. Looking forward to contributing to it.

[2022-03-15 14:45] hasanbaig commented on #211
Thanks for showing your interest @osamaahmed17. Please have a look at the [Cloud-COPASI](http://cloud-copasi-new.cam.uchc.edu/) website and let us know if you have any queries regarding this. We have received your CV and will get back to you soon.

[2022-03-15 23:36] vcellmike commented on #154
Yes, the description was updated to leave only issues that are still unfinished.

[2022-03-16 02:58] AlexVelezLl commented on #208
@ugurdogrusoz  Thanks for the info!

[2022-03-16 14:46] aditya-ml commented on #192
Hi @matthiaskoenig and @cannin,

I am Aditya, a graduate student pursuing MSc in Computer Science at Lakehead University, Ontario, Canada. My research focuses on NLP-based approaches for analyzing social media and healthcare.

I am interested in contributing to this project. I have extensive experience implementing python for NLP in google colab and I have read through the papers suggested here to

[2022-03-17 10:58] ahmedtarek26 commented on #183
Hi @tcmitchell @jakebeal @bbartley @cjmyers,

I have read [the SBOL tutorial material on the data model and Python library that was presented at IWBDA 2021](https://github.com/SynBioDex/Community-Media/tree/master/2021/IWBDA21) and I have now a good understanding of SBOL, SBOL data model, what are SBOL composition, the difference between SBOL, FASTA, and GenBank.

Also, I have watched some videos

[2022-03-17 20:09] tcmitchell commented on #183
Hi @ahmedtarek26, thanks for your interest! Here are some links that should help you with next steps:
* The [links posted above](https://github.com/nrnb/GoogleSummerOfCode/issues/183#issuecomment-1061298686) by @khanspers
* The [Google Summer of Code (GSoC) timeline](https://developers.google.com/open-source/gsoc/timeline)
* The [GSoC program page](https://summerofcode.withgoogle.com/) (for contri

[2022-03-19 01:43] csvultrainstinct commented on #199
hello all, my name is vibhav. Currently working as a c++ developer, I have no prior open-source contributions. I have good theoretical knowledge of java, so is it possible for me to work on this project and learn java on the go.

[2022-03-19 04:37] ighosh98 commented on #199
Hi @csvultrainstinct
I have listed the resources you need to get started working on writing your proposal. Please go through the code that is already written. Your proposal should outline how you would go about improving the app.

[2022-03-19 04:50] csvultrainstinct commented on #199
@ighosh98 yeah sure I will go through the documention first , thank you sir

[2022-03-20 16:28] Kartikkp07 commented on #197
Hi,I just wanted to know if this project is still active and being considered as one of the potential projects for GSOC'22.

[2022-03-21 10:04] matthiaskoenig commented on #192
In addition:
- CellML & NeuroML: additional modeling languages
- COMBINE archive: library to store simulation studies
- pyomex: low level library for annotations

Use 2 example models:
- repressilator: https://www.ebi.ac.uk/biomodels/BIOMD0000000012; https://www.ebi.ac.uk/biomodels/content/model-of-the-month?year=2006&month=07

[2022-03-21 16:58] egonw opened #212 "GitHub Action to support WikiPathways curation"
### Background
WikiPathways has started putting GPML files on GitHub. With an GitHub action, the GPML is converted into other formats, including SVG. This approach is also used to run curation tests, to support the curators in improving the pathways. Tests can be simple, like testing for missing Xref identifiers or finding unconnected lines, but also more complex, like finding metabolites that get

[2022-03-21 19:51] AlexanderPico commented on #197
@Kartikkp07 Sorry for the confusion. There are two different plotting apps for Cytoscape at the moment. Ignore the "Plot Scatter" and "Plot Histogram" options. CyPlot is accessed from the `Tools` menu.

[2022-03-21 21:18] khanhcodes commented on #196
My name is Kaitlyn and I am a first-year undergraduate student majoring in Computer Science and Mathematics at the University of Georgia. I am very interested in joining NRNB for the summer and making contributions to the code. In terms of programming experience, I am familiar with Java, Python, and JavaScript. For bioinformatics data analysis, my skills/techniques include data cleaning, data visu

[2022-03-21 21:24] khanhcodes commented on #211
My name is Kaitlyn and I am a first-year undergraduate student majoring in Computer Science and Mathematics at the University of Georgia. I am very interested in joining this project for the summer and making contributions to the code. In terms of website development, I am familiar with JavaScript, React.js, Node,js, HTML, CSS, and BootStrap. I am not that exported on Django, but I am willing to l

[2022-03-21 21:32] khanhcodes commented on #208
My name is Kaitlyn and I am a first-year undergraduate student majoring in Computer Science and Mathematics at the University of Georgia. I am very interested in joining this project for the summer and making contributions to the code. In terms of web development experience, I am familiar with HTML, CSS, React.js, JavaScript, Bootstap, and JQuery for frontend development. For the backend, my skill

[2022-03-21 21:54] khanhcodes commented on #207
My name is Kaitlyn and I am a first-year undergraduate student majoring in Computer Science and Mathematics at the University of Georgia. I am very interested in joining your project (SBML-MINERVA support in Newt) for the summer and making contributions to the code. In terms of web development experience, I am familiar with HTML, CSS, Bootstrap, JQuery, and JavaScript for frontend development. For

[2022-03-22 09:49] matthiaskoenig commented on #206
Hi all,

we have a highly motivated student who will submit a proposal for this project and started the community binding.
I recommend for other GSOC contributors to select a different project from NRNB (https://github.com/nrnb/GoogleSummerOfCode/issues).

Best Matthias

[2022-03-22 09:50] matthiaskoenig commented on #192
Hi all,

we have a highly motivated student who will submit a proposal for this project and started the community binding.
I recommend for other GSOC contributors to select a different project from NRNB (https://github.com/nrnb/GoogleSummerOfCode/issues).

Best Matthias

[2022-03-22 13:11] hasanbaig commented on #211
Hi Kaitlyn,
Thanks for your interest in this project. Please share your email address. I will send you the reading material which will help you understand the project better.
Thanks.

[2022-03-22 18:18] Kartikkp07 commented on #197
I had tried both,but both didn't seem to work.

[2022-03-22 19:16] khanhcodes commented on #211
My email is knn53018@uga.edu. Please send me the material as I would love to get started working on this. Also, how many contributors do you generally accept for this project?

[2022-03-22 20:59] ahmedtarek26 commented on #183
Hi @tcmitchell,
I'm working on the proposal and there are some details I'll add but these days there are many college works I should do, so I'll continue the proposal soon. I hope to share a draft via email next Thursday if available.
Thanks for your time and help

[2022-03-22 23:04] AlexanderPico commented on #197
Can you list the steps you are doing? Provide details about exactly what you are clicking on and which column you are choosing, etc.  Information about your OS and Java version would also be relevant.

[2022-03-23 09:46] Kartikkp07 commented on #197
It seems like it was unable to plot when I just imported the .csv file and specifically selected the source and target column.However I used a different way and its working perfectly fine now,I am successfully able to plot using the Cyplot under the Tools option.

[2022-03-23 15:58] SandyW888 commented on #203
Hi @scootermorris,
Hello, I'm a senior undergraduate student major in Biochemistry and Computer Science in DePauw University. I'm familiar with bioinformatics and have taken the related class. I have used Cytoscape during the Bioinformatic class for gene clustering. I also have experience with python programming and Linux. I'm interested in your program since it's closely related to my research in

[2022-03-23 22:18] AlexanderPico commented on #197
Yes, we are here to give feedback on draft proposals.

[2022-03-24 00:44] inoue0426 commented on #195
Hi, @cannin @khanspers I'm interested in this project and writing up 1st draft.
Is this still open? If so, could you review my article?

[2022-03-24 02:45] cannin commented on #195
@inoue0426 yes still open, and i'm willing to review your proposal

[2022-03-24 05:21] anamika-yadav99 commented on #195
Hi @cannin  I'm almost done with the 1st draft.  Can I mail you my proposal as well?

[2022-03-24 06:24] Yash-g17 commented on #197
Hello Kartik , Can you please tell me how were you able to plot the table using cyplot in the tools menu

[2022-03-24 11:32] Kartikkp07 commented on #197
import .csv file using the following steps: file->import->table from file ,and then just use cyplot to plot

[2022-03-24 12:27] cannin commented on #195
@inoue0426 @anamika-yadav99 (and anyone else for this project) I'm willing to review proposals. Send a link to a Google Doc via email (see mentor info above).

[2022-03-24 21:07] khanspers commented on #211
Hi @khanhcodes: It's one contributor per project, and we won't know the total number of projects slots we are granted until after proposals are reviewed.

[2022-03-25 14:32] yash170106065 commented on #208
My name is Yash Agarwal and I graduated from the Indian Institute of Technology Guwahati (IIT Guwahati) and also worked on Graphspace which is also part of the NRNB organization so I have experience working with cytoscape.js, javascript, Html, Python Java, CSS, Jquery where I worked in implementing comment system for graphs, so I would like to work more with Cytoscape.js graphs and learn more abou

[2022-03-26 07:21] Ritwick01 commented on #209
Hello @cannin,
I am Ritwick Pal, a Computer Science and Social Sciences student. I was introduced to R in my econometrics course, and I am really interested to contribute to this project and take this opportunity to enhance my expertise over R. I am new to open-source, so can you please guide me as to how to get started.

[2022-03-26 11:15] Ritwick01 commented on #209
@cannin
I have done the first two parts of getting started, but I have trouble understanding the third point. Can you please help me understand it?

[2022-03-28 05:45] ugurdogrusoz commented on #208
@yash170106065 thanks for your interest in this project. given your past background, if investigate the related repositories, you should be able to put together a proposal for this project. Let us know if there is any particular issue by email.

[2022-03-28 21:19] KundeyVishwanath commented on #189
My name is Kundey Vishwanath and I am a second-year undergraduate student majoring in Computer Science Engineering . I am very much interested in joining this project for the summer and making contributions and my fully efforts to the code. In terms of development I am familiar with HTML, CSS, JS, R, shiny, Python, Java , C++, MERN stack. I have experience in  data analysis and data visualization

[2022-03-29 05:04] meagoodboy commented on #209
Hi @cannin!
I am Aswin Jose, a 3rd-year undergraduate research student (Btech in Computer science and MS in computational natural science) at the International Institute of Information Technology in Hyderabad, India. My research work primarily involves the analysis of TCGA data from a systems biological and ML perspective. I have been using R for analyzing multi-omics data for almost a year for my

[2022-03-29 06:47] Ritwick01 commented on #212
Hello,@egonw
I am Ritwick Pal, a second-year student at IIIT-Delhi. I have used been using Java for developmental work and even used it to develop projects including a game. I am really interested in contributing to this project. I am new to open-source, so can you please guide me as to how to get started.

[2022-03-29 07:04] egonw commented on #212
Please email me (egon.willighagen AT gmail) with more information about the Java projects you worked on and how they are build and, if applicable, how you currently use GitHub Actions.

[2022-03-29 14:01] cannin commented on #209
@Ritwick01 I have provided more instructions on the third point.

[2022-03-29 14:02] cannin commented on #209
@meagoodboy you can start by looking at the "Getting Started" section.

[2022-03-29 16:49] veb7vmehra commented on #202
Hey there @scootermorris I was going through the project details and I found it pretty interesting, the whole Cytoscape 3 app. As per my understanding the project is regarding first of all going over all the new clustering algorithms and examine which ones are actually efficient and should be included. The second part of the project will be to implement those algorithms at your level and final one

[2022-03-31 15:23] tcmitchell commented on #182
Here are some links from the GSoC Mentors mailing list that might be generally helpful to all who are interested in this project:
* [Naman Gera's Quora post](https://www.quora.com/How-can-I-apply-and-prepare-for-Google-Summer-of-Code/answer/Naman-Gera-11?ch=15&oid=238449657&share=ec4f0e17&srid=54exj&target_type=answer)
* [Sayak Paul's blog post](https://sayak.dev/gsoc-faqs/)

[2022-03-31 15:23] tcmitchell commented on #183
Here are some links from the GSoC Mentors mailing list that might be generally helpful to all who are interested in this project:
* [Naman Gera's Quora post](https://www.quora.com/How-can-I-apply-and-prepare-for-Google-Summer-of-Code/answer/Naman-Gera-11?ch=15&oid=238449657&share=ec4f0e17&srid=54exj&target_type=answer)
* [Sayak Paul's blog post](https://sayak.dev/gsoc-faqs/)

[2022-03-31 15:23] tcmitchell commented on #186
Here are some links from the GSoC Mentors mailing list that might be generally helpful to all who are interested in this project:
* [Naman Gera's Quora post](https://www.quora.com/How-can-I-apply-and-prepare-for-Google-Summer-of-Code/answer/Naman-Gera-11?ch=15&oid=238449657&share=ec4f0e17&srid=54exj&target_type=answer)
* [Sayak Paul's blog post](https://sayak.dev/gsoc-faqs/)

[2022-03-31 15:23] tcmitchell commented on #187
Here are some links from the GSoC Mentors mailing list that might be generally helpful to all who are interested in this project:
* [Naman Gera's Quora post](https://www.quora.com/How-can-I-apply-and-prepare-for-Google-Summer-of-Code/answer/Naman-Gera-11?ch=15&oid=238449657&share=ec4f0e17&srid=54exj&target_type=answer)
* [Sayak Paul's blog post](https://sayak.dev/gsoc-faqs/)

[2022-04-02 15:02] khanspers commented on #212
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:03] khanspers commented on #211
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:03] khanspers commented on #209
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:03] khanspers commented on #208
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:03] khanspers commented on #207
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:04] khanspers commented on #206
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:12] khanspers commented on #204
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:12] khanspers commented on #203
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:12] khanspers commented on #202
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:12] khanspers commented on #200
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:13] khanspers commented on #199
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:13] khanspers commented on #198
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:13] khanspers commented on #197
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:13] khanspers commented on #196
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:13] khanspers commented on #195
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:14] khanspers commented on #194
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:14] khanspers commented on #193
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:14] khanspers commented on #192
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:14] khanspers commented on #190
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:14] khanspers commented on #189
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:15] khanspers commented on #188
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:15] khanspers commented on #187
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:15] khanspers commented on #186
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:15] khanspers commented on #184
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:15] khanspers commented on #183
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:15] khanspers commented on #182
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:16] khanspers commented on #173
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:16] khanspers commented on #154
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:16] khanspers commented on #153
A reminder that the application period opens on Monday April 4. Proposals to NRNB must be submitted on the official GSoC Site (https://summerofcode.withgoogle.com/) before April 19, 18:00 UTC to be considered, and contributors are encouraged to submit proposals in draft format early, so that mentors can give feedback directly at the GSoC site.

[2022-04-02 15:47] meagoodboy commented on #209
@cannin
I have gone through the getting started part. Can you please recommend related research papers or other resources I can refer, to create a proposal.

[2022-04-02 18:43] cannin commented on #196
@khanhcodes and anyone else if you are interested and have worked on a proposal for this project. i'm willing to give comments before the deadline. create a google doc and send via email (see Potential Mentors section).

[2022-04-04 22:27] Kartikkp07 commented on #197
@AlexanderPico @scootermorris I was working through the codebase and was able to create the functions to convert the data to logarithmic values for implementing log scale,and to first test it out I decided to change the volcano plot of having negative log to simple positive log along with the required heading changes when displaying the graph in the CyBrowser and was successfully able to achieve i

[2022-04-04 22:46] scootermorris commented on #197
This is a great start!  Make sure to include this in your proposal write-up along with details on how you intend to polish, document and make these production-ready.  In general, I think that the idea is to modify the UI to support things like log and log/log axes rather than a completely different plot type.

[2022-04-04 23:17] Kartikkp07 commented on #197
Thanks for the clarification ,had a totally different interpretation of the goal.
I will make sure to include this in my proposal as well.

[2022-04-05 09:58] AkMo3 commented on #212
Hi @egonw, I am interested in contributing to this project. I had sent a mail containing all the required details. Please have a look.

[2022-04-06 06:23] VigneshReddyJulakanti commented on #198
Hey @AlexanderPico @coleslaw481 @scootermorris @yihangx  , I have installed Cytoscape and looked over it , Saw the need of improving app store , and also we are getting redirected to browser for app Store , so we can also make an integrated app Store , Where will I find the code for the Cytoscape app store and I am looking forward to work on this project for GSOC 2022 . I am Vignesh , 2 nd year of

[2022-04-06 06:26] yihangx commented on #198
@VigneshReddyJulakanti Here you are: https://github.com/cytoscape/appstore

[2022-04-06 13:00] VigneshReddyJulakanti commented on #198
Thanks @yihangx , like you all mentioned in the goals , opening the app store in Cytoscape browser , was a good idea , so we will be providing an option named , app Store , on clicking on that , a new Cytoscape browser window will be poped up ,and will show the web version of app Store . So now we should upgrade the web version of the app store as you mentioned .
So did I get it correct ? Any sugg

[2022-04-13 19:44] Umang03 commented on #210
My name is Umang Gupta and I am a third-year undergraduate student pursuing engineering at Maharaja Agrasen Institute of Technology. I am very interested in this project for the summer and making contributions to the code. I am familiar with JavaScript, React.js, Java, Node,js, HTML, CSS, and BootStrap. Plz guide me more about this Project .

[2022-04-13 21:24] Kartikkp07 commented on #197
Hi I was further updating my proposal and wanted to know the specific changes in UI expected to be completed in this project,besides the one discussed above.

[2022-04-13 22:51] Kartikkp07 commented on #197
Also I was a bit confused and was unable to find the code which involves linear regression,could you please help me with the same.

[2022-04-13 23:17] scootermorris commented on #197
Hi there,
There is no code that computes the linear regression, that's one of the features we hope you can add.

[2022-04-14 11:50] cannin commented on #210
@Umang03 You'll need to submit a proposal. See details here:
https://nrnb.org/gsoc.html Refer to the Goal/Getting Started section to give you ideas of the content that you need to address.

[2022-04-14 11:50] cannin commented on #210
@Umang03 You'll need to submit a proposal. See details here:
https://nrnb.org/gsoc.html Refer to the Goal/Getting Started section to give you ideas of the content that you need to address.

[2022-04-14 11:50] cannin commented on #210
@Umang03 You'll need to submit a proposal. See details here:
https://nrnb.org/gsoc.html Refer to the Goal/Getting Started section to give you ideas of the content that you need to address.

[2022-04-14 11:50] cannin commented on #210
@Umang03 You'll need to submit a proposal. See details here:
https://nrnb.org/gsoc.html Refer to the Goal/Getting Started section to give you ideas of the content that you need to address.

[2022-04-14 19:30] Umang03 commented on #210
Ok. I'll work on it.

[2022-04-14 22:11] AlexanderPico commented on #212
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:11] AlexanderPico commented on #211
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:11] AlexanderPico commented on #210
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:12] AlexanderPico commented on #209
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:12] AlexanderPico commented on #208
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:12] AlexanderPico commented on #207
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:12] AlexanderPico commented on #206
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:13] AlexanderPico commented on #204
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:14] AlexanderPico commented on #200
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:14] AlexanderPico commented on #199
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:15] AlexanderPico commented on #198
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:15] AlexanderPico commented on #197
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:15] AlexanderPico commented on #196
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:16] AlexanderPico commented on #195
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:16] AlexanderPico commented on #193
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:17] AlexanderPico commented on #192
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:17] AlexanderPico commented on #190
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:17] AlexanderPico commented on #187
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:18] AlexanderPico commented on #184
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:18] AlexanderPico commented on #183
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:18] AlexanderPico commented on #182
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-14 22:18] AlexanderPico commented on #154
**IMPORTANT REMINDER: GSoC 2022 is for new “beginners” to open source.**

Applicants are expected to review eligibility requirements prior to applying.  We can not accept applications from contributors with prior open source development experience. From the GSoC FAQ https://developers.google.com/open-source/gsoc/faq:

[2022-04-15 12:37] UtkarshChaurasia commented on #206
Thanks, @AlexanderPico for pointing this out. But I think I fulfill this eligibility criterion as I am a beginner open source contributor and have contributed to only one open-source project and that was not a major contribution as well.

[2022-04-15 20:17] Kartikkp07 commented on #197
@scootermorris for the prior contributions do I only mention if I have sent any pull requests or is it okay to list the changes I have made on my system such as those mentioned above along with a few comment corrections in the code?

[2022-05-21 05:29] egonw commented on #212
@AkMo3, thank you for applying to this position and working out the idea. And good luck with your selected project!

[2022-05-23 22:16] khanspers commented on #207
Closing because this is an active project for GSoC 2022.

[2022-05-23 22:16] #207 closed

[2022-05-23 22:16] khanspers commented on #199
Closing because this is an active project for GSoC 2022.

[2022-05-23 22:16] #199 closed

[2022-05-23 23:08] khanspers commented on #211
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:08] #211 closed

[2022-05-23 23:08] khanspers commented on #193
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:08] #193 closed

[2022-05-23 23:09] khanspers commented on #206
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:09] #206 closed

[2022-05-23 23:10] khanspers commented on #188
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:10] #188 closed

[2022-05-23 23:11] khanspers commented on #195
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:11] #195 closed

[2022-05-23 23:12] khanspers commented on #192
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:12] #192 closed

[2022-05-23 23:12] khanspers commented on #183
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:12] #183 closed

[2022-05-23 23:13] khanspers commented on #189
Closing because this is an active project for GSoC 2022.

[2022-05-23 23:13] #189 closed

[2022-09-10 04:19] chapaith opened #213 "Tools for Network Biology"
Hello,
I’m interested to contribute for this project. because I have worked on this kind of project, it will be easy for me.

[2022-09-10 19:05] AlexanderPico commented on #213
Great. Please research the proposed projects in this issue tracker and comment on the one you are most interested in. It's best to include specific questions and ideas that reflect that you have seriously looked into the issue and thought about how you'd implement a solution.

[2022-09-10 19:05] #213 closed

[2022-10-07 19:23] Gairick52 commented on #212
@egonw Hey i am beginner in this project can you suggest me beginner friendly issues to contribute to

[2022-10-08 06:58] egonw commented on #212
Hi, I don't know you and you have not introduced yourself. I cannot suggest anything like this.

[2022-10-08 07:02] Gairick52 commented on #212
@egonw apologies,i am gairick dam currently doing my masters in computer applications in mumbai,india i am new in open source world,please suggest me some beginner friendly issues

[2022-10-08 07:04] egonw commented on #212
If you are new to open source, working on issues is not the way to start. Instead, please consider instead:

* pick an open source tool you find interesting
* make sure to compile it locally and that you can run the tests
* think about what functionality you like to add
* implement that functionality
* submit your code as a patch

[2022-10-08 07:11] Gairick52 commented on #212
Thanks for your guidance i will follow this